
EXPID:  EXPNAME
EXPDSC: heracles-5.4p3
EXPSRC: EXPSRC 

COLLECTIONS: 
         'geosgcm_surf'
      #  'geosgcm_moist'
      #  'geosgcm_int'
         'geosgcm_rad'
	 'oletkf_ctrl'
	 'oletkf_ocn3d'
	 'oletkf_ocn2d'
	 'oletkf_seaice'
	 'geosgcm_ocn2d'
	 'geosgcm_ocn3d'
	 'geosgcm_ocn2dT'
         'geosgcm_ocn3dT'
	 'geosgcm_ocn2d_720x361'
	 'geosgcm_ocn3d_720x361'
         'geosgcm_icethm'
         'geosgcm_icecat'
         'geosgcm_iceint'
         'geosgcm_iceflx'
	 'geosgcm_seaice'
             ::

  oletkf_ctrl.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ctrl.archive:   '%c/Y%y4',
  oletkf_ctrl.format: 'CFIO',
  oletkf_ctrl.frequency:  060000,
  oletkf_ctrl.fields:   'T'     , 'MOM', 'temp',
                   	'S'     , 'MOM', 'salt'
              ::

  oletkf_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ocn3d.archive:   '%c/Y%y4',
  oletkf_ocn3d.format: 'CFIO',
  oletkf_ocn3d.frequency:  060000,
  oletkf_ocn3d.regrid_exch:  'tile_hist_720x361.data',
  oletkf_ocn3d.fields:  'T'     , 'MOM',
                     	'S'     , 'MOM'
              ::

  oletkf_ocn2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ocn2d.archive:   '%c/Y%y4',
  oletkf_ocn2d.format: 'CFIO',
  oletkf_ocn2d.frequency:  060000,
  oletkf_ocn2d.regrid_exch: 'tile_hist_720x361.data',
  oletkf_ocn2d.fields: 'SLV'    , 'MOM'
              ::

  oletkf_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_seaice.archive:   '%c/Y%y4',
  oletkf_seaice.format: 'CFIO',
  oletkf_seaice.frequency:  060000,
  oletkf_seaice.regrid_exch: 'tile_hist_720x361.data',
  oletkf_seaice.fields:      'HICE'        , 'SEAICE',
                              'AICE'        , 'SEAICE',
                              'DRAFT'       , 'SEAICE',
                              'HSNO'        , 'SEAICE'
              ::



  geosgcm_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d.archive:   '%c/Y%y4',
  geosgcm_ocn3d.format: 'CFIO',	   	
  geosgcm_ocn3d.mode: 'time-averaged',
  geosgcm_ocn3d.frequency:  240000,
  geosgcm_ocn3d.regrid_exch: 'tile_hist_360x180.bin',
  geosgcm_ocn3d.levels: 'vgrid.ascii'
  geosgcm_ocn3d.fields:  'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
                     'TCON'  , 'MOM',
                     'SWHEAT', 'OCEAN',
                      ::

  geosgcm_ocn2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2d.archive:   '%c/Y%y4',
  geosgcm_ocn2d.format: 'CFIO',
  geosgcm_ocn2d.mode: 'time-averaged',
  geosgcm_ocn2d.frequency:  240000,
  geosgcm_ocn2d.regrid_exch: 'tile_hist_360x180.bin',
  geosgcm_ocn2d.fields:    'US'    , 'OCEAN',
                   'VS'    , 'OCEAN',
                   'TS'    , 'OCEAN',
                   'SS'    , 'OCEAN',
                   'SSH'    , 'MOM',
                   'SLV'    , 'MOM'
                   'QFLUX' , 'OCEAN',
                   'HFLUX' , 'OCEAN',
                   'SFLUX' , 'OCEAN',
                   'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
                   'HW0'   , 'OCEAN',
                   'TW0'   , 'OCEAN',
                   'SW0'   , 'OCEAN',
                   'HW1'   , 'OCEAN',
                   'TW1'   , 'OCEAN',
                   'SW1'   , 'OCEAN',
                   'TSCALE', 'OCEAN',
                   'FRO'   , 'OCEAN',
                   'MASKO'   , 'OCEAN',
                   'MLD'   ,    'MOM',
                   'DISCHARGE'   ,    'MOM',
                      ::


  geosgcm_ocn3dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3dT.archive:   '%c/Y%y4',
  geosgcm_ocn3dT.format: 'CFIO',
  geosgcm_ocn3dT.mode: 'time-averaged',
  geosgcm_ocn3dT.frequency:  240000,
  geosgcm_ocn3dT.fields:    'T'    , 'MOM',
                   'S'    , 'MOM',
                   'U'    , 'MOM',
                   'V'    , 'MOM',
		   ::


  geosgcm_ocn2dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2dT.archive:   '%c/Y%y4',
  geosgcm_ocn2dT.format: 'CFIO',
  geosgcm_ocn2dT.mode: 'time-averaged',
  geosgcm_ocn2dT.frequency:  240000,
  geosgcm_ocn2dT.fields:    'US'    , 'OCEAN',
                   'VS'    , 'OCEAN',
                   'TS'    , 'OCEAN',
                   'SS'    , 'OCEAN',
                   'PBO'    , 'OCEAN',
                   'SSH'    , 'MOM',
                   'SLV'    , 'MOM'
                   'QFLUX' , 'OCEAN',
                   'HFLUX' , 'OCEAN',
                   'SFLUX' , 'OCEAN',
                   'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
                   'HW0'   , 'OCEAN',
                   'TW0'   , 'OCEAN',
                   'SW0'   , 'OCEAN',
                   'HW1'   , 'OCEAN',
                   'TW1'   , 'OCEAN',
                   'SW1'   , 'OCEAN',
                   'TSCALE', 'OCEAN',
                   'FRO'   , 'OCEAN',
                   'MASKO'   , 'OCEAN',
                   'MLD'   ,    'MOM',
                   'DISCHARGE'   ,    'MOM',
                   ::


  geosgcm_ocn3d_720x361.template:    '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d_720x361.archive:     '%c/Y%y4',
  geosgcm_ocn3d_720x361.format:      'CFIO',	   	
  geosgcm_ocn3d_720x361.mode: 'time-averaged',
  geosgcm_ocn3d_720x361.frequency:   240000,
  geosgcm_ocn3d_720x361.regrid_exch: 'tile_hist_720x361.bin',
  geosgcm_ocn3d_720x361.levels:      'vgrid.ascii'
  geosgcm_ocn3d_720x361.fields: 'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                      ::

  geosgcm_ocn2d_720x361.template:    '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2d_720x361.archive:     '%c/Y%y4',
  geosgcm_ocn2d_720x361.format:      'CFIO',
  geosgcm_ocn2d_720x361.mode: 'time-averaged',
  geosgcm_ocn2d_720x361.frequency:   240000,
  geosgcm_ocn2d_720x361.regrid_exch: 'tile_hist_720x361.bin',
  geosgcm_ocn2d_720x361.fields:      'US'    , 'OCEAN',
                   'VS'    , 'OCEAN',
                   'TS'    , 'OCEAN',
                   'SS'    , 'OCEAN',
		   'SSH'   , 'MOM',
		   'SLV'   , 'MOM'
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
		   'MLD'   , 'MOM',
		   'DISCHARGE' , 'MOM',
                      ::

  geosgcm_icecat.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_icecat.archive:   '%c/Y%y4',
  geosgcm_icecat.format: 'CFIO',
  geosgcm_icecat.mode: 'time-averaged',
  geosgcm_icecat.frequency:  240000,
  geosgcm_icecat.fields:    'AICEN'          , 'SEAICE',
                            'VICEN'          , 'SEAICE',
                            'HIFLXE'         , 'SEAICE',
                            'HIFLXN'         , 'SEAICE',
                           ::

  geosgcm_iceflx.template:   '%y4%m2%d2.nc4',
  geosgcm_iceflx.archive:   '%c/Y%y4',
  geosgcm_iceflx.format:     'CFIO',
  geosgcm_iceflx.mode:       'time-averaged',
  geosgcm_iceflx.frequency:   240000,
  geosgcm_iceflx.regrid_exch:'tile.bin',
  geosgcm_iceflx.regrid_name:'PE720x410-TM',
  geosgcm_iceflx.fields:     'FCONDBOTN'      , 'SALTWATER', 'fcondbot',
                           ::

  geosgcm_iceint.template:   '%y4%m2%d2.nc4',
  geosgcm_iceint.archive:   '%c/Y%y4',
  geosgcm_iceint.format:     'CFIO',
  geosgcm_iceint.mode:       'time-averaged',
  geosgcm_iceint.frequency:   240000,
  geosgcm_iceint.regrid_exch:'tile.bin',
  geosgcm_iceint.regrid_name:'PE720x410-TM',
  geosgcm_iceint.fields:     'TINZ'           , 'SALTWATER', 'tinz'    ,
                           ::

  geosgcm_icethm.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_icethm.archive:   '%c/Y%y4',
  geosgcm_icethm.format:     'CFIO',
  geosgcm_icethm.mode: 'time-averaged',
  geosgcm_icethm.frequency:   240000,
  geosgcm_icethm.regrid_exch:'tile_hist.bin',
  geosgcm_icethm.regrid_name:'PE720x410-TM',
  geosgcm_icethm.fields:   'DVIDTT'              , 'SALTWATER',  'dvidtt',
                           'DAIDTT'              , 'SALTWATER',  'daidtt',
                           'FBOT'                , 'SALTWATER',  'fbot',
                           'FHOCN'               , 'SALTWATER',  'fhocn',
                           'FSWABS'              , 'SALTWATER',  'fswabs', 
                           'FSWTHRU'             , 'SALTWATER',  'fswthru', 
                           'USTARI'              , 'SALTWATER',  'ustari', 
                           'GHTSKIN'             , 'SALTWATER',  'ghtskin', 
                           'FCONDTOP'            , 'SALTWATER',  'fcondtop', 
                           'FCONDBOT'            , 'SALTWATER',  'fcondbot', 
                           'FWFLUX'              , 'SALTWATER',
                           'MELTT'               , 'SALTWATER',
                           'MELTB'               , 'SALTWATER',
                           'MELTL'               , 'SALTWATER',
                           'MELTS'               , 'SALTWATER',
                           'CONGEL'              , 'SALTWATER',
                           'FRAZIL'              , 'SALTWATER',
                           'SNOICE'              , 'SALTWATER',
                           'FRESH'               , 'SALTWATER',
                           'FSALT'               , 'SALTWATER',
                           'SUBLIM'              , 'SALTWATER',
                           'SNOWOCN'             , 'SALTWATER',
                           'SNOONICE'            , 'SALTWATER',
                           'AHTFLX'              , 'SALTWATER',
                           'PENUVF'              , 'SALTWATER',
                           'PENUVR'              , 'SALTWATER',
                           'PENPAF'              , 'SALTWATER',
                           'PENPAR'              , 'SALTWATER',
                           ::

  geosgcm_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_seaice.archive:   '%c/Y%y4',
  geosgcm_seaice.format: 'CFIO',
  geosgcm_seaice.mode: 'time-averaged',
  geosgcm_seaice.frequency:  240000,
  geosgcm_seaice.fields:     'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'VEL'         , 'SEAICE',
                             'STRENGTH'    , 'SEAICE',
                             'SHEAR'       , 'SEAICE',
                             'DIVU'        , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HICE0'       , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             'HSNO0'       , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DRAFT0'      , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'DVIDTD'      , 'SEAICE', 
                             'DAIDTD'      , 'SEAICE', 
                             'DVIRDGDT'    , 'SEAICE',
                             'STRCORX'     , 'SEAICE',
                             'STRCORY'     , 'SEAICE',
                             'STRTLTX'     , 'SEAICE',
                             'STRTLTY'     , 'SEAICE',
                             'STRINTX'     , 'SEAICE',
                             'STRINTY'     , 'SEAICE',
                             'TAUXOCNB'    , 'SEAICE',
                             'TAUYOCNB'    , 'SEAICE',
                             'TAUXI'       , 'SEAICE',
                             'TAUYI'       , 'SEAICE',
                             'TAUXIB'      , 'SEAICE',
                             'TAUYIB'      , 'SEAICE',
                             'TAUXBOT'     , 'SEAICE',
                             'TAUYBOT'     , 'SEAICE',
                             'UOCN'        , 'SEAICE',
                             'VOCN'        , 'SEAICE',
                             'SSH'         , 'SEAICE',
                             'SLV'         , 'SEAICE',
                             'AREA'        , 'SEAICE',
                             'FROCEAN'     , 'SEAICE',
                             'TMASK'       , 'SEAICE',
                              ::

  geosgcm_int.format:        'CFIO' ,
  geosgcm_int.archive:       '%c/Y%y4',
  geosgcm_int.descr:         '2d, Daily, Time-Averaged,Single-Level,Assimilation,Vertically Integrated Diagnostics' ,
  geosgcm_int.template:      '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_int.mode:          'time-averaged' ,
  geosgcm_int.conservative:  1 ,
  geosgcm_int.resolution:    360 181 ,
  geosgcm_int.frequency:     240000 ,
  geosgcm_int.fields:             'UCPT'          , 'DYN'         , 'UFLXCPT'      ,
                                  'VCPT'          , 'DYN'         , 'VFLXCPT'      ,
                                  'UPHI'          , 'DYN'         , 'UFLXPHI'      ,
                                  'VPHI'          , 'DYN'         , 'VFLXPHI'      ,
                                  'UKE'           , 'DYN'         , 'UFLXKE'       ,
                                  'VKE'           , 'DYN'         , 'VFLXKE'       ,
                                  'UQV'           , 'DYN'         , 'UFLXQV'       ,
                                  'VQV'           , 'DYN'         , 'VFLXQV'       ,
                                  'UQL'           , 'DYN'         , 'UFLXQL'       ,
                                  'VQL'           , 'DYN'         , 'VFLXQL'       ,
                                  'UQI'           , 'DYN'         , 'UFLXQI'       ,
                                  'VQI'           , 'DYN'         , 'VFLXQI'       ,
                                  :: 


  geosgcm_moist.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_moist.archive:   '%c/Y%y4',
  geosgcm_moist.format:    'CFIO',
  geosgcm_moist.mode: 'time-averaged',
  geosgcm_moist.frequency:  240000,
  geosgcm_moist.resolution: 360 181,
  geosgcm_moist.vscale:     100.0,
  geosgcm_moist.vunit:     'hPa',
  geosgcm_moist.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_moist.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_moist.fields:    'PHIS'    , 'AGCM'          ,
                           'QL'      , 'MOIST'         ,
                           'QI'      , 'MOIST'         ,
                           'QR'      , 'MOIST'         ,
                           'RI'      , 'MOIST'         , 'RICE'   ,
                           'RL'      , 'MOIST'         , 'RLIQ'   ,
                           'RH1'     , 'MOIST'         ,
                           'CNV_MF0' , 'MOIST'         , 'CNVMF0' ,
                           'CNV_MFD' , 'MOIST'         , 'CNVMFD' ,
                           'CNV_MFC' , 'MOIST'         , 'CNVMFC' ,
                           'REV_CN'  , 'MOIST'         , 'REVCN'  ,
                           'REV_AN'  , 'MOIST'         , 'REVAN'  ,
                           'REV_LS'  , 'MOIST'         , 'REVLS'  ,
                           'RSU_CN'  , 'MOIST'         , 'RSUCN'  ,
                           'RSU_AN'  , 'MOIST'         , 'RSUAN'  ,
                           'RSU_LS'  , 'MOIST'         , 'RSULS'  ,
                           'THIM'    , 'PHYSICS'       ,
                           'EVAPC'   , 'MOIST'         ,
                           'SUBLC'   , 'MOIST'         ,
                           'FCLD'    , 'MOIST'         ,
                           'CLCN'    , 'MOIST'         ,
                           'CLLS'    , 'MOIST'         ,
                           'QICN'    , 'MOIST'         ,
                           'QILS'    , 'MOIST'         ,
                           'QLCN'    , 'MOIST'         ,
                           'QLLS'    , 'MOIST'         ,
                           ::

  geosgcm_rad.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_rad.archive:   '%c/Y%y4',
  geosgcm_rad.format:    'CFIO',
  geosgcm_rad.mode:      'time-averaged',
  geosgcm_rad.frequency:  240000,
  geosgcm_rad.resolution: 720 361,
  geosgcm_rad.fields:    'PHIS'          , 'AGCM'     ,
                          'TAUTT'    , 'SOLAR'         ,
                          'TAULO'    , 'SOLAR'         ,
                          'TAUMD'    , 'SOLAR'         ,
                          'TAUHI'    , 'SOLAR'         ,
                          'CLDTT'    , 'SOLAR'         ,
                          'CLDLO'    , 'SOLAR'         ,
                          'CLDMD'    , 'SOLAR'         ,
                          'CLDHI'    , 'SOLAR'         ,
                          'RADSRF'   , 'RADIATION'     ,
                          'FLNS'      , 'IRRAD'        ,
                          'FLNSC'     , 'IRRAD'        ,
                          'FLNSA'     , 'IRRAD'        , 'FLNSCNA'   ,
                          'OLR'       , 'IRRAD'        ,
                          'OLC'       , 'IRRAD'        , 'OLRC'      ,
                          'OLA'       , 'IRRAD'        , 'OLRCNA'    ,
                          'LWS'       , 'IRRAD'        ,
                          'LCS'       , 'IRRAD'        , 'LWSC'      ,
                          'LAS'       , 'IRRAD'        , 'LWSCNA'    ,
                          'SFCEM'     , 'IRRAD'        ,
                          'CLDTMP'    , 'SOLAR'        , 'SWCLDTMP'  ,
                          'CLDPRS'    , 'SOLAR'        , 'SWCLDPRS'  ,
                          'OSR'       , 'SOLAR'        ,
                          'OSRCLR'    , 'SOLAR'        ,
                          'RSR'       , 'SOLAR'        , 'SWTNET'    ,
                          'RSC'       , 'SOLAR'        , 'SWTNETC'   ,
                          'RSCNA'     , 'SOLAR'        , 'SWTNETCNA' ,
                          'RSRNA'     , 'SOLAR'        , 'SWTNETNA'  ,
                          'SLRTP'     , 'SOLAR'        , 'RADSWT'    ,
                          'SLRSF'     , 'SOLAR'        , 'SWGDWN'    ,
                          'SLRSFC'    , 'SOLAR'        , 'SWGDWNC'   ,
                          'RSRS'      , 'SOLAR'        , 'SWGNET'    ,
                          'RSCS'      , 'SOLAR'        , 'SWGNETC'   ,
                          'RSRSNA'    , 'SOLAR'        , 'SWGNETNA'  ,
                          'RSCSNA'    , 'SOLAR'        , 'SWGNETCNA' ,
                          'ALBEDO'    , 'SOLAR'        ,
                          'ALBVR'     , 'SOLAR'        ,
                          'ALBVF'     , 'SOLAR'        ,
                          'ALBNR'     , 'SOLAR'        ,
                          'ALBNF'     , 'SOLAR'        ,
                          'COSZ'      , 'SOLAR'        ,
                          'EMIS'      , 'SURFACE'      ,
                           ::

  geosgcm_surf.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_surf.archive:   '%c/Y%y4',
  geosgcm_surf.format:    'CFIO',
  geosgcm_surf.mode:      'time-averaged',
  geosgcm_surf.frequency:  240000,
  geosgcm_surf.resolution: 720 361,
  geosgcm_surf.fields:    'PHIS'          , 'AGCM'     ,
                          'SGH'           , 'AGCM'     ,
                          'VARFLT'        , 'AGCM'     ,
                          'TROPP_EPV'     , 'AGCM'     ,  'TROPPV' ,
                          'TROPP_THERMAL' , 'AGCM'     ,  'TROPPT' ,
                          'TROPP_BLENDED' , 'AGCM'     ,  'TROPPB' ,
                          'TROPT'         , 'AGCM'     ,
                          'TROPQ'         , 'AGCM'     ,
                          'QVFILL'   , 'AGCM'          ,
                          'OXFILL'   , 'AGCM'          ,
                          'TA'       , 'DYN'           ,
                          'QA'       , 'DYN'           ,
                          'US;VS'    , 'DYN'           ,
                          'PS'       , 'DYN'           ,
                          'SPEED'    , 'DYN'           ,
                          'ZPBL'     , 'TURBULENCE'    ,  'PBLH'   ,
                          'TS'       , 'SURFACE'       ,
                          'QS'       , 'SURFACE'       ,
                          'THAT'     , 'SURFACE'       ,
                          'QHAT'     , 'SURFACE'       ,
                          'RASTIME'  , 'MOIST'         ,
                          'RASPBLQ'  , 'MOIST'         ,
                          'CN_PRCP'  , 'MOIST'         , 'CNPRCP' ,
                          'LS_PRCP'  , 'MOIST'         , 'LSPRCP' ,
                          'AN_PRCP'  , 'MOIST'         , 'ANPRCP' ,
                          'SNO'      , 'MOIST'         ,
                          'PLS'      , 'MOIST'         ,
                          'PCU'      , 'MOIST'         ,
			              'TPREC'    , 'MOIST'         ,
                          'LWP'      , 'MOIST'         ,
                          'CCWP'     , 'MOIST'         ,
                          'SPLAND'   , 'SURFACE'       ,
                          'SPWATR'   , 'SURFACE'       ,
                          'RUNSURF'  , 'SURFACE'       ,
                          'BASEFLOW' , 'SURFACE'       ,
                          'CT'       , 'SURFACE'       ,
                          'CQ'       , 'SURFACE'       ,
                          'CN'       , 'SURFACE'       ,
                          'CM'       , 'SURFACE'       ,
                          'RI'       , 'SURFACE'       , 'RISFC' ,
                          'LAI'      , 'SURFACE'       ,
                          'GRN'      , 'SURFACE'       ,
                          'SNOMAS'   , 'SURFACE'       ,
                          'ITY'      , 'SURFACE'       , 'VEGTYPE' ,
                          'WET1'     , 'SURFACE'       ,
                          'WET2'     , 'SURFACE'       ,
                          'WET3'     , 'SURFACE'       ,
                          'TSOIL1'   , 'SURFACE'       ,
                          'TSOIL2'   , 'SURFACE'       ,
                          'FRLAND'   , 'SURFACE'       ,
                          'FRLANDICE', 'SURFACE'       ,
                          'FRLAKE'   , 'SURFACE'       ,
                          'FRACI'    , 'SURFACE'       , 'FRSEAICE' ,
                          'FROCEAN'  , 'SURFACE'       ,
                          'USTAR'    , 'SURFACE'       ,
                          'Z0'       , 'SURFACE'       ,
                          'Z0H'      , 'SURFACE'       ,
                          'LHFX'     , 'SURFACE'       ,
                          'SH'       , 'SURFACE'       , 'SHFX'     ,
                          'EVAP'     , 'SURFACE'       ,
                          'TAUX;TAUY', 'SURFACE'       ,
                          'RHOS'     , 'SURFACE'       ,
                          'U2M;V2M'  , 'SURFACE'       ,
                          'T2M'      , 'SURFACE'       ,
                          'Q2M'      , 'SURFACE'       ,
                          'U10N;V10N', 'SURFACE'       ,
                          'U10M;V10M', 'SURFACE'       ,
                          'T10M'     , 'SURFACE'       ,
                          'Q10M'     , 'SURFACE'       ,
                          'U50M;V50M', 'SURFACE'       ,
                          'GUST'     , 'SURFACE'       ,
                          'VENT'     , 'SURFACE'       ,
                          'ASNOW'    , 'SURFACE'       ,
                          'EVLAND'    , 'SURFACE'      ,
                          'LHLAND'    , 'SURFACE'      ,
                          'SHLAND'    , 'SURFACE'      ,
                          'SWLAND'    , 'SURFACE'      ,
                          'LWLAND'    , 'SURFACE'      ,
                          'GHLAND'    , 'SURFACE'      ,
                          'SMLAND'    , 'SURFACE'      ,
                          'TWLAND'    , 'SURFACE'      ,
                          'TELAND'    , 'SURFACE'      ,
                          'DZ'        , 'DYN'          ,  'HLML',
                          'RUNOFF'    , 'SURFACE'       ,
                          'DISCHARGE' , 'SURFACE'       ,
# additonal exports for skin SST
#                          'EVAPOUT'  , 'SURFACE'  ,
#                          'DCOOL'    , 'SURFACE'  ,
#                          'DWARM'    , 'SURFACE'  ,
#                          'TDROP'    , 'SURFACE'  , 'DELT_COOL' ,
#                          'TS_FOUND' , 'SURFACE'  , 'BULK_SST' ,
#                          'TDEL'     , 'SURFACE'  ,
#                          'BCOOL'    , 'SURFACE'  ,
#                          'LCOOL'    , 'SURFACE'  ,
#                          'TBAR'     , 'SURFACE'  ,
#                          'USTARW'   , 'SURFACE'  ,
#                          'SWCOOL'   , 'SURFACE'  ,
#                          'QCOOL'    , 'SURFACE'  ,
#                          'DELTS'    , 'SURFACE'  ,
#                          'QWARM'    , 'SURFACE'  ,
#                          'SWWARM'   , 'SURFACE'  ,
#                          'LANGM'    , 'SURFACE'  ,
#                          'PHIW'     , 'SURFACE'  ,
#                          'TAUTW'    , 'SURFACE'  ,
#                          'ZETA_W'   , 'SURFACE'  ,
#                          'CNLAI'    , 'SURFACE'  ,
#                          'CNTLAI'   , 'SURFACE'  ,
#                          'CNSAI'    , 'SURFACE'  ,
#                          'CNTOTC'   , 'SURFACE'  ,
#                          'CNVEGC'   , 'SURFACE'  ,
#                          'CNROOT'   , 'SURFACE'  ,
#                          'CNNPP'    , 'SURFACE'  ,
#                          'CNGPP'    , 'SURFACE'  ,
#                          'CNSR'     , 'SURFACE'  ,
#                          'CNNEE'    , 'SURFACE'  ,
#                          'CNXSMR'   , 'SURFACE'  ,
#                          'CNADD'    , 'SURFACE'  ,
#                          'PARABS'   , 'SURFACE'  ,
#                          'PARINC'   , 'SURFACE'  ,
#                          'SCSAT'    , 'SURFACE'  ,
#                          'SCUNS'    , 'SURFACE'  ,
#                          'BTRANT'   , 'SURFACE'  , 'BTRAN'     ,
#                          'SIF'      , 'SURFACE'  , 
#                          'CNLOSS'   , 'SURFACE'  , 'CLOSS'     ,
#                          'CNBURN'   , 'SURFACE'  , 'BURN'      ,
#                          'CNFSEL'   , 'SURFACE'  , 'FSEL'      ,
#                          'EVPICE'   , 'SURFACE'  ,
#                          'EVPSNO'   , 'SURFACE'  ,
#                          'EVPINT'   , 'SURFACE'  ,
#                          'EVPSOI'   , 'SURFACE'  ,
#                          'EVPVEG'   , 'SURFACE'  ,
#                          'FRSAT'    , 'SURFACE'  ,
#                          'FRUST'    , 'SURFACE'  ,
#                          'FRWLT'    , 'SURFACE'  ,
#                          'TPSAT'    , 'SURFACE'  ,
#                          'TPUNST'   , 'SURFACE'  ,
#                          'TPWLT'    , 'SURFACE'  ,
#                          'TPSURF'   , 'SURFACE'  , 'TSURF'     ,
#                          'GHTSKIN'  , 'SURFACE'  ,
#                          'WAT10CM'  , 'SURFACE'  ,
#                          'WATSOI'   , 'SURFACE'  ,
#                          'ICESOI'   , 'SURFACE'  ,
                          ::

