#######################################################################
#                 Create History List for Output
#######################################################################

EXPID:  @EXPID
EXPDSC: @EXPDSC

COLLECTIONS: 'asm.eta'
             'bkg.eta'
             'bkg.sfc'
             'cbkg.eta'
#            'prog.eta'
#            'prog.sfc'
             'tavg3_3d_cld_Cp'
             'tavg3_3d_mst_Cp'
             'tavg3_3d_rad_Cp'
             'tavg3_3d_trb_Cp'
             'tavg3_3d_tdt_Cp'
             'tavg3_3d_udt_Cp'
             'tavg3_3d_qdt_Cp'
             'tavg3_3d_odt_Cp'
             'tavg1_2d_slv_Nx'
             'tavg1_2d_flx_Nx'
             'tavg1_2d_rad_Nx'
             'tavg1_2d_lnd_Nx'
             'tavg1_2d_ocn_Nx'
             'tavg1_2d_int_Nx'
             'inst1_2d_int_Nx'
#            'inst3d_iau_v'
#            'inst3d_iau_e'
#            'inst3d_aer_v'
#            'inst3d_chm_v'
#            'tavg2d_aer_x'
#            'tavg3d_aer_p'
#            'tavg2d_chm_x'
#            'tavg3d_chm_p'
#            'inst2d_hwl_x'
#            'vtx.prs'
#            'prepqc_trigger'
#
#             'gaas_bkg.sfc'
#
@4DVAR        'traj.lcv'
#@4DVAR        'ptrj.prs'
#@4ASEN        'traj_lcv_rst'
#@4ASEN        'ptrj_prs_rst'
#
#            'inst3d_bias_v'
#            'inst3d_bias_e'
#            'tavg3d_chm_v'
#            'const_2d_asm_Nx'
              ::

#######################################################################
#                 Background Files for Analysis 
#######################################################################

  bkg.eta.format:     'CFIO' ,
  bkg.eta.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
# bkg.eta.ref_date:  >>>IOEDATE<<< ,  # in split observer mode we need bkg
# bkg.eta.ref_time:  >>>IOETIME<<< ,  # in split observer mode we need bkg
  bkg.eta.end_date:  >>>IOEDATE<<< ,
  bkg.eta.end_time:  >>>IOETIME<<< ,
  bkg.eta.frequency:  @ASYNFRQ ,
  bkg.eta.duration:   @ASYNFRQ ,
  bkg.eta.mode:       'instantaneous',
  bkg.eta.resolution:  @HIST_IM @HIST_JM,
  bkg.eta.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U;V'      , 'DYN'           , 'u;v'          ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'QRTOT'    , 'MOIST'         , 'qrtot'        ,
                      'QSTOT'    , 'MOIST'         , 'qstot'        ,
                      ::

  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
# bkg.sfc.ref_date:  >>>IOEDATE<<< ,  # in split observer mode we need bkg
# bkg.sfc.ref_time:  >>>IOETIME<<< ,  # in split observer mode we need bkg
  bkg.sfc.end_date:  >>>IOEDATE<<< ,
  bkg.sfc.end_time:  >>>IOETIME<<< ,
  bkg.sfc.frequency:  @ASYNFRQ ,
  bkg.sfc.duration:   @ASYNFRQ ,
  bkg.sfc.mode:       'instantaneous',
  bkg.sfc.resolution:  @HIST_IM @HIST_JM,
  bkg.sfc.fields:     'PHIS'     , 'AGCM'          ,
                      'US;VS'    , 'DYN'           , 'UA;VA'     ,  
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M;V2M'  , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N;V10N', 'SURFACE'       , 'U10M;V10M' ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M;V50M', 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'FRACI'    , 'SURFACE'       , 'FRSEAICE'  ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                      'TROPP_EPV'     , 'AGCM'     , 'TROPPV'   ,
                      'TROPP_THERMAL' , 'AGCM'     , 'TROPPT'   ,
                      'TROPP_BLENDED' , 'AGCM'     , 'TROPPB'   ,
                      'TROPT'         , 'AGCM'     ,
                      'TROPQ'         , 'AGCM'     ,
                      'Z0'            , 'SURFACE'       , 'Z0M'      ,
                      'DCOOL'         , 'SURFACE'  ,
                      'DWARM'         , 'SURFACE'  ,
                      'TDROP'         , 'SURFACE'  ,
                      'TS_FOUND'      , 'SURFACE'  ,
                      'TDEL'          , 'SURFACE'  ,
                      ::

  cbkg.eta.format:      'CFIO' ,
  cbkg.eta.template:    '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  cbkg.eta.ref_date:    >>>IOBBKGD<<< ,
  cbkg.eta.ref_time:    >>>IOBBKGT<<< ,
  cbkg.eta.end_date:    >>>IOEBKGD<<< ,
  cbkg.eta.end_time:    >>>IOEBKGT<<< ,
  cbkg.eta.frequency:   @ASYNFRQ ,
  cbkg.eta.duration:    @ASYNFRQ ,
  cbkg.eta.mode:        'instantaneous',
  cbkg.eta.resolution:  @HIST_BKG_IM @HIST_BKG_JM,
  cbkg.eta.fields:      'PS'           , 'DYN'      ,
                        'PHIS'         , 'AGCM'     ,
                        'DELP'         , 'DYN'      ,
                        'AIRDENS'      , 'CHEMENV'  ,
                        'GOCART::CO'   , 'GOCART'   , 'CO'   ,
                        'GOCART::CO2'  , 'GOCART'   , 'CO2'  ,
                        ::

#######################################################################
#                        DAS Product Files
#######################################################################

  tavg3_3d_cld_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_cld_Cp.deflate:    1,
@COMPRESS tavg3_3d_cld_Cp.nbits:      10,
  tavg3_3d_cld_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_cld_Cp.mode:      'time-averaged',
  tavg3_3d_cld_Cp.frequency:  030000,
  tavg3_3d_cld_Cp.duration:   030000,
  tavg3_3d_cld_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_cld_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_cld_Cp.xyoffset:   3,
  tavg3_3d_cld_Cp.vscale:     100.0,
  tavg3_3d_cld_Cp.vunit:      'hPa',
  tavg3_3d_cld_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_cld_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_cld_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_cld_Cp.fields:     'RH2'      , 'MOIST'        , 'RH'     ,
                              'QLLS'     , 'MOIST'        ,
                              'QILS'     , 'MOIST'        ,
                              'QLCN'     , 'MOIST'        , 'QLAN'   ,
                              'QICN'     , 'MOIST'        , 'QIAN'   ,
                              'CNV_QC'   , 'MOIST'        , 'QCCU'   ,
                              'CLLS'     , 'MOIST'        , 'CFLS'   ,
                              'CLCN'     , 'MOIST'        , 'CFAN'   ,
                              'CNV_UPDF' , 'MOIST'        , 'CFCU'   ,
                               ::

  tavg3_3d_mst_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_mst_Cp.deflate:    1,
@COMPRESS tavg3_3d_mst_Cp.nbits:      10,
  tavg3_3d_mst_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_mst_Cp.mode:      'time-averaged',
  tavg3_3d_mst_Cp.frequency:  030000,
  tavg3_3d_mst_Cp.duration:   030000,
  tavg3_3d_mst_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_mst_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_mst_Cp.xyoffset:   3,
  tavg3_3d_mst_Cp.vscale:     100.0,
  tavg3_3d_mst_Cp.vunit:      'hPa',
  tavg3_3d_mst_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_mst_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_mst_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_mst_Cp.fields:     'CNV_MFC'    , 'MOIST'        , 'CMFMC'      ,
                              'DQRC'       , 'MOIST'        , 'DQRCU'      ,
                              'DQRL'       , 'MOIST'        , 'DQRLSAN'    ,
                              'PFL_CN'     , 'MOIST'        , 'PFLCU'      ,
                              'PFI_CN'     , 'MOIST'        , 'PFICU'      ,
                              'PFL_LSAN'   , 'MOIST'        , 'PFLLSAN'    ,
                              'PFI_LSAN'   , 'MOIST'        , 'PFILSAN'    ,
                              'REVSU_CN'   , 'MOIST'        , 'REEVAPCN'   ,
                              'REVSU_LSAN' , 'MOIST'        , 'REEVAPLSAN' ,
                               ::

  tavg3_3d_rad_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_rad_Cp.deflate:    1,
@COMPRESS tavg3_3d_rad_Cp.nbits:      10,
  tavg3_3d_rad_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_rad_Cp.mode:      'time-averaged',
  tavg3_3d_rad_Cp.frequency:  030000,
  tavg3_3d_rad_Cp.duration:   030000,
  tavg3_3d_rad_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_rad_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_rad_Cp.xyoffset:   3,
  tavg3_3d_rad_Cp.vscale:     100.0,
  tavg3_3d_rad_Cp.vunit:      'hPa',
  tavg3_3d_rad_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_rad_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_rad_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_rad_Cp.fields:     'FCLD'     , 'MOIST'        ,  'CLOUD'       ,
                              'RADLW'    , 'RADIATION'    ,  'DTDTLWR'     ,
                              'RADLWC'   , 'RADIATION'    ,  'DTDTLWRCLR'  ,
                              'RADSW'    , 'RADIATION'    ,  'DTDTSWR'     ,
                              'RADSWC'   , 'RADIATION'    ,  'DTDTSWRCLR'  ,
                               ::

  tavg3_3d_trb_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_trb_Cp.deflate:    1,
@COMPRESS tavg3_3d_trb_Cp.nbits:      10,
  tavg3_3d_trb_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_trb_Cp.mode:      'time-averaged',
  tavg3_3d_trb_Cp.frequency:  030000,
  tavg3_3d_trb_Cp.duration:   030000,
  tavg3_3d_trb_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_trb_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_trb_Cp.xyoffset:   3,
  tavg3_3d_trb_Cp.vscale:     100.0,
  tavg3_3d_trb_Cp.vunit:      'hPa',
  tavg3_3d_trb_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_trb_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_trb_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_trb_Cp.fields:     'KM'      , 'TURBULENCE'    ,
                              'KMLS'    , 'TURBULENCE'    ,
                              'EKM'     , 'TURBULENCE'    , 'KMLK' ,
                              'KH'      , 'TURBULENCE'    ,
                              'KHLS'    , 'TURBULENCE'    ,
                              'EKH'     , 'TURBULENCE'    , 'KHLK' ,
                              'KHRAD'   , 'TURBULENCE'    ,
                              'KHSFC'   , 'TURBULENCE'    ,
                              'RI'      , 'TURBULENCE'    ,
                               ::

  tavg3_3d_tdt_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_tdt_Cp.deflate:    1,
@COMPRESS tavg3_3d_tdt_Cp.nbits:      10,
  tavg3_3d_tdt_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_tdt_Cp.mode:      'time-averaged',
  tavg3_3d_tdt_Cp.frequency:  030000,
  tavg3_3d_tdt_Cp.duration:   030000,
  tavg3_3d_tdt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_tdt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_tdt_Cp.xyoffset:   3,
  tavg3_3d_tdt_Cp.vscale:     100.0,
  tavg3_3d_tdt_Cp.vunit:      'hPa',
  tavg3_3d_tdt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_tdt_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_tdt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_tdt_Cp.fields:     'DTDTRAD'  , 'PHYSICS'       ,
                              'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                              'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                              'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                              'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                              'DTDTTOT'  , 'PHYSICS'       ,
                              'DTDTDYN'  , 'DYN'           ,
                              'DTDT_ANA' , 'AGCM'          ,  'DTDTANA'    ,
                               ::

  tavg3_3d_udt_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_udt_Cp.deflate:    1,
@COMPRESS tavg3_3d_udt_Cp.nbits:      10,
  tavg3_3d_udt_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_udt_Cp.mode:      'time-averaged',
  tavg3_3d_udt_Cp.frequency:  030000,
  tavg3_3d_udt_Cp.duration:   030000,
  tavg3_3d_udt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_udt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_udt_Cp.xyoffset:   3,
  tavg3_3d_udt_Cp.vscale:     100.0,
  tavg3_3d_udt_Cp.vunit:      'hPa',
  tavg3_3d_udt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_udt_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_udt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_udt_Cp.fields:     'DUDT;DVDT'        , 'MOIST'         ,  'DUDTMST;DVDTMST'    ,
                              'UIT;VIT'          , 'PHYSICS'       ,  'DUDTTRB;DVDTTRB'    ,
                              'DUDT;DVDT'        , 'GWD'           ,  'DUDTGWD;DVDTGWD'    ,
                              'DUDTDYN;DVDTDYN'  , 'DYN'           ,
                              'DUDT_ANA;DVDT_ANA', 'AGCM'          ,  'DUDTANA;DVDTANA'    ,
                               ::

  tavg3_3d_qdt_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_qdt_Cp.deflate:    1,
@COMPRESS tavg3_3d_qdt_Cp.nbits:      10,
  tavg3_3d_qdt_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_qdt_Cp.mode:      'time-averaged',
  tavg3_3d_qdt_Cp.frequency:  030000,
  tavg3_3d_qdt_Cp.duration:   030000,
  tavg3_3d_qdt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_qdt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_qdt_Cp.xyoffset:   3,
  tavg3_3d_qdt_Cp.vscale:     100.0,
  tavg3_3d_qdt_Cp.vunit:      'hPa',
  tavg3_3d_qdt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_qdt_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_qdt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_qdt_Cp.fields:     'DQDT'      , 'MOIST'         ,  'DQVDTMST'   ,
                              'QVIT'      , 'PHYSICS'       ,  'DQVDTTRB'   ,
                              'H2O_TEND'  , 'CHEMISTRY'     ,  'DQVDTCHM'   ,
                              'DQVDTDYN'  , 'DYN'           ,
                              'DQVDT_ANA' , 'AGCM'          ,  'DQVDTANA'   ,
                              'DQIDT'     , 'MOIST'         ,  'DQIDTMST'   ,
                              'QILSIT'    , 'PHYSICS'       ,  'DQIDTTRB'   ,
                              'DQIDTDYN'  , 'DYN'           ,
                              'DQLDT'     , 'MOIST'         ,  'DQLDTMST'   ,
                              'QLLSIT'    , 'PHYSICS'       ,  'DQLDTTRB'   ,
                              'DQLDTDYN'  , 'DYN'           ,
                               ::

  tavg3_3d_odt_Cp.format:    'CFIO',
@COMPRESS tavg3_3d_odt_Cp.deflate:    1,
@COMPRESS tavg3_3d_odt_Cp.nbits:      10,
  tavg3_3d_odt_Cp.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3_3d_odt_Cp.mode:      'time-averaged',
  tavg3_3d_odt_Cp.frequency:  030000,
  tavg3_3d_odt_Cp.duration:   030000,
  tavg3_3d_odt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_odt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_odt_Cp.xyoffset:   3,
  tavg3_3d_odt_Cp.vscale:     100.0,
  tavg3_3d_odt_Cp.vunit:      'hPa',
  tavg3_3d_odt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_odt_Cp.resolution:  @HISTC_IM @HISTC_JM,
  tavg3_3d_odt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1,
  tavg3_3d_odt_Cp.fields:     'OXIM'      , 'PHYSICS'       , 'DOXDTMST'  ,
                              'OXIT'      , 'PHYSICS'       , 'DOXDTTRB'  ,
                              'OX_TEND'   , 'CHEMISTRY'     , 'DOXDTCHM'  ,
                              'DOXDTDYN'  , 'DYN'           ,
                              'DO3DT_ANA' , 'AGCM'          , 'DOXDTANA'  ,
                               ::


  tavg1_2d_slv_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_slv_Nx.deflate:    1,
@COMPRESS tavg1_2d_slv_Nx.nbits:      10,
  tavg1_2d_slv_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_slv_Nx.mode:      'time-averaged',
  tavg1_2d_slv_Nx.frequency:  010000,
  tavg1_2d_slv_Nx.duration:   010000,
  tavg1_2d_slv_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_slv_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_slv_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_slv_Nx.fields:     'SLP'       , 'DYN'        ,
                              'PS'        , 'DYN'        ,
                              'U850;V850' , 'DYN'        ,
                              'U500;V500' , 'DYN'        ,
                              'U250;V250' , 'DYN'        ,
                              'T850'      , 'DYN'        ,
                              'T500'      , 'DYN'        ,
                              'T250'      , 'DYN'        ,
                              'Q850'      , 'DYN'        ,
                              'Q500'      , 'DYN'        ,
                              'Q250'      , 'DYN'        ,
                              'H1000'     , 'DYN'        ,
                              'H850'      , 'DYN'        ,
                              'H500'      , 'DYN'        ,
                              'H250'      , 'DYN'        ,
                              'OMEGA500'  , 'DYN'        ,
                              'U10M;V10M' , 'SURFACE'    ,
                              'U2M;V2M'   , 'SURFACE'    ,
                              'U50M;V50M' , 'DYN'        ,
                              'T10M'      , 'SURFACE'    ,
                              'T2M'       , 'SURFACE'    ,
                              'Q10M'      , 'SURFACE'    ,  'QV10M' ,
                              'Q2M'       , 'SURFACE'    ,  'QV2M'  ,
                              'TS'        , 'SURFACE'    ,
                              'D0'        , 'SURFACE'    ,  'DISPH'  ,
                              'TROPP_EPV'     , 'AGCM'   ,  'TROPPV' ,
                              'TROPP_THERMAL' , 'AGCM'   ,  'TROPPT' ,
                              'TROPP_BLENDED' , 'AGCM'   ,  'TROPPB' ,
                              'TROPT'         , 'AGCM'   ,
                              'TROPQ'         , 'AGCM'   ,
                              'CLDPRS'    , 'SOLAR'      ,
                              'CLDTMP'    , 'SOLAR'      ,
                               ::

  tavg1_2d_flx_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_flx_Nx.deflate:    1,
@COMPRESS tavg1_2d_flx_Nx.nbits:      10,
  tavg1_2d_flx_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_flx_Nx.mode:      'time-averaged',
  tavg1_2d_flx_Nx.frequency:  010000,
  tavg1_2d_flx_Nx.duration:   010000,
  tavg1_2d_flx_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_flx_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_flx_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_flx_Nx.fields:     'LHFX'      , 'SURFACE'    ,  'EFLUX'   ,
                              'EVAP'      , 'SURFACE'    ,
                              'SH'        , 'SURFACE'    ,  'HFLUX'   ,
                              'TAUX'      , 'SURFACE'    ,
                              'TAUY'      , 'SURFACE'    ,
                              'TAUGWX'    , 'GWD'        ,
                              'TAUGWY'    , 'GWD'        ,
                              'ZPBL'      , 'TURBULENCE' ,  'PBLH'    ,
                              'D0'        , 'SURFACE'    ,  'DISPH'   ,
                              'BSTAR'     , 'SURFACE'    ,
                              'USTAR'     , 'SURFACE'    ,
                              'TSTAR'     , 'SURFACE'    ,
                              'QSTAR'     , 'SURFACE'    ,
                              'RI'        , 'SURFACE'    ,
                              'Z0H'       , 'SURFACE'    ,
                              'Z0'        , 'SURFACE'    ,  'Z0M'     ,
                              'DZ'        , 'DYN'        ,  'HLML'    ,
                              'TA'        , 'DYN'        ,  'TLML'    ,
                              'QA'        , 'DYN'        ,  'QLML'    ,
                              'US;VS'     , 'DYN'        ,  'ULML;VLML'    ,
                              'RHOS'      , 'SURFACE'    ,  'RHOA'    ,
                              'VENT'      , 'SURFACE'    ,  'SPEED'   ,
                              'CT'        , 'SURFACE'    ,  'CDH'     ,
                              'CQ'        , 'SURFACE'    ,  'CDQ'     ,
                              'CM'        , 'SURFACE'    ,  'CDM'     ,
                              'CN'        , 'SURFACE'    ,
                              'THAT'      , 'SURFACE'    ,  'TSH'     ,
                              'QHAT'      , 'SURFACE'    ,  'QSH'     ,
                              'FRACI'     , 'SURFACE'    ,  'FRSEAICE' ,
                              'AN_PRCP'   , 'MOIST'      ,  'PRECANV' ,
                              'CN_PRCP'   , 'MOIST'      ,  'PRECCON' ,
                              'LS_PRCP'   , 'MOIST'      ,  'PRECLSC' ,
                              'SNO'       , 'MOIST'      ,  'PRECSNO' ,
                              'TPREC'     , 'MOIST'      ,  'PRECTOT' ,
                              'PGENTOT'   , 'MOIST'      ,
                              'PREVTOT'   , 'MOIST'      ,
                              'CU2DRAINMOVE'  , 'MOIST'       ,
                              'CU2DSNOWMOVE'  , 'MOIST'       ,
                              'LS_PRCP+CU2DRAINMOVE+CU2DSNOWMOVE' , 'MOIST' , 'LSORIG' ,
                              'CN_PRCP-CU2DRAINMOVE-CU2DSNOWMOVE' , 'MOIST' , 'CNORIG' ,
                               ::

  tavg1_2d_rad_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_rad_Nx.deflate:    1,
@COMPRESS tavg1_2d_rad_Nx.nbits:      10,
  tavg1_2d_rad_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_rad_Nx.mode:      'time-averaged',
  tavg1_2d_rad_Nx.frequency:  010000,
  tavg1_2d_rad_Nx.duration:   010000,
  tavg1_2d_rad_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_rad_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_rad_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_rad_Nx.fields:     'EMIS'      , 'SURFACE'    ,
                              'TS'        , 'SURFACE'    ,
                              'ALBEDO'    , 'SOLAR'      ,
                              'ALBNF'     , 'SOLAR'      ,  'ALBNIRDF'    ,
                              'ALBNR'     , 'SOLAR'      ,  'ALBNIRDR'    ,
                              'ALBVF'     , 'SOLAR'      ,  'ALBVISDF'    ,
                              'ALBVR'     , 'SOLAR'      ,  'ALBVISDR'    ,
                              'SFCEM'     , 'IRRAD'      ,  'LWGEM'       ,
                              'LWS'       , 'IRRAD'      ,  'LWGAB'       ,
                              'LCS'       , 'IRRAD'      ,  'LWGABCLR'    ,
                              'LAS'       , 'IRRAD'      ,  'LWGABCLRCLN' ,
                              'FLNS'      , 'IRRAD'      ,  'LWGNT'       ,
                              'FLNSC'     , 'IRRAD'      ,  'LWGNTCLR'    ,
                              'FLNSA'     , 'IRRAD'      ,  'LWGNTCLRCLN' ,
                              'OLR'       , 'IRRAD'      ,  'LWTUP'       ,
                              'OLC'       , 'IRRAD'      ,  'LWTUPCLR'    ,
                              'OLA'       , 'IRRAD'      ,  'LWTUPCLRCLN' ,
                              'SLRTP'     , 'SOLAR'      ,  'SWTDN'       ,
                              'SLRSF'     , 'SOLAR'      ,  'SWGDN'       ,
                              'SLRSFC'    , 'SOLAR'      ,  'SWGDNCLR'    ,
                              'RSRS'      , 'SOLAR'      ,  'SWGNT'       ,
                              'RSCS'      , 'SOLAR'      ,  'SWGNTCLR'    ,
                              'RSRSNA'    , 'SOLAR'      ,  'SWGNTCLN'    ,
                              'RSCSNA'    , 'SOLAR'      ,  'SWGNTCLRCLN' ,
                              'RSR'       , 'SOLAR'      ,  'SWTNT'       ,
                              'RSC'       , 'SOLAR'      ,  'SWTNTCLR'    ,
                              'RSRNA'     , 'SOLAR'      ,  'SWTNTCLN'    ,
                              'RSCNA'     , 'SOLAR'      ,  'SWTNTCLRCLN' ,
                              'TAUHI'     , 'SOLAR'      ,  'TAUHGH'      ,
                              'TAULO'     , 'SOLAR'      ,  'TAULOW'      ,
                              'TAUMD'     , 'SOLAR'      ,  'TAUMID'      ,
                              'TAUTT'     , 'SOLAR'      ,  'TAUTOT'      ,
                              'CLDHI'     , 'SOLAR'      ,  'CLDHGH'      ,
                              'CLDLO'     , 'SOLAR'      ,  'CLDLOW'      ,
                              'CLDMD'     , 'SOLAR'      ,  'CLDMID'      ,
                              'CLDTT'     , 'SOLAR'      ,  'CLDTOT'      ,
                               ::

  tavg1_2d_lnd_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_lnd_Nx.deflate:    1,
@COMPRESS tavg1_2d_lnd_Nx.nbits:      10,
  tavg1_2d_lnd_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_lnd_Nx.mode:      'time-averaged',
  tavg1_2d_lnd_Nx.frequency:  010000,
  tavg1_2d_lnd_Nx.duration:   010000,
  tavg1_2d_lnd_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_lnd_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_lnd_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_lnd_Nx.fields:     'GRN'       , 'SURFACE'    ,
                              'LAI'       , 'SURFACE'    ,
                              'WET2'      , 'SURFACE'    ,  'GWETROOT' ,
                              'WET1'      , 'SURFACE'    ,  'GWETTOP'  ,
                              'TPSNOW'    , 'SURFACE'    ,
                              'TPUNST'    , 'SURFACE'    ,  'TUNST'    ,
                              'TPSAT'     , 'SURFACE'    ,  'TSAT'     ,
                              'TPWLT'     , 'SURFACE'    ,  'TWLT'     ,
                              'SNO'       , 'MOIST'      ,  'PRECSNO'  ,
                              'TPREC'     , 'MOIST'      ,  'PRECTOT'  ,
                              'TSLAND'    , 'SURFACE'    ,  'SNOMAS'   ,
                              'SNOWDP'    , 'SURFACE'    ,  'SNODP'    ,
                              'EVPSOI'    , 'SURFACE'    ,  'EVPSOIL'  ,
                              'EVPVEG'    , 'SURFACE'    ,  'EVPTRNS'  ,
                              'EVPINT'    , 'SURFACE'    ,  'EVPINTR'  ,
                              'EVPICE'    , 'SURFACE'    ,  'EVPSBLN'  ,
                              'RUNSURF'   , 'SURFACE'    ,  'RUNOFF'   ,
                              'BASEFLOW'  , 'SURFACE'    ,
                              'SMLAND'    , 'SURFACE'    ,
                              'FRUST'     , 'SURFACE'    ,  'FRUNST'   , 
                              'FRSAT'     , 'SURFACE'    ,
                              'ASNOW'     , 'SURFACE'    ,  'FRSNO'    ,
                              'FRWLT'     , 'SURFACE'    ,
                              'DFPAR'     , 'SOLAR'      ,  'PARDF'    ,
                              'DRPAR'     , 'SOLAR'      ,  'PARDR'    ,
                              'SHLAND'    , 'SURFACE'    ,
                              'LHLAND'    , 'SURFACE'    ,
                              'EVLAND'    , 'SURFACE'    ,
                              'LWLAND'    , 'SURFACE'    ,
                              'SWLAND'    , 'SURFACE'    ,
                              'GHLAND'    , 'SURFACE'    ,
                              'TWLAND'    , 'SURFACE'    ,
                              'TELAND'    , 'SURFACE'    ,
                              'DWLAND'    , 'SURFACE'    ,  'WCHANGE'  ,
                              'DHLAND'    , 'SURFACE'    ,  'ECHANGE'  ,
                              'SPLAND'    , 'SURFACE'    ,
                              'SPWATR'    , 'SURFACE'    ,
                              'SPSNOW'    , 'SURFACE'    ,
                               ::

  tavg1_2d_ocn_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_ocn_Nx.deflate:    1,
@COMPRESS tavg1_2d_ocn_Nx.nbits:      10,
  tavg1_2d_ocn_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_ocn_Nx.mode:      'time-averaged',
  tavg1_2d_ocn_Nx.frequency:  010000,
  tavg1_2d_ocn_Nx.duration:   010000,
  tavg1_2d_ocn_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_ocn_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_ocn_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_ocn_Nx.fields:     'U10M;V10M', 'SURFACE'     ,
                              'T10M'     , 'SURFACE'     ,
                              'Q10M'     , 'SURFACE'     ,
                              'SHWTR'    , 'SURFACE'     , 
                              'SHICE'    , 'SURFACE'     , 
                              'HLATWTR'  , 'SURFACE'     , 
                              'HLATICE'  , 'SURFACE'     , 
                              'LWNDWTR'  , 'SURFACE'     ,
                              'LWNDICE'  , 'SURFACE'     ,
                              'SWNDWTR'  , 'SURFACE'     ,
                              'SWNDICE'  , 'SURFACE'     ,
                              'SNOWOCN'  , 'SURFACE'     ,
                              'RAINOCN'  , 'SURFACE'     ,
                              'TAUXW'    , 'SURFACE'     ,  'TAUXWTR'  ,
                              'TAUYW'    , 'SURFACE'     ,  'TAUYWTR'  ,
                              'TAUXI'    , 'SURFACE'     ,  'TAUXICE'  ,
                              'TAUYI'    , 'SURFACE'     ,  'TAUYICE'  ,
                              'FRACI'    , 'SURFACE'     ,  'FRSEAICE' ,
                              'TSKINW'   , 'SURFACE'     ,  'TSKINWTR' ,
                              'TSKINI'   , 'SURFACE'     ,  'TSKINICE' ,
                               ::

  tavg1_2d_int_Nx.format:    'CFIO',
@COMPRESS tavg1_2d_int_Nx.deflate:    1,
@COMPRESS tavg1_2d_int_Nx.nbits:      10,
  tavg1_2d_int_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg1_2d_int_Nx.mode:      'time-averaged',
  tavg1_2d_int_Nx.frequency:  010000,
  tavg1_2d_int_Nx.duration:   010000,
  tavg1_2d_int_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_int_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_int_Nx.resolution:  @HIST_IM @HIST_JM,
  tavg1_2d_int_Nx.fields:     'DMDTDYN'      , 'DYN'        , 'DMDT_DYN'  ,
                              'DMDTANA'      , 'DYN'        , 'DMDT_ANA'  ,
                              'DQVDTDYNINT'  , 'DYN'        , 'DQVDT_DYN' ,
                              'DQVDTPHYINT'  , 'PHYSICS'    , 'DQVDT_PHY' ,
                              'DQVDTANAINT'  , 'DYN'        , 'DQVDT_ANA' ,
                              'DQVDTMSTINT'  , 'PHYSICS'    , 'DQVDT_MST' ,
                              'DQVDTTRBINT'  , 'PHYSICS'    , 'DQVDT_TRB' ,
                              'DQVDTCHMINT'  , 'PHYSICS'    , 'DQVDT_CHM' ,
                              'DQLDTDYNINT'  , 'DYN'        , 'DQLDT_DYN' ,
                              'DQLDTPHYINT'  , 'PHYSICS'    , 'DQLDT_PHY' ,
                              'DQLDTANAINT'  , 'DYN'        , 'DQLDT_ANA' ,
                              'DQLDTMSTINT'  , 'PHYSICS'    , 'DQLDT_MST' ,
                              'DQIDTDYNINT'  , 'DYN'        , 'DQIDT_DYN' ,
                              'DQIDTPHYINT'  , 'PHYSICS'    , 'DQIDT_PHY' ,
                              'DQIDTANAINT'  , 'DYN'        , 'DQIDT_ANA' ,
                              'DQIDTMSTINT'  , 'PHYSICS'    , 'DQIDT_MST' ,
                              'DOXDTDYNINT'  , 'DYN'        , 'DOXDT_DYN' ,
                              'DOXDTPHYINT'  , 'PHYSICS'    , 'DOXDT_PHY' ,
                              'DOXDTANAINT'  , 'DYN'        , 'DOXDT_ANA' ,
                              'DOXDTCHMINT'  , 'PHYSICS'    , 'DOXDT_CHM' ,
                              'KEDYN'        , 'DYN'        , 'DKDT_DYN'  ,
                              'KEPHY'        , 'DYN'        , 'DKDT_PHY'  ,
                              'KEANA'        , 'DYN'        , 'DKDT_ANA'  ,
                              'KEPHY'        , 'PHYSICS'    , 'DKDT_PHYPHY'  ,
                              'PEDYN'        , 'DYN'        , 'DHDT_DYN'  ,
                              'PEPHY'        , 'DYN'        , 'DHDT_PHY'  ,
                              'PEANA'        , 'DYN'        , 'DHDT_ANA'  ,
                              'PERES'        , 'AGCM'       , 'DHDT_RES'  ,
                              'TEDYN'        , 'DYN'        , 'DPDT_DYN'  ,
                              'TEPHY'        , 'DYN'        , 'DPDT_PHY'  ,
                              'TEANA'        , 'DYN'        , 'DPDT_ANA'  ,
                              'UCPT'         , 'DYN'        , 'UFLXCPT'   ,
                              'VCPT'         , 'DYN'        , 'VFLXCPT'   ,
                              'UPHI'         , 'DYN'        , 'UFLXPHI'   ,
                              'VPHI'         , 'DYN'        , 'VFLXPHI'   ,
                              'UKE'          , 'DYN'        , 'UFLXKE'    ,
                              'VKE'          , 'DYN'        , 'VFLXKE'    ,
                              'UQV'          , 'DYN'        , 'UFLXQV'    ,
                              'VQV'          , 'DYN'        , 'VFLXQV'    ,
                              'UQL'          , 'DYN'        , 'UFLXQL'    ,
                              'VQL'          , 'DYN'        , 'VFLXQL'    ,
                              'UQI'          , 'DYN'        , 'UFLXQI'    ,
                              'VQI'          , 'DYN'        , 'VFLXQI'    ,
                              'QFIXER'       , 'DYN'        , 'TEFIXER'   ,
                              'CONVCPT'      , 'DYN'        ,
                              'CONVPHI'      , 'DYN'        ,
                              'CONVKE'       , 'DYN'        ,
                              'CONVTHV'      , 'DYN'        ,
                              'KEGEN'        , 'DYN'        , 'DKDT_GEN'    ,
                              'KEPG'         , 'DYN'        , 'DKDT_PG'     ,
                              'KEREMAP'      , 'DYN'        , 'DKDT_REMAP'  ,
                              'DKERESIN'     , 'DYN'        , 'DKDT_INRES'  ,
                              'DKERESPG'     , 'DYN'        , 'DKDT_PGRES'  ,
                              'PEREMAP'      , 'DYN'        , 'DHDT_REMAP'  ,
                              'TEREMAP'      , 'DYN'        , 'DPDT_REMAP'  ,
                              'KEGWD'        , 'GWD'        , 'DKDT_GWD'    ,
                              'KERAY'        , 'GWD'        , 'DKDT_RAY'    ,
                              'KEBKG'        , 'GWD'        , 'DKDT_BKG'    ,
                              'KEORO'        , 'GWD'        , 'DKDT_ORO'    ,
                              'KERES'        , 'GWD'        , 'DKDT_GWDRES' ,
                              'BKGERR'       , 'GWD'        ,
                              'PEGWD'        , 'GWD'        , 'DHDT_GWD'    ,
                              'PERAY'        , 'GWD'        , 'DHDT_RAY'    ,
                              'PEBKG'        , 'GWD'        , 'DHDT_BKG'    ,
                              'PEORO'        , 'GWD'        , 'DHDT_ORO'    ,
                              'KETRB'        , 'TURBULENCE' , 'DKDT_TRB'    ,
                              'KESRF'        , 'TURBULENCE' , 'DKDT_SRF'    ,
                              'KEINT'        , 'TURBULENCE' , 'DKDT_INT'    ,
                              'KETOP'        , 'TURBULENCE' , 'DKDT_TOP'    ,
                              'KEMST'        , 'MOIST'      , 'DKDT_MST'    ,
                              'PETRB'        , 'PHYSICS'    , 'DHDT_TRB'    ,
                              'PEMST'        , 'PHYSICS'    , 'DHDT_MST'    ,
                              'PEFRI'        , 'PHYSICS'    , 'DHDT_FRI'    ,
                              'PERAD'        , 'PHYSICS'    , 'DHDT_RAD'    ,
                              'PECUF'        , 'PHYSICS'    , 'DHDT_CUF'    ,
                              'QTFILL'       , 'AGCM'       ,
                              'QVFILL'       , 'AGCM'       , 'DQVDT_FIL'   ,
                              'QIFILL'       , 'AGCM'       , 'DQIDT_FIL'   ,
                              'QLFILL'       , 'AGCM'       , 'DQLDT_FIL'   ,
                              'OXFILL'       , 'AGCM'       , 'DOXDT_FIL'   ,
                              'SH'           , 'SURFACE'    , 'HFLUX'       ,
                              'EVAP'         , 'SURFACE'    ,
                              'PCU'          , 'MOIST'      , 'PRECCU'      ,
                              'PLS'          , 'MOIST'      , 'PRECLS'      ,
                              'SNO'          , 'MOIST'      , 'PRECSN'      ,
                              'DTHVDTANAINT' , 'DYN'        , 'DTHDT_ANA'   ,
                              'DTHVDTPHYINT' , 'DYN'        , 'DTHDT_PHY'   ,
                              'DTHVDTDYNINT' , 'DYN'        , 'DTHDT_DYN'   ,
                              'DTHVDTREMAP'  , 'DYN'        , 'DTHDT_REMAP' ,
                              'DTHVDTCONSV'  , 'DYN'        , 'DTHDT_CONSV' ,
                              'DTHVDTFILINT' , 'AGCM'       , 'DTHDT_FIL'   ,
                              'OLR'          , 'IRRAD'      , 'LWTNET'      ,
                              'FLNS'         , 'IRRAD'      , 'LWGNET'      ,
                              'RSR'          , 'SOLAR'      , 'SWNETTOA'    ,
                              'RSRS'         , 'SOLAR'      , 'SWNETSRF'    ,
                              'PDFLZ'        , 'MOIST'      , 'LSCNVCL'     ,
                              'PDFIZ'        , 'MOIST'      , 'LSCNVCI'     ,
                              'ER_PRCP'      , 'MOIST'      , 'LSCNVRN'     ,
                              'CNVLZ'        , 'MOIST'      , 'CUCNVCL'     ,
                              'CNVIZ'        , 'MOIST'      , 'CUCNVCI'     ,
                              'CNVRNZ'       , 'MOIST'      , 'CUCNVRN'     ,
                              'EVPCZ'        , 'MOIST'      , 'EVPCL'       ,
                              'EVPPZ'        , 'MOIST'      , 'EVPRN'       ,
                              'SUBCZ'        , 'MOIST'      , 'SUBCI'       ,
                              'SUBPZ'        , 'MOIST'      , 'SUBSN'       ,
                              'AUTZ'         , 'MOIST'      , 'AUTCNVRN'    ,
                              'SDMZ'         , 'MOIST'      , 'SDMCI'       ,
                              'COLLLZ'       , 'MOIST'      , 'COLCNVRN'    ,
                              'COLLIZ'       , 'MOIST'      , 'COLCNVSN'    ,
                              'FRZCZ'        , 'MOIST'      , 'FRZCL'       ,
                              'FRZPZ'        , 'MOIST'      , 'FRZRN'       ,
                              'KECDCOR'      , 'DYN'        , 'KECDCOR'     ,
                              'PECDCOR'      , 'DYN'        , 'PECDCOR'     ,
                              'TECDCOR'      , 'DYN'        , 'TECDCOR'     ,
                              'KEADV'        , 'DYN'        , 'KEADV'       ,
                              'KEDP'         , 'DYN'        , 'KEDP'        ,
                              'KEHOT'        , 'DYN'        , 'KEHOT'       ,
                               ::

  inst1_2d_int_Nx.format:    'CFIO',
@COMPRESS inst1_2d_int_Nx.deflate:    1,
@COMPRESS inst1_2d_int_Nx.nbits:      10,
  inst1_2d_int_Nx.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst1_2d_int_Nx.mode:      'instantaneous',
  inst1_2d_int_Nx.frequency:  010000,
  inst1_2d_int_Nx.duration:   010000,
  inst1_2d_int_Nx.end_date:  >>>IOEDATE<<< ,
  inst1_2d_int_Nx.end_time:  >>>IOETIME<<< ,
  inst1_2d_int_Nx.resolution:  @HIST_IM @HIST_JM,
  inst1_2d_int_Nx.fields:     'TQV'         , 'AGCM'       ,
                              'TQI'         , 'AGCM'       ,
                              'TQL'         , 'AGCM'       ,
                              'TOX'         , 'AGCM'       ,
                              'MASS'        , 'AGCM'       ,
                              'KE'          , 'DYN'        ,
                              'CPT'         , 'AGCM'       ,
                              'THV'         , 'AGCM'       ,
                               ::

#######################################################################
#                        DAS Product Files
#######################################################################

  asm.eta.format:     'CFIO' ,
  asm.eta.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  asm.eta.end_date:   >>>IOEDATE<<< ,
  asm.eta.end_time:   >>>IOETIME<<< ,
  asm.eta.frequency:  @ASYNFRQ ,
  asm.eta.duration:   @ASYNFRQ ,
  asm.eta.mode:       'instantaneous',
  asm.eta.resolution:  @HIST_IM @HIST_JM,
  asm.eta.fields:     'PHIS'     , 'AGCM' , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U;V'      , 'DYN'           , 'u;v'          ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'QRTOT'    , 'MOIST'         , 'qrtot'        ,
                      'QSTOT'    , 'MOIST'         , 'qstot'        ,
                      ::


  inst3d_iau_v.format:    'CFIO',
@COMPRESS  inst3d_iau_v.deflate:    1,
@COMPRESS  inst3d_iau_v.nbits:      10,
  inst3d_iau_v.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_iau_v.mode:      'instantaneous',
  inst3d_iau_v.end_date:  >>>IOEDATE<<< ,
  inst3d_iau_v.end_time:  >>>IOETIME<<< ,
  inst3d_iau_v.ref_time:  000000,
  inst3d_iau_v.frequency: 060000,
  inst3d_iau_v.duration:  060000,
  inst3d_iau_v.resolution:  @HIST_IM @HIST_JM,
  inst3d_iau_v.fields:   'PS'           , 'DYN'           ,
                         'DELP'         , 'DYN'           ,
                         'DUDT_ANA;DVDT_ANA', 'AGCM'      ,  'DUDTANA;DVDTANA'    ,
                         'DTDT_ANA'     , 'AGCM'          ,  'DTDTANA'    ,
                         'DQVDT_ANA'    , 'AGCM'          ,  'DQVDTANA'   ,
                         'DO3DT_ANA'    , 'AGCM'          ,  'DO3DTANA'   ,
                         'VINTDIV_ANA'  , 'AIAU'          ,
                         'VINTDIV_BKG'  , 'AIAU'          ,
                         'VINTDIV_COR'  , 'AIAU'          ,
                         'DUWINDFIX;DVWINDFIX'    , 'AIAU'          ,
#                        'UBKG;VBKG'    , 'AIAU'          ,
#                        'TVBKG'        , 'AIAU'          ,
#                        'QVBKG'        , 'AIAU'          ,
                         ::

  inst3d_bias_v.format:    'CFIO',
@COMPRESS  inst3d_bias_v.deflate:    1,
@COMPRESS  inst3d_bias_v.nbits:      10,
  inst3d_bias_v.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_bias_v.mode:      'instantaneous',
  inst3d_bias_v.end_date:  >>>IOEDATE<<< ,
  inst3d_bias_v.end_time:  >>>IOETIME<<< ,
  inst3d_bias_v.ref_time:  000000,
  inst3d_bias_v.frequency: 060000,
  inst3d_bias_v.duration:  060000,
  inst3d_bias_v.resolution:  @HIST_IM @HIST_JM,
  inst3d_bias_v.fields:   'PS'           , 'DYN'           ,
                          'DELP'         , 'DYN'           ,
                          'DUDT;DVDT'    , 'AGCM'          ,  'DUDTBIAS;DVDTBIAS'   ,
                          'DTDT'         , 'AGCM'          ,  'DTDTBIAS'   ,
                          'DQVDT'        , 'AGCM'          ,  'DQVDTBIAS'  ,
                          'DO3DT'        , 'AGCM'          ,  'DO3DTBIAS'  ,
                          ::

  inst3d_iau_e.format:    'CFIO',
@COMPRESS  inst3d_iau_e.deflate:    1,
@COMPRESS  inst3d_iau_e.nbits:      10,
  inst3d_iau_e.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_iau_e.mode:      'instantaneous',
  inst3d_iau_e.end_date:  >>>IOEDATE<<< ,
  inst3d_iau_e.end_time:  >>>IOETIME<<< ,
  inst3d_iau_e.ref_time:  000000,
  inst3d_iau_e.frequency: 060000,
  inst3d_iau_e.duration:  060000,
  inst3d_iau_e.resolution:  @HIST_IM @HIST_JM,
  inst3d_iau_e.fields:   'PLE'          , 'DYN'          ,
                         'DPEDT_ANA'    , 'AGCM'         ,  'DPEDTANA'  , 
                         ::

  inst3d_bias_e.format:    'CFIO',
@COMPRESS  inst3d_bias_e.deflate:    1,
@COMPRESS  inst3d_bias_e.nbits:      10,
  inst3d_bias_e.template:  '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_bias_e.mode:      'instantaneous',
  inst3d_bias_e.end_date:  >>>IOEDATE<<< ,
  inst3d_bias_e.end_time:  >>>IOETIME<<< ,
  inst3d_bias_e.ref_time:  000000,
  inst3d_bias_e.frequency: 060000,
  inst3d_bias_e.duration:  060000,
  inst3d_bias_e.resolution:  @HIST_IM @HIST_JM,
  inst3d_bias_e.fields:   'PLE'          , 'DYN'          ,
                          'DPEDT'        , 'AGCM'         ,  'DPEDTBIAS' , 
                          ::

#######################################################################
#                         Vortex Relocation
#######################################################################
  vtx.prs.format:     'CFIO' ,
  vtx.prs.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  vtx.prs.frequency:  030000 ,
  vtx.prs.duration:   030000 ,
  vtx.prs.end_date:  >>>IOEBKGD<<<,
  vtx.prs.end_time:  >>>IOEBKGT<<<,
  vtx.prs.mode:       'instantaneous',
  vtx.prs.vscale:     100.0,
  vtx.prs.vunit:      'hPa',
  vtx.prs.vvars:      'log(PLE)' , 'DYN'          ,
  vtx.prs.resolution:  @HIST_IM @HIST_JM,
  vtx.prs.levels:     1000 925 850 700 600 500 400 300 250 200 150 100 70 50 30 20 10,
  vtx.prs.fields:     'PHIS'     , 'AGCM' ,
                      'SLP'      , 'DYN'           ,
                      'PS'       , 'DYN'           ,
                      'DELP'     , 'DYN'           ,
                      'U;V'      , 'DYN'           ,
                      'T'        , 'DYN'           ,
                      'Q'        , 'MOIST'         ,
                      'OMEGA'    , 'DYN'           ,
                      'TPREC'    , 'MOIST'         , 'PRECP'   ,
                      'CLDLO'    , 'SOLAR'         ,
                      'CLDMD'    , 'SOLAR'         ,
                      'CLDHI'    , 'SOLAR'         ,
                      'CLDTT'    , 'SOLAR'         ,
                      'US;VS'    , 'DYN'           ,
                      'TS'       , 'SURFACE'       ,
                      'PV'       , 'DYN'           ,
                      'EPV'      , 'DYN'           ,
                      'ZLE'      , 'DYN'           ,  'hght'   ,
                      ::
                                                                                                

#######################################################################
#                     Aerosols/Constituents
#######################################################################
  tavg3d_chm_v.format:     'CFIO' ,
@COMPRESS  tavg3d_chm_v.deflate:    1,
@COMPRESS  tavg3d_chm_v.nbits:      10,
  tavg3d_chm_v.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg3d_chm_v.frequency:  060000 ,
  tavg3d_chm_v.duration:   060000 ,
  tavg3d_chm_v.ref_time:   000000 ,
  tavg3d_chm_v.mode:       'instantaneous',
  tavg3d_chm_v.resolution:  @HIST_IM @HIST_JM,
  tavg3d_chm_v.end_date:   >>>IOEDATE<<<,
  tavg3d_chm_v.end_time:   >>>IOETIME<<<,
  tavg3d_chm_v.fields:     'PS'        , 'DYN'           , 'ps'        ,
                           'DELP'      , 'DYN'           , 'delp'      ,
                           'LWI'       , 'SURFACE'       , 'LWI'       ,
                           'AIRDENS'  ,  'CHEMENV'       ,
                           'GOCART::CO'       , 'GOCART' , 'CO'        ,
                           'GOCART::CO2'      , 'GOCART' , 'CO2'       ,
                           ::
 
  inst3d_chm_v.format:     'CFIO' ,
@COMPRESS  inst3d_chm_v.deflate:     1,
@COMPRESS  inst3d_chm_v.nbits:      10,
  inst3d_chm_v.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_chm_v.frequency:  060000 ,
  inst3d_chm_v.duration:   060000 ,
  inst3d_chm_v.ref_time:   000000 ,
  inst3d_chm_v.mode:       'instantaneous',
  inst3d_chm_v.resolution:  @HIST_IM @HIST_JM,
  inst3d_chm_v.end_date:   >>>IOEDATE<<<,
  inst3d_chm_v.end_time:   >>>IOETIME<<<,
  inst3d_chm_v.fields:     'PS'        , 'DYN'           , 'ps'        ,
                           'DELP'      , 'DYN'           , 'delp'      ,
                           'AIRDENS'  ,  'CHEMENV'       ,
                           'GOCART::CO'       , 'GOCART' , 'CO'        ,
                           'GOCART::CO2'      , 'GOCART' , 'CO2'       ,
                           ::
 
  inst3d_aer_v.format:     'CFIO' ,
@COMPRESS  inst3d_aer_v.deflate:     1,
@COMPRESS  inst3d_aer_v.nbits:      10,
  inst3d_aer_v.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst3d_aer_v.frequency:  060000 ,
  inst3d_aer_v.duration:   060000 ,
  inst3d_aer_v.ref_time:   000000 ,
  inst3d_aer_v.mode:       'instantaneous',
  inst3d_aer_v.resolution:  @HIST_IM @HIST_JM,
  inst3d_aer_v.end_date:   >>>IOEDATE<<<,
  inst3d_aer_v.end_time:   >>>IOETIME<<<,
  inst3d_aer_v.fields:     'PS'           ,    'DYN'     , 'ps'        ,
                           'DELP'         ,    'DYN'     , 'delp'      ,
                           'LWI'          , 'SURFACE'    , 'LWI'       ,
                           'AIRDENS'  ,  'CHEMENV'       ,
                           'RH2'          ,    'MOIST'   , 'RH'        ,
# Dust
                           'GOCART::du001',    'GOCART'  , 'du001'     ,
                           'GOCART::du002',    'GOCART'  , 'du002'     ,
                           'GOCART::du003',    'GOCART'  , 'du003'     ,
                           'GOCART::du004',    'GOCART'  , 'du004'     ,
                           'GOCART::du005',    'GOCART'  , 'du005'     ,
# Sea-salt
                           'GOCART::ss001',    'GOCART'  , 'ss001'     ,
                           'GOCART::ss002',    'GOCART'  , 'ss002'     ,
                           'GOCART::ss003',    'GOCART'  , 'ss003'     ,
                           'GOCART::ss004',    'GOCART'  , 'ss004'     ,
                           'GOCART::ss005',    'GOCART'  , 'ss005'     ,
# Sulfates
                           'GOCART::DMS',      'GOCART'  , 'DMS'  ,
                           'GOCART::SO2',      'GOCART'  , 'SO2'  ,
                           'GOCART::SO4',      'GOCART'  , 'SO4'  ,
                           'GOCART::MSA',      'GOCART'  , 'MSA'  ,
# Carbonaceous (main)
                           'GOCART::BCphobic', 'GOCART'  , 'BCphobic'     ,
                           'GOCART::BCphilic', 'GOCART'  , 'BCphilic'     ,
                           'GOCART::OCphobic', 'GOCART'  , 'OCphobic'     ,
                           'GOCART::OCphilic', 'GOCART'  , 'OCphilic'     , 
                           ::
 
  tavg2d_chm_x.format:     'CFIO',
@COMPRESS  tavg2d_chm_x.deflate:     1,
@COMPRESS  tavg2d_chm_x.nbits:      10,
  tavg2d_chm_x.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg2d_chm_x.mode:       'time-averaged',
  tavg2d_chm_x.resolution:  @HIST_IM @HIST_JM,
  tavg2d_chm_x.end_date:   >>>IOEDATE<<<,
  tavg2d_chm_x.end_time:   >>>IOETIME<<<,
  tavg2d_chm_x.frequency:  030000,
  tavg2d_chm_x.duration:   030000,
  tavg2d_chm_x.fields:     'LWI'         , 'SURFACE'     ,
                           'CO2EM001'    , 'GOCART'      ,
                           'CO2SC001'    , 'GOCART'      ,
                           'CO2CL001'    , 'GOCART'      ,
                           'COEM'      , 'GOCART'      ,
                           'COPD'      , 'GOCART'      ,
                           'COLS'      , 'GOCART'      ,
                           'COSC'      , 'GOCART'      ,
                           'COCL'      , 'GOCART'      ,
                           ::

 tavg3d_chm_p.format:     'CFIO' ,
@COMPRESS tavg3d_chm_p.deflate:     1,
@COMPRESS tavg3d_chm_p.nbits:      10,
 tavg3d_chm_p.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
 tavg3d_chm_p.frequency:  030000 ,
 tavg3d_chm_p.duration:   030000 ,
 tavg3d_chm_p.end_date:   >>>IOEDATE<<<,
 tavg3d_chm_p.end_time:   >>>IOETIME<<<,
 tavg3d_chm_p.mode:       'time-averaged',
 tavg3d_chm_p.vscale:     100.0,
 tavg3d_chm_p.vunit:      'hPa',
 tavg3d_chm_p.vvars:      'log(PLE)' , 'DYN'          ,
 tavg3d_chm_p.resolution:  @HIST_IM @HIST_JM,
 tavg3d_chm_p.levels:     1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 30 20 10,
 tavg3d_chm_p.fields:     'PS'          , 'DYN'        , 'PS'        ,
                          'LWI'       , 'SURFACE'       , 'LWI'       ,
                          'AIRDENS'  ,  'CHEMENV'       ,
                          'GOCART::CO'  , 'GOCART'     , 'CO'        ,
                          'GOCART::CO2' , 'GOCART'     , 'CO2'       ,
                          ::

  tavg2d_aer_x.format:     'CFIO',
@COMPRESS  tavg2d_aer_x.deflate:     1,
@COMPRESS  tavg2d_aer_x.nbits:      10,
  tavg2d_aer_x.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  tavg2d_aer_x.mode:       'time-averaged',
  tavg2d_aer_x.resolution:  @HIST_IM @HIST_JM,
  tavg2d_aer_x.end_date:   >>>IOEDATE<<<,
  tavg2d_aer_x.end_time:   >>>IOETIME<<<,
  tavg2d_aer_x.frequency:  030000,
  tavg2d_aer_x.duration:   030000,
  tavg2d_aer_x.fields:     'DUEM001'     , 'GOCART'      ,
                           'DUEM002'     , 'GOCART'      ,
                           'DUEM003'     , 'GOCART'      ,
                           'DUEM004'     , 'GOCART'      ,
                           'DUEM005'     , 'GOCART'      ,
                           'DUSD001'     , 'GOCART'      ,
                           'DUSD002'     , 'GOCART'      ,
                           'DUSD003'     , 'GOCART'      ,
                           'DUSD004'     , 'GOCART'      ,
                           'DUSD005'     , 'GOCART'      ,
                           'DUDP001'     , 'GOCART'      ,
                           'DUDP002'     , 'GOCART'      ,
                           'DUDP003'     , 'GOCART'      ,
                           'DUDP004'     , 'GOCART'      ,
                           'DUDP005'     , 'GOCART'      ,
                           'DUWT001'     , 'GOCART'      ,
                           'DUWT002'     , 'GOCART'      ,
                           'DUWT003'     , 'GOCART'      ,
                           'DUWT004'     , 'GOCART'      ,
                           'DUWT005'     , 'GOCART'      ,
                           'DUSMASS'     , 'GOCART'      ,
                           'DUCMASS'     , 'GOCART'      ,
                           'DUEXTTAU'    , 'GOCART'      ,
                           'DUSCATAU'    , 'GOCART'      ,
                           'DUSMASS25'   , 'GOCART'      ,
                           'DUCMASS25'   , 'GOCART'      ,
                           'DUEXTT25'    , 'GOCART'      ,
                           'DUSCAT25'    , 'GOCART'      ,
                           'DUAERIDX'    , 'GOCART'      ,
                           'SSEM001'     , 'GOCART'      ,
                           'SSEM002'     , 'GOCART'      ,
                           'SSEM003'     , 'GOCART'      ,
                           'SSEM004'     , 'GOCART'      ,
                           'SSEM005'     , 'GOCART'      ,
                           'SSSD001'     , 'GOCART'      ,
                           'SSSD002'     , 'GOCART'      ,
                           'SSSD003'     , 'GOCART'      ,
                           'SSSD004'     , 'GOCART'      ,
                           'SSSD005'     , 'GOCART'      ,
                           'SSDP001'     , 'GOCART'      ,
                           'SSDP002'     , 'GOCART'      ,
                           'SSDP003'     , 'GOCART'      ,
                           'SSDP004'     , 'GOCART'      ,
                           'SSDP005'     , 'GOCART'      ,
                           'SSWT001'     , 'GOCART'      ,
                           'SSWT002'     , 'GOCART'      ,
                           'SSWT003'     , 'GOCART'      ,
                           'SSWT004'     , 'GOCART'      ,
                           'SSWT005'     , 'GOCART'      ,
                           'SSSMASS'     , 'GOCART'      ,
                           'SSCMASS'     , 'GOCART'      ,
                           'SSEXTTAU'    , 'GOCART'      ,
                           'SSSCATAU'    , 'GOCART'      ,
                           'SSSMASS25'   , 'GOCART'      ,
                           'SSCMASS25'   , 'GOCART'      ,
                           'SSEXTT25'    , 'GOCART'      ,
                           'SSSCAT25'    , 'GOCART'      ,
                           'SSAERIDX'    , 'GOCART'      ,
                           'SUEM001'     , 'GOCART'      ,
                           'SUEM002'     , 'GOCART'      ,
                           'SUEM003'     , 'GOCART'      ,
                           'SUEM004'     , 'GOCART'      ,
                           'SUDP001'     , 'GOCART'      ,
                           'SUDP002'     , 'GOCART'      ,
                           'SUDP003'     , 'GOCART'      ,
                           'SUDP004'     , 'GOCART'      ,
                           'SUWT001'     , 'GOCART'      ,
                           'SUWT002'     , 'GOCART'      ,
                           'SUWT003'     , 'GOCART'      ,
                           'SUWT004'     , 'GOCART'      ,
                           'SO2SMASS'    , 'GOCART'      ,
                           'SO2CMASS'    , 'GOCART'      ,
                           'SO4SMASS'    , 'GOCART'      ,
                           'SO4CMASS'    , 'GOCART'      ,
                           'DMSSMASS'    , 'GOCART'      ,
                           'DMSCMASS'    , 'GOCART'      ,
                           'SUPSO2'      , 'GOCART'      ,
                           'SUPSO4G'     , 'GOCART'      ,
                           'SUPSO4AQ'    , 'GOCART'      ,
                           'SUPSO4WT'    , 'GOCART'      ,
                           'SUPMSA'      , 'GOCART'      ,
                           'SUEXTTAU'    , 'GOCART'      ,
                           'SUSCATAU'    , 'GOCART'      ,
                           'BCEM001'     , 'GOCART'      ,
                           'BCEM002'     , 'GOCART'      ,
                           'BCDP001'     , 'GOCART'      ,
                           'BCDP002'     , 'GOCART'      ,
                           'BCWT001'     , 'GOCART'      ,
                           'BCWT002'     , 'GOCART'      ,
                           'BCSMASS'     , 'GOCART'      ,
                           'BCCMASS'     , 'GOCART'      ,
                           'BCEXTTAU'    , 'GOCART'      ,
                           'BCSCATAU'    , 'GOCART'      ,
                           'OCEM001'     , 'GOCART'      ,
                           'OCEM002'     , 'GOCART'      ,
                           'OCDP001'     , 'GOCART'      ,
                           'OCDP002'     , 'GOCART'      ,
                           'OCWT001'     , 'GOCART'      ,
                           'OCWT002'     , 'GOCART'      ,
                           'OCSMASS'     , 'GOCART'      ,
                           'OCCMASS'     , 'GOCART'      ,
                           'OCEXTTAU'    , 'GOCART'      ,
                           'OCSCATAU'    , 'GOCART'      ,
                           ::
 
 tavg3d_aer_p.format:     'CFIO' ,
@COMPRESS  tavg3d_aer_p.deflate:     1,
@COMPRESS  tavg3d_aer_p.nbits:      10,
 tavg3d_aer_p.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
 tavg3d_aer_p.frequency:  030000 ,
 tavg3d_aer_p.duration:   030000 ,
 tavg3d_aer_p.end_date:   >>>IOEDATE<<<,
 tavg3d_aer_p.end_time:   >>>IOETIME<<<,
 tavg3d_aer_p.mode:       'time-averaged',
 tavg3d_aer_p.vscale:     100.0,
 tavg3d_aer_p.vunit:      'hPa',
 tavg3d_aer_p.vvars:      'log(PLE)' , 'DYN'          ,
 tavg3d_aer_p.resolution:  @HIST_IM @HIST_JM,
 tavg3d_aer_p.levels:     1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 30 20 10,
 tavg3d_aer_p.fields:     'PS'          , 'DYN'        , 'PS'        ,
                          'LWI'         , 'SURFACE'    , 'LWI'       ,
                          'AIRDENS'  ,  'CHEMENV'       ,
                          'DUMASS'      , 'GOCART'     , 'DU'        ,
                          'SSMASS'      , 'GOCART'     , 'SS'        ,
                          'BCMASS'      , 'GOCART'     , 'BC'        ,
                          'OCMASS'      , 'GOCART'     , 'OC'        ,
                          'GOCART::SO2' , 'GOCART'     , 'SO2'       ,
                          'GOCART::SO4' , 'GOCART'     , 'SO4'       ,
                          ::

  inst2d_hwl_x.format:     'CFIO',
@COMPRESS   inst2d_hwl_x.deflate:     1,
@COMPRESS   inst2d_hwl_x.nbits:      10,
  inst2d_hwl_x.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  inst2d_hwl_x.mode:       'instantaneous',
  inst2d_hwl_x.resolution:  @HIST_IM @HIST_JM,
  inst2d_hwl_x.ref_time:   000000,
  inst2d_hwl_x.end_date:   >>>IOEDATE<<<,
  inst2d_hwl_x.end_time:   >>>IOETIME<<<,
  inst2d_hwl_x.frequency:  010000,
  inst2d_hwl_x.duration:   010000,
  inst2d_hwl_x.fields:     'SLP'          , 'DYN'         ,
                           'DUEXTTAU'     , 'GOCART'      ,
                           'SSEXTTAU'     , 'GOCART'      ,
                           'SUEXTTAU'     , 'GOCART'      ,
                           'BCEXTTAU'     , 'GOCART'      ,
                           'OCEXTTAU'     , 'GOCART'      ,
                           'CO2CL001'     , 'GOCART'      ,
                           'COCL'         , 'GOCART'      ,
                           'TOX'          , 'AGCM'   , 'O3DU'        ,
                           ::

  const_2d_asm_Nx.format:   'CFIO',
@COMPRESS   const_2d_asm_Nx.deflate:     1,
@COMPRESS   const_2d_asm_Nx.nbits:      10,
  const_2d_asm_Nx.template: '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  const_2d_asm_Nx.mode:     'instantaneous',
  const_2d_asm_Nx.resolution:  @HIST_IM @HIST_JM,
  const_2d_asm_Nx.frequency:  240000,
  const_2d_asm_Nx.duration:   240000,
  const_2d_asm_Nx.end_date:  >>>IOEDATE<<<,
  const_2d_asm_Nx.end_time:  >>>IOETIME<<<,
  const_2d_asm_Nx.fields:     'PHIS'      , 'AGCM' ,
                              'SGH'       , 'AGCM' ,
                              'FRLAKE'    , 'SURFACE'       ,
                              'FRLAND'    , 'SURFACE'       ,
                              'FRLANDICE' , 'SURFACE'       ,
                              'FROCEAN'   , 'SURFACE'       ,
                              'AREA'      , 'DYN'           ,
                              ::



#######################################################################
#                            Trigger Files
#######################################################################

  prepqc_trigger.format:    'CFIO' ,
  prepqc_trigger.template:  '%y4%m2%d2_%h2%n200.>>>NCSUFFIX<<<',
  prepqc_trigger.mode:      'instantaneous',
  prepqc_trigger.resolution:  @HIST_IM @HIST_JM,
  prepqc_trigger.ref_date:  >>>IOBQCD<<< ,
  prepqc_trigger.ref_time:  >>>IOBQCT<<< ,
  prepqc_trigger.end_date:  >>>IOEQCD<<< ,
  prepqc_trigger.end_time:  >>>IOEQCT<<< ,
  prepqc_trigger.fields:    'TS'       , 'SURFACE'       , 'TSKIN'     ,
                             ::

#######################################################################
#                      Used for extended forecast
#######################################################################
  prog.eta.format:     'CFIO' ,
  prog.eta.template:   '+.%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  prog.eta.frequency:  060000 ,
  prog.eta.duration:   060000 ,
  prog.eta.ref_time:   000000 ,
  prog.eta.mode:       'instantaneous',
  prog.eta.resolution:  @HIST_IM @HIST_JM,
  prog.eta.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
                       'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                       'SLP'      , 'DYN'           , 'slp'          ,
                       'PS'       , 'DYN'           , 'ps'           ,
                       'TS'       , 'SURFACE'       , 'ts'           ,
                       'FRLAND'   , 'SURFACE'       , 'frland'       ,
                       'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                       'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                       'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                       'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                       'DELP'     , 'DYN'           , 'delp'         ,
                       'U;V'      , 'DYN'           , 'u;v'          ,
                       'TV'       , 'DYN'           , 'tv'           ,
                       'Q'        , 'MOIST'         , 'sphu'         ,
                       'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                       'QITOT'    , 'AGCM'          , 'qitot'        ,
                       'QLTOT'    , 'AGCM'          , 'qltot'        ,
                       'QRTOT'    , 'MOIST'         , 'qrtot'        ,
                       'QSTOT'    , 'MOIST'         , 'qstot'        ,
                       ::

  prog.sfc.format:     'CFIO' ,
  prog.sfc.template:   '+.%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  prog.sfc.frequency:  060000 ,
  prog.sfc.duration:   060000 ,
  prog.sfc.ref_time:   000000 ,
  prog.sfc.mode:       'instantaneous',
  prog.sfc.resolution:  @HIST_IM @HIST_JM,
  prog.sfc.fields:     'PHIS'     , 'AGCM'          ,
                       'US;VS'    , 'DYN'           , 'UA;VA'     ,  
                       'TA'       , 'DYN'           ,
                       'QA'       , 'DYN'           ,
                       'TS'       , 'SURFACE'       , 'TSKIN'     ,
                       'QS'       , 'SURFACE'       ,
                       'U2M;V2M'  , 'SURFACE'       ,
                       'T2M'      , 'SURFACE'       ,
                       'Q2M'      , 'SURFACE'       ,
                       'U10N;V10N', 'SURFACE'       , 'U10M;V10M' ,
                       'T10M'     , 'SURFACE'       ,
                       'Q10M'     , 'SURFACE'       ,
                       'U50M;V50M', 'DYN'           ,
                       'SH'       , 'SURFACE'       , 'HFLUX'     ,
                       'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                       'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                       'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                       'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                       'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                       'TSOIL1'   , 'SURFACE'       ,
                       'FRLAND'   , 'SURFACE'       ,
                       'FRLANDICE', 'SURFACE'       ,
                       'FRLAKE'   , 'SURFACE'       ,
                       'FROCEAN'  , 'SURFACE'       ,
                       'FRACI'    , 'SURFACE'       , 'FRSEAICE'  ,
                       'COSZ'     , 'SOLAR'         ,
                       'QHAT'     , 'SURFACE'       ,
                       'THAT'     , 'SURFACE'       ,
                       'VENT'     , 'SURFACE'       ,
                       'GUST'     , 'SURFACE'       ,
                       'CM'       , 'SURFACE'       ,
                       'CQ'       , 'SURFACE'       ,
                       'CT'       , 'SURFACE'       ,
                       'D0'       , 'SURFACE'       , 'DISPH'    ,
                       'Z0'       , 'SURFACE'       , 'Z0M'      ,
                       'TROPP_EPV'     , 'AGCM'     , 'TROPPV'   ,
                       'TROPP_THERMAL' , 'AGCM'     , 'TROPPT'   ,
                       'TROPP_BLENDED' , 'AGCM'     , 'TROPPB'   ,
                       'TROPT'         , 'AGCM'     ,
                       'TROPQ'         , 'AGCM'     ,
                       ::


#######################################################################
#                     Aerosols/Constituents
#######################################################################

  gaas_bkg.sfc.format:     'CFIO' ,
  gaas_bkg.sfc.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<' ,
  gaas_bkg.sfc.ref_date:   >>>GAASDATEBEG<<< ,
  gaas_bkg.sfc.ref_time:   >>>GAASTIMEBEG<<< ,
  gaas_bkg.sfc.end_date:   >>>GAASDATEEND<<< ,
  gaas_bkg.sfc.end_time:   >>>GAASTIMEEND<<< ,
  gaas_bkg.sfc.frequency:  030000 ,
  gaas_bkg.sfc.duration:   030000 ,
  gaas_bkg.sfc.mode:       'instantaneous',
  gaas_bkg.sfc.resolution:  @HIST_IM @HIST_JM,
  gaas_bkg.sfc.fields:     'U10M;V10M' , 'SURFACE'  ,
                           'DUEXTTAU'  , 'GOCART'   ,
                           'SSEXTTAU'  , 'GOCART'   ,
                           'BCEXTTAU'  , 'GOCART'   ,
                           'OCEXTTAU'  , 'GOCART'   ,
                           'SUEXTTAU'  , 'GOCART'   ,
                           'NIEXTTAU'  , 'GOCART'   ,
                           'TOTEXTTAU' , 'GOCART'   ,
                           ::

#######################################################################
#                              FDDA Files 
#######################################################################

  traj.lcv.format:     'CFIO' ,
  traj.lcv.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  traj.lcv.frequency:  001500 ,
  traj.lcv.duration:   001500 ,
  traj.lcv.ref_date:  >>>IOEDATE<<< ,
  traj.lcv.ref_time:  >>>IOETIME<<< ,
  traj.lcv.end_date:  >>>IOEDATE<<< ,
  traj.lcv.end_time:  >>>IOETIME<<< ,
  traj.lcv.mode:       'instantaneous',
@FVTRAJ  traj.lcv.resolution: @TRILNLON @TRILNLAT,
@FVTRAJ  traj.lcv.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
@FVTRAJ                       'SGH'      , 'AGCM'          , 'hs_stdv'      ,
@FVTRAJ                       'LWI'      , 'SURFACE'       , 'lwi'          ,
@FVTRAJ                       'PS'       , 'DYN'           , 'ps'           ,
@FVTRAJ                       'TS'       , 'SURFACE'       , 'ts'           ,
@FVTRAJ                       'DELP'     , 'DYN'           , 'delp'         ,
@FVTRAJ                       'U_DGRID;V_DGRID', 'DYN'     , 'uwnd;vwnd'         ,
@FVTRAJ                       'THV'      , 'DYN'           , 'theta'        ,
@FVTRAJ                       'Q'        , 'MOIST'         , 'sphu'         ,
@FVTRAJ                       'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
@FVTRAJ                       'QITOT'    , 'AGCM'          , 'qitot'        ,
@FVTRAJ                       'QLTOT'    , 'AGCM'          , 'qltot'        ,
@FVTRAJ                       'QRTOT'    , 'MOIST'         , 'qrtot'        ,
@FVTRAJ                       'QSTOT'    , 'MOIST'         , 'qstot'        ,
@FV3TRAJ  traj.lcv.resolution: 90 540,
@FV3TRAJ  traj.lcv.fields: 'U_DGRID;V_DGRID'  , 'DYN'  , 'U;V'      ,
@FV3TRAJ                   'TH'         , 'DYN'        , 'PT'       ,
@FV3TRAJ                   'Q'          , 'MOIST'      , 'QV'       ,
@FV3TRAJ                   'DELP'       , 'DYN'        , 'DP'       ,
@FV3TRAJ                   'QITOT'      , 'AGCM'       , 'QI'       ,
@FV3TRAJ                   'QLTOT'      , 'AGCM'       , 'QL'       ,
@FV3TRAJ                   'QRTOT'      , 'MOIST'      , 'QR'       ,
@FV3TRAJ                   'QSTOT'      , 'MOIST'      , 'QS'       ,
@FV3TRAJ                   'O3PPMV'     , 'CHEMISTRY'  , 'O3'       ,
@FV3TRAJ                   'QCLSX0'     , 'MOIST'      , 'QLS'      ,
@FV3TRAJ                   'QCCNX0'     , 'MOIST'      , 'QCN'      ,
@FV3TRAJ                   'CLCNX0'     , 'MOIST'      , 'CFCN'     ,
@FV3TRAJ                   'PS'         , 'DYN'        , 'PS'       , 
@FV3TRAJ                   'PHIS'       , 'AGCM'       , 'PHIS'     ,
@FV3TRAJ                   'SGH'        , 'AGCM'       , 'HS_STDV'  ,
@FV3TRAJ                   'FRLAND'     , 'SURFACE'    , 'FRLAND'   , 
@FV3TRAJ                   'FROCEAN'    , 'SURFACE'    , 'FROCEAN'  ,
@FV3TRAJ                   'KCBL_moist' , 'MOIST'      , 'KCBL'     ,
@FV3TRAJ                   'TS_moist'   , 'MOIST'      , 'TS'       ,
@FV3TRAJ                   'KHl_moist'  , 'MOIST'      , 'KHL'      ,
@FV3TRAJ                   'KHu_moist'  , 'MOIST'      , 'KHU'      ,
@FV3TRAJ                   'VARFLT'     , 'AGCM'       , 'VARFLT'   ,
@FV3TRAJ                   'USTAR'      , 'SURFACE'    , 'USTAR'    ,
@FV3TRAJ                   'BSTAR'      , 'SURFACE'    , 'BSTAR'    ,
@FV3TRAJ                   'ZPBL'       , 'TURBULENCE' , 'ZPBL'     ,
@FV3TRAJ                   'CM'         , 'SURFACE'    , 'CM'       ,
@FV3TRAJ                   'CT'         , 'SURFACE'    , 'CT'       ,
@FV3TRAJ                   'CQ'         , 'SURFACE'    , 'CQ'       ,
                        ::

@FVTRAJ  ptrj.prs.format:     'CFIO' ,
@FVTRAJ  ptrj.prs.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
@FVTRAJ  ptrj.prs.ref_date:  >>>IOEDATE<<< ,
@FVTRAJ  ptrj.prs.ref_time:  >>>IOETIME<<< ,
@FVTRAJ  ptrj.prs.end_date:  >>>IOEDATE<<< ,
@FVTRAJ  ptrj.prs.end_time:  >>>IOETIME<<< ,
@FVTRAJ  ptrj.prs.frequency:  003000 ,
@FVTRAJ  ptrj.prs.duration:   003000 ,
@FVTRAJ# ptrj.prs.resolution: @TRILNLON @TRILNLAT,
@FVTRAJ  ptrj.prs.mode:       'instantaneous',
@FVTRAJ  ptrj.prs.fields:    'CKSODT'   , 'TURBULENCE'    , 'cah'       ,
@FVTRAJ                      'CKVODT'   , 'TURBULENCE'    , 'cam'       ,
@FVTRAJ                      'AKSODT'   , 'TURBULENCE'    , 'cch'       ,
@FVTRAJ                      'AKVODT'   , 'TURBULENCE'    , 'ccm'       ,
@FVTRAJ#                     'AKQODT'   , 'TURBULENCE'    , 'akqodt'    ,
@FVTRAJ#                     'CKQODT'   , 'TURBULENCE'    , 'ckqodt'    ,
                             ::



#######################################################################
#                             Asens Files 
#######################################################################

  traj_lcv_rst.format:     'CFIO' ,
  traj_lcv_rst.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  traj_lcv_rst.ref_date:  >>>FCSDATE<<< ,
  traj_lcv_rst.ref_time:  >>>FCSTIME<<< ,
  traj_lcv_rst.end_date:  >>>FCSDATE<<< ,
  traj_lcv_rst.end_time:  >>>FCSTIME<<< ,
  traj_lcv_rst.mode:       'instantaneous',
@FVTRAJ  traj_lcv_rst.resolution: @TRILNLON @TRILNLAT,
@FVTRAJ  traj_lcv_rst.fields: 'PHIS'     , 'AGCM'          , 'phis'         ,
@FVTRAJ                       'SGH'      , 'AGCM'          , 'hs_stdv'      ,
@FVTRAJ                       'LWI'      , 'SURFACE'       , 'lwi'          ,
@FVTRAJ                       'PS'       , 'DYN'           , 'ps'           ,
@FVTRAJ                       'TS'       , 'SURFACE'       , 'ts'           ,
@FVTRAJ                       'DELP'     , 'DYN'           , 'delp'         ,
@FVTRAJ                       'U_DGRID;V_DGRID', 'DYN'     , 'uwnd;vwnd'    ,
@FVTRAJ                       'THV'      , 'DYN'           , 'theta'        ,
@FVTRAJ                       'Q'        , 'MOIST'         , 'sphu'         ,
@FVTRAJ                       'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
@FVTRAJ                       'QITOT'    , 'AGCM'          , 'qitot'        ,
@FVTRAJ                       'QLTOT'    , 'AGCM'          , 'qltot'        ,
@FVTRAJ                       'QRTOT'    , 'MOIST'         , 'qrtot'        ,
@FVTRAJ                       'QSTOT'    , 'MOIST'         , 'qstot'        ,
@FV3TRAJ  traj_lcv_rst.resolution: 90 540,
@FV3TRAJ  traj_lcv_rst.fields: 'U_DGRID;V_DGRID' , 'DYN'   , 'U;V'      ,
@FV3TRAJ                   'TH'         , 'DYN'        , 'PT'       ,
@FV3TRAJ                   'Q'          , 'MOIST'      , 'QV'       ,
@FV3TRAJ                   'DELP'       , 'DYN'        , 'DP'       ,
@FV3TRAJ                   'QITOT'      , 'AGCM'       , 'QI'       ,
@FV3TRAJ                   'QLTOT'      , 'AGCM'       , 'QL'       ,
@FV3TRAJ                   'QRTOT'      , 'MOIST'      , 'QR'       ,
@FV3TRAJ                   'QSTOT'      , 'MOIST'      , 'QS'       ,
@FV3TRAJ                   'O3PPMV'     , 'CHEMISTRY'  , 'O3'       ,
@FV3TRAJ                   'QCLSX0'     , 'MOIST'      , 'QLS'      ,
@FV3TRAJ                   'QCCNX0'     , 'MOIST'      , 'QCN'      ,
@FV3TRAJ                   'CLCNC0'     , 'MOIST'      , 'CFCN'     ,
@FV3TRAJ                   'PS'         , 'DYN'        , 'PS'       , 
@FV3TRAJ                   'PHIS'       , 'AGCM'       , 'PHIS'     ,
@FV3TRAJ                   'SGH'        , 'AGCM'       , 'HS_STDV'  ,
@FV3TRAJ                   'FRLAND'     , 'SURFACE'    , 'FRLAND'   , 
@FV3TRAJ                   'FROCEAN'    , 'SURFACE'    , 'FROCEAN'  ,
@FV3TRAJ                   'KCBL_moist' , 'MOIST'      , 'KCBL'     ,
@FV3TRAJ                   'TS_moist'   , 'MOIST'      , 'TS'       ,
@FV3TRAJ                   'KHl_moist'  , 'MOIST'      , 'KHL'      ,
@FV3TRAJ                   'KHu_moist'  , 'MOIST'      , 'KHU'      ,
@FV3TRAJ                   'VARFLT'     , 'AGCM'       , 'VARFLT'   ,
@FV3TRAJ                   'USTAR'      , 'SURFACE'    , 'USTAR'    ,
@FV3TRAJ                   'BSTAR'      , 'SURFACE'    , 'BSTAR'    ,
@FV3TRAJ                   'ZPBL'       , 'TURBULENCE' , 'ZPBL'     ,
@FV3TRAJ                   'CM'         , 'SURFACE'    , 'CM'       ,
@FV3TRAJ                   'CT'         , 'SURFACE'    , 'CT'       ,
@FV3TRAJ                   'CQ'         , 'SURFACE'    , 'CQ'       ,
                        ::

  ptrj_prs_rst.format:     'CFIO' ,
  ptrj_prs_rst.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  ptrj_prs_rst.ref_date:  >>>FCSDATE<<< ,
  ptrj_prs_rst.ref_time:  >>>FCSTIME<<< ,
  ptrj_prs_rst.end_date:  >>>FCSDATE<<< ,
  ptrj_prs_rst.end_time:  >>>FCSTIME<<< ,
# ptrj_prs_rst.resolution: @TRILNLON @TRILNLAT,
  ptrj_prs_rst.mode:       'instantaneous',
  ptrj_prs_rst.fields:    'CKSODT'   , 'TURBULENCE'    , 'cah'       ,
                      'CKVODT'   , 'TURBULENCE'    , 'cam'       ,
                      'AKSODT'   , 'TURBULENCE'    , 'cch'       ,
                      'AKVODT'   , 'TURBULENCE'    , 'ccm'       ,
#                     'AKQODT'   , 'TURBULENCE'    , 'akqodt'    ,
#                     'CKQODT'   , 'TURBULENCE'    , 'ckqodt'    ,
                      ::
