#######################################################################
#                 Create History List for Output
#######################################################################
 
EXPID:  @EXPID
EXPDSC: @EXPDSC
 
COLLECTIONS: 'bkg.eta'
             'bkg.sfc'
             'cbkg.eta'
#            'gaas_bkg.sfc'
@4DVAR       'traj.lcv'
#@4DVAR       'ptrj.prs'
              ::
#                      --------------------------
#                      Full Resolution Background
#                      --------------------------

  bkg.eta.format:     'CFIO' ,
  bkg.eta.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
  bkg.eta.end_date:  >>>IOEDATE<<< ,
  bkg.eta.end_time:  >>>IOETIME<<< ,
  bkg.eta.frequency:  @ASYNFRQ ,
  bkg.eta.duration:   @ASYNFRQ ,
  bkg.eta.mode:       'instantaneous',
  bkg.eta.resolution:  @HIST_IM @HIST_JM,
  bkg.eta.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U;V'      , 'DYN'           , 'u;v'          ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'QRTOT'    , 'MOIST'         , 'qrtot'        ,
                      'QSTOT'    , 'MOIST'         , 'qstot'        ,
                      ::

  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
  bkg.sfc.end_date:  >>>IOEDATE<<< ,
  bkg.sfc.end_time:  >>>IOETIME<<< ,
  bkg.sfc.frequency:  @ASYNFRQ ,
  bkg.sfc.duration:   @ASYNFRQ ,
  bkg.sfc.mode:       'instantaneous',
  bkg.sfc.resolution:  @HIST_IM @HIST_JM,
  bkg.sfc.fields:     'PHIS'     , 'AGCM'          ,
                      'US;VS'    , 'DYN'           , 'UA;VA'     ,  
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M;V2M'  , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N;V10N', 'SURFACE'       , 'U10M;V10M' ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M;V50M', 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'FRACI'    , 'SURFACE'       , 'FRSEAICE'  ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                      'TROPP_EPV'     , 'AGCM'     , 'TROPPV'   ,
                      'TROPP_THERMAL' , 'AGCM'     , 'TROPPT'   ,
                      'TROPP_BLENDED' , 'AGCM'     , 'TROPPB'   ,
                      'TROPT'         , 'AGCM'     ,
                      'TROPQ'         , 'AGCM'     ,
                      'Z0'            , 'SURFACE'  , 'Z0M'      ,
                      'DCOOL'         , 'SURFACE'  ,
                      'DWARM'         , 'SURFACE'  ,
                      'TDROP'         , 'SURFACE'  ,
                      'TS_FOUND'      , 'SURFACE'  ,
                      'TDEL'          , 'SURFACE'  ,
                      ::

  cbkg.eta.format:      'CFIO' ,
  cbkg.eta.template:    '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  cbkg.eta.ref_date:    >>>IOBBKGD<<< ,
  cbkg.eta.ref_time:    >>>IOBBKGT<<< ,
  cbkg.eta.end_date:    >>>IOEBKGD<<< ,
  cbkg.eta.end_time:    >>>IOEBKGT<<< ,
  cbkg.eta.frequency:   @ASYNFRQ ,
  cbkg.eta.duration:    @ASYNFRQ ,
  cbkg.eta.mode:        'instantaneous',
  cbkg.eta.resolution:  @HIST_BKG_IM @HIST_BKG_JM,
  cbkg.eta.fields:      'PS'           , 'DYN'      ,
                        'PHIS'         , 'AGCM'     ,
                        'DELP'         , 'DYN'      ,
                        'AIRDENS'      , 'CHEMENV'  ,
                        'GOCART::CO'   , 'GOCART'   , 'CO'   ,
                        'GOCART::CO2'  , 'GOCART'   , 'CO2'  ,
                        ::

  gaas_bkg.sfc.format:     'CFIO' ,
  gaas_bkg.sfc.template:   '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<' ,
  gaas_bkg.sfc.ref_date:   >>>GAASDATEBEG<<< ,
  gaas_bkg.sfc.ref_time:   >>>GAASTIMEBEG<<< ,
  gaas_bkg.sfc.end_date:   >>>GAASDATEEND<<< ,
  gaas_bkg.sfc.end_time:   >>>GAASTIMEEND<<< ,
  gaas_bkg.sfc.frequency:  030000 ,
  gaas_bkg.sfc.duration:   030000 ,
  gaas_bkg.sfc.mode:       'instantaneous',
  gaas_bkg.sfc.resolution:  @HIST_IM @HIST_JM,
  gaas_bkg.sfc.fields:     'U10M;V10M' , 'SURFACE'  ,
                           'DUEXTTAU'  , 'GOCART'   ,
                           'SSEXTTAU'  , 'GOCART'   ,
                           'BCEXTTAU'  , 'GOCART'   ,
                           'OCEXTTAU'  , 'GOCART'   ,
                           'SUEXTTAU'  , 'GOCART'   ,
                           'NIEXTTAU'  , 'GOCART'   ,
                           'TOTEXTTAU' , 'GOCART'   ,
                           ::

#                 -------------------------------------
#                 Reduced Resolution ADM/TLM Trajectory
#                 -------------------------------------
#                  ==> MUST BE AT THE END OF LIST <==

  traj.lcv.format:     'CFIO' ,
  traj.lcv.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  traj.lcv.ref_date:  >>>IOBBKGD<<< ,
  traj.lcv.ref_time:  >>>IOBBKGT<<< ,
  traj.lcv.end_date:  >>>IOEDATE<<< ,
  traj.lcv.end_time:  >>>IOETIME<<< ,
  traj.lcv.frequency:  001500 ,
  traj.lcv.duration:   001500 ,
  traj.lcv.mode:       'instantaneous',
@FVTRAJ  traj.lcv.resolution: @TRILNLON @TRILNLAT,
@FVTRAJ  traj.lcv.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
@FVTRAJ                       'SGH'      , 'AGCM'          , 'hs_stdv'      ,
@FVTRAJ                       'LWI'      , 'SURFACE'       , 'lwi'          ,
@FVTRAJ                       'PS'       , 'DYN'           , 'ps'           ,
@FVTRAJ                       'TS'       , 'SURFACE'       , 'ts'           ,
@FVTRAJ                       'DELP'     , 'DYN'           , 'delp'         ,
@FVTRAJ                       'U_DGRID;V_DGRID', 'DYN'     , 'uwnd;vwnd'    ,
@FVTRAJ                       'THV'      , 'DYN'           , 'theta'        ,
@FVTRAJ                       'Q'        , 'MOIST'         , 'sphu'         ,
@FVTRAJ                       'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
@FVTRAJ                       'QITOT'    , 'AGCM'          , 'qitot'        ,
@FVTRAJ                       'QLTOT'    , 'AGCM'          , 'qltot'        ,
@FVTRAJ                       'QRTOT'    , 'MOIST'         , 'qrtot'        ,
@FVTRAJ                       'QSTOT'    , 'MOIST'         , 'qstot'        ,
@FV3TRAJ  traj.lcv.resolution: 90 540,
@FV3TRAJ  traj.lcv.fields: 'U_DGRID;V_DGRID' , 'DYN'   , 'U;V'      ,
@FV3TRAJ                   'TH'         , 'DYN'        , 'PT'       ,
@FV3TRAJ                   'Q'          , 'MOIST'      , 'QV'       ,
@FV3TRAJ                   'DELP'       , 'DYN'        , 'DP'       ,
@FV3TRAJ                   'QITOT'      , 'AGCM'       , 'QI'       ,
@FV3TRAJ                   'QLTOT'      , 'AGCM'       , 'QL'       ,
@FV3TRAJ                   'QRTOT'      , 'MOIST'      , 'QR'       ,
@FV3TRAJ                   'QSTOT'      , 'MOIST'      , 'QS'       ,
@FV3TRAJ                   'O3PPMV'     , 'CHEMISTRY'  , 'O3'       ,
@FV3TRAJ                   'QCLSX0'     , 'MOIST'      , 'QLS'      ,
@FV3TRAJ                   'QCCNX0'     , 'MOIST'      , 'QCN'      ,
@FV3TRAJ                   'CLCNX0'     , 'MOIST'      , 'CFCN'     ,
@FV3TRAJ                   'PS'         , 'DYN'        , 'PS'       , 
@FV3TRAJ                   'PHIS'       , 'AGCM'       , 'PHIS'     ,
@FV3TRAJ                   'SGH'        , 'AGCM'       , 'HS_STDV'  ,
@FV3TRAJ                   'FRLAND'     , 'SURFACE'    , 'FRLAND'   , 
@FV3TRAJ                   'FROCEAN'    , 'SURFACE'    , 'FROCEAN'  ,
@FV3TRAJ                   'KCBL_moist' , 'MOIST'      , 'KCBL'     ,
@FV3TRAJ                   'TS_moist'   , 'MOIST'      , 'TS'       ,
@FV3TRAJ                   'KHl_moist'  , 'MOIST'      , 'KHL'      ,
@FV3TRAJ                   'KHu_moist'  , 'MOIST'      , 'KHU'      ,
@FV3TRAJ                   'VARFLT'     , 'AGCM'       , 'VARFLT'   ,
@FV3TRAJ                   'USTAR'      , 'SURFACE'    , 'USTAR'    ,
@FV3TRAJ                   'BSTAR'      , 'SURFACE'    , 'BSTAR'    ,
@FV3TRAJ                   'ZPBL'       , 'TURBULENCE' , 'ZPBL'     ,
@FV3TRAJ                   'CM'         , 'SURFACE'    , 'CM'       ,
@FV3TRAJ                   'CT'         , 'SURFACE'    , 'CT'       ,
@FV3TRAJ                   'CQ'         , 'SURFACE'    , 'CQ'       ,
                        ::

  ptrj.prs.format:     'CFIO' ,
  ptrj.prs.template:   '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<',
  ptrj.prs.ref_date:  >>>IOBBKGD<<< ,
  ptrj.prs.ref_time:  >>>IOBBKGT<<< ,
  ptrj.prs.end_date:  >>>IOEDATE<<< ,
  ptrj.prs.end_time:  >>>IOETIME<<< ,
  ptrj.prs.frequency:  003000 ,
  ptrj.prs.duration:   003000 ,
# ptrj.prs.resolution: @TRILNLON @TRILNLAT,
  ptrj.prs.mode:       'instantaneous',
  ptrj.prs.fields:    'CKSODT'   , 'TURBULENCE'    , 'cah'       ,
                      'CKVODT'   , 'TURBULENCE'    , 'cam'       ,
                      'AKSODT'   , 'TURBULENCE'    , 'cch'       ,
                      'AKVODT'   , 'TURBULENCE'    , 'ccm'       ,
#                     'AKQODT'   , 'TURBULENCE'    , 'akqodt'    ,
#                     'CKQODT'   , 'TURBULENCE'    , 'ckqodt'    ,
                      ::
