
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'geosgcm_eta'
             'gmichem_eta'
             ::

  geosgcm_eta.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_eta.archive:    '%c/Y%y4',
  geosgcm_eta.format:     'CFIO',
  geosgcm_eta.mode:       'instantaneous',
  geosgcm_eta.frequency:  060000,
  geosgcm_eta.ref_time:   000000,
  geosgcm_eta.resolution: @HIST_IM @HIST_JM,
  geosgcm_eta.fields:   'U'	   , 'DYN' ,
                        'V'	   , 'DYN' ,
                        'T'	   , 'DYN' ,
                        'Q'	   , 'MOIST' ,
                        'QCTOT'    , 'MOIST' ,
                        'DELP'     , 'DYN' ,
                        'PS'	   , 'DYN' ,
                   'TROPP_BLENDED' , 'AGCM' , 'TROPP' ,
                        'TS'	   , 'SURFACE' ,
                        'RADSW'    , 'RADIATION' ,
                        'RADLW'    , 'RADIATION' ,
                        'AIRDENS'  , 'CHEMENV' ,
                        'ZL'	   , 'DYN' ,
                   ::

  gmichem_eta.template:   '%y4%m2%d2_%h2%n2z.nc4',
  gmichem_eta.archive:    '%c/Y%y4',
  gmichem_eta.format:     'CFIO',
  gmichem_eta.mode:       'instantaneous',
  gmichem_eta.frequency:  060000,
  gmichem_eta.ref_time:   000000,
  gmichem_eta.resolution: @HIST_IM @HIST_JM,
  gmichem_eta.fields:   'AOADAYS'  , 'GMICHEM' ,
                        'OX'       , 'GMICHEM' ,
                        'CH2O'     , 'GMICHEM' ,
                        'N2O5'     , 'GMICHEM' ,
                        'ClONO2'   , 'GMICHEM' ,
                        'HCl'      , 'GMICHEM' ,
                        'HOCl'     , 'GMICHEM' ,
                        'N2O'      , 'GMICHEM' ,
                        'Cl2'      , 'GMICHEM' ,
                        'OClO'     , 'GMICHEM' ,
                        'BrCl'     , 'GMICHEM' ,
                        'HBr'      , 'GMICHEM' ,
                        'BrONO2'   , 'GMICHEM' ,
                        'CH4'      , 'GMICHEM' ,
                        'HOBr'     , 'GMICHEM' ,
                        'CO'       , 'GMICHEM' ,
                        'HNO3COND' , 'GMICHEM' ,
                        'HNO3'     , 'GMICHEM' ,
                        'HNO4'     , 'GMICHEM' ,
                        'H2O2'     , 'GMICHEM' ,
                        'CFC11'    , 'GMICHEM' ,
                        'CFC12'    , 'GMICHEM' ,
                        'CFC113'   , 'GMICHEM' ,
                        'CCl4'     , 'GMICHEM' ,
                        'CH3CCl3'  , 'GMICHEM' ,
                        'CH3Cl'    , 'GMICHEM' ,
                        'CH3Br'    , 'GMICHEM' ,
                        'N'        , 'GMICHEM' ,
                        'NO'       , 'GMICHEM' ,
                        'NO2'      , 'GMICHEM' ,
                        'NO3'      , 'GMICHEM' ,
                        'OH'       , 'GMICHEM' ,
                        'O1D'      , 'GMICHEM' ,
                        'HO2'      , 'GMICHEM' ,
                        'MO2'      , 'GMICHEM' ,
                        'MP'       , 'GMICHEM' ,
                        'ISOP'     , 'GMICHEM' ,
                        'PAN'      , 'GMICHEM' ,
                        'ALD2'     , 'GMICHEM' ,
                        'ALK4'     , 'GMICHEM' ,
                        'C2H6'     , 'GMICHEM' ,
                        'C3H8'     , 'GMICHEM' ,
                        'PRPE'     , 'GMICHEM' ,
                        'ACET'     , 'GMICHEM' ,
                        'Cl'       , 'GMICHEM' ,
                        'ClO'      , 'GMICHEM' ,
                        'BrO'      , 'GMICHEM' ,
                        'Br'       , 'GMICHEM' ,
                        'Cl2O2'    , 'GMICHEM' ,
                        'GMITO3'   , 'GMICHEM' ,
                        'GMITTO3'  , 'GMICHEM' ,
                      'EMISOPSFC'  , 'GMICHEM' ,
                        'EMNOX'    , 'GMICHEM' ,
                        'EMMONOT'  , 'GMICHEM' ,
                    'EMBIOCOMETH'  , 'GMICHEM' ,
                   'EMBIOCOMONOT'  , 'GMICHEM' ,
                   'EMBIOPROPENE'  , 'GMICHEM' ,
                      'EMSOILNOX'  , 'GMICHEM' ,
                     'EMSHIPHNO3'  , 'GMICHEM' ,
                       'EMSHIPO3'  , 'GMICHEM' ,
                        'EM_NO'    , 'GMICHEM' ,
                        'EM_CO'    , 'GMICHEM' ,
                        'EM_MEK'   , 'GMICHEM' ,
                        'EM_PRPE'  , 'GMICHEM' ,
                        'EM_C2H6'  , 'GMICHEM' ,
                        'EM_C3H8'  , 'GMICHEM' ,
                        'EM_ALK4'  , 'GMICHEM' ,
                        'EM_ALD2'  , 'GMICHEM' ,
                        'EM_CH2O'  , 'GMICHEM' ,
                        'EM_ACET'  , 'GMICHEM' ,
                        'EM_CH4'   , 'GMICHEM' ,
		      'OX_GMITEND' , 'GMICHEM'    ,
		     'OX_AGCMTEND' , 'AGCM'    ,
		     'OX_PHYSTEND' , 'PHYSICS'    ,
		            'OXIM' , 'PHYSICS'    , 'OX_MOISTTEND' ,
		            'OXIT' , 'PHYSICS'    , 'OX_TURBTEND' ,
                   ::
