
MAPLROOT_COMPNAME: GCM
        ROOT_NAME: GCM
ROOT_CF: AGCM.rc
HIST_CF: HISTORY.rc

BEG_DATE:     18910301 000000
END_DATE:     29990302 210000
JOB_SGMT:     00000000 120000
NUM_SGMT:     1
HEARTBEAT_DT: 75

USE_SHMEM: 1
USE_EXTDATA2G: .TRUE.

file_weights: .false.

# Parameters for Cycled REPLAY Forecasts
# --------------------------------------
 BEG_REPDATE: 20230401
 END_REPDATE: 20300101
FCST_SEGMENT: 00000003

#PERPETUAL_YEAR:   YYYY
#PERPETUAL_MONTH:    MM
#PERPETUAL_DAY:      DD

MAPL_ENABLE_TIMERS: YES
MAPL_ENABLE_MEMUTILS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)

