&fv_core_nml
 @FV_HYDRO
 range_warn = .T.
 fv_debug = .F.
/

&main_nml
/

&test_case_nml
  test_case = 13
/

&fms_io_nml
/

&fms_nml
  print_memory_usage=.true.
  domains_stack_size = 24000000
  clock_grain='MODULE',
  clock_flags='DETAILED',
/

&gfdl_cloud_microphysics_nml
  sedi_transport = .true.
  do_sedi_heat = .false.
  preciprad = .true.
  const_vi = .F.
  const_vs = .F.
  const_vg = .F.
  const_vr = .F.
  vi_fac = 1.
  vi_max = 1.
  vs_max = 2.
  vg_max = 12.
  vr_max = 12.
  qi_lim = 1.
  do_evap = .false.
  do_subl = .false.
  do_qa = .false.
  sat_adj0 = 0.75
  tau_l2v  = 225.
  tau_i2v  = 225.
  tau_revp = 225.
  tau_frz  = 450.
  tau_i2s  = 450.
  dw_land  = 0.05
  dw_ocean = 0.20
  ql_mlt = 1.0e-4
  qi0_crt = 8.0E-5
  qs0_crt = 1.0e-3
  c_psaci = 0.05
  c_pgacs = 0.01
  rh_inc = 0.30
  rh_inr = 0.30
  c_paut = 1.0
  c_cracw = 1.0
  use_ppm = .false.
  @GFDL_PROG_CCN
  @GFDL_USE_CCN
  ccn_l = 300.
  ccn_o = 100.
  mono_prof = .true.
  z_slope_liq  = .true.
  z_slope_ice  = .true.
  de_ice = .false.
  fix_negative = .true.
  icloud_f = 3
  mp_time = 150.
/

