&fv_core_nml
 range_warn = .F.
 fv_debug = .F.
 {{ FV_SCHMIDT }}
 {{ FV_STRETCH_FAC }}
 {{ FV_TARGET_LON }}
 {{ FV_TARGET_LAT }}
/

&main_nml
/

&test_case_nml
  test_case = 13
/

&fms_io_nml
/

&fms_nml
  print_memory_usage=.true.
  domains_stack_size = 12000000
  clock_grain='MODULE',
  clock_flags='DETAILED',
/

&gfdl_mp_nml
/

&gfdl_cloud_microphysics_nml
/

