&fv_core_nml
 d4_bg_bot = 0.04
 n_split = 10
 k_split = 4
 consv_te = 0.0
 hydrostatic = .F.
 range_warn = .F.
 fv_debug = .F.
 do_schmidt  = .true.
 stretch_fac = 2.5
 target_lon  = -98.35
 target_lat  = 39.5
/

&main_nml
/

&test_case_nml
  test_case = 13
/

&fms_io_nml
/

&fms_nml
  print_memory_usage=.true.
  domains_stack_size = 12000000
  clock_grain='MODULE',
  clock_flags='DETAILED',
/

&gfdl_mp_nml
/

&gfdl_cloud_microphysics_nml
/

