&fv_core_nml
 @FV_HYDRO
 range_warn = .T.
 fv_debug = .F.
 @FV_SCHMIDT
 @FV_STRETCH_FAC
 @FV_TARGET_LON
 @FV_TARGET_LAT
 compute_coords_locally = .false.
/

&main_nml
/

&test_case_nml
  test_case = 13
/

&fms_io_nml
/

&fms_nml
  print_memory_usage=.true.
  domains_stack_size = 24000000
  clock_grain='MODULE',
  clock_flags='DETAILED',
/

&gfdl_cloud_microphysics_nml
  sedi_transport = .true.
  do_evap = .false.
  do_subl = .false.
  do_qa = .false.
  tau_l2v  = 300.
  tau_i2v  = 300.
  tau_s2v  = 300.
  tau_g2v  = 300.
  tau_revp = 300.
  tau_frz  = 300.
  dw_land  = 0.05
  dw_ocean = 0.10
  rh_inc = 0.30
  rh_inr = 0.30
  qi0_crt = 8.0E-5
  qs0_crt = 1.0e-3
  c_psaci = 0.05
  c_pgacs = 0.01
  c_paut = 1.0
  c_cracw = 1.0
  @GFDL_PROG_CCN
  @GFDL_USE_CCN
  ccn_l = 300.
  ccn_o = 100.
  z_slope_liq  = .true.
  z_slope_ice  = .true.
  fix_negative = .true.
  icloud_f = 3
  mp_time = 150.
/

