
#######################################################################
#                 Create History List for Output
#######################################################################

VERSION: 1
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'geosgcm_prog'
             'gcc_strat'
             'gcc_col'
             'gcc_emis'
             'gcc_trop'
             'gcc_dep'
             ::

##################################################
# The GRID_LABELS section must be after the main #
#  list of COLLECTIONS for scripting purposes.   #
##################################################

GRID_LABELS: PC@HIST_IMx@HIST_JM-DC
::

PC@HIST_IMx@HIST_JM-DC.GRID_TYPE: LatLon
PC@HIST_IMx@HIST_JM-DC.IM_WORLD: @HIST_IM
PC@HIST_IMx@HIST_JM-DC.JM_WORLD: @HIST_JM
PC@HIST_IMx@HIST_JM-DC.POLE: PC
PC@HIST_IMx@HIST_JM-DC.DATELINE: DC
PC@HIST_IMx@HIST_JM-DC.LM: @AGCM_LM


  geosgcm_prog.template:         '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_prog.archive:          '%c/Y%y4' ,
  geosgcm_prog.format:           'CFIO' ,
  geosgcm_prog.deflate:           1 ,
  geosgcm_prog.grid_label:        PC@HIST_IMx@HIST_JM-DC ,
  geosgcm_prog.regrid_method:    'BILINEAR',
  geosgcm_prog.frequency:         060000 ,
  geosgcm_prog.vscale:            100.0 ,
  geosgcm_prog.vunit:            'hPa' ,
  geosgcm_prog.vvars:            'log(PLE)' , 'DYN' ,
  geosgcm_prog.levels:            1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02 ,
  geosgcm_prog.fields:           'PHIS'   , 'AGCM'       ,
                                 'SLP'    , 'DYN'        ,
                                 'U;V'    , 'DYN'        ,
                                 'T'      , 'DYN'        ,
                                 'PS'     , 'DYN'        ,
                                 'ZLE'    , 'DYN'        , 'H'   ,
                                 'OMEGA'  , 'DYN'        ,
                                 'Q'      , 'MOIST'      , 'QV'  ,
                                 'QITOT'  , 'AGCM'       , 'QI'  ,
                                 'QLTOT'  , 'AGCM'       , 'QL'  ,
                                 'RH2'    , 'MOIST'      , 'RH'  ,
                                 'TPREC' , 'MOIST'      ,
                                 'ZPBL'  , 'TURBULENCE' ,
                                 'TROPP_BLENDED' , 'AGCM'       , 'TROPPB' ,                                  
                                 'CLDTT' , 'SOLAR'      ,
                              ::

  gcc_strat.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_strat.archive:   '%c/Y%y4',
  gcc_strat.format:    'CFIO',
  gcc_strat.deflate:    1,
  gcc_strat.mode:      'instantaneous' ,
  gcc_strat.frequency:  240000,
  gcc_strat.ref_time:   210000,
  gcc_strat.regrid_method:    'BILINEAR',
  gcc_strat.grid_label:  PC@HIST_IMx@HIST_JM-DC ,
  gcc_strat.levels:   1000 681.3 464.2 316.2 261.0 215.4 146.8 100 68.1 46.4 31.6 21.5 14.7 10 6.81 4.64 3.16 2.15 1.47 1 0.68 0.46 0.32 0.215 0.147 0.1 0.046 0.0215,
  gcc_strat.fields:           'T'             , 'DYN'          ,
                              'TH'          , 'DYN'          ,
                              'ZLE'          , 'DYN'          , 'H'       ,
                              'TROPP_BLENDED' , 'AGCM'   , 'TROPPB' ,
                              'EPV'          , 'DYN'          ,
                              'COSZ'         , 'SOLAR'        ,
                              'SpeciesConc_O3'        , 'GEOSCHEMCHEM' , 'O3'          ,
                              'SpeciesConc_CH3Cl'     , 'GEOSCHEMCHEM' , 'CH3Cl'       ,
                              'SpeciesConc_ClNO3'    , 'GEOSCHEMCHEM' , 'ClONO2'      ,
                              'SpeciesConc_ClO'       , 'GEOSCHEMCHEM' , 'ClO'         ,
                              'SpeciesConc_Cl2O2'     , 'GEOSCHEMCHEM' , 'Cl2O2'       ,
                              'SpeciesConc_CO'        , 'GEOSCHEMCHEM' , 'CO'          ,
                              'SpeciesConc_H2O'       , 'GEOSCHEMCHEM' , 'H2O'         ,
                              'SpeciesConc_HCl'       , 'GEOSCHEMCHEM' , 'HCl'         ,
                              'SpeciesConc_HNO3'      , 'GEOSCHEMCHEM' , 'HNO3'        ,
                              'SpeciesConc_N2O'       , 'GEOSCHEMCHEM' , 'N2O'         ,
                              'NOy'                   , 'GEOSCHEMCHEM' , 'NOy'         ,
                              'SpeciesConc_NO2'       , 'GEOSCHEMCHEM' , 'NO2'         ,
                              'SpeciesConc_NO'        , 'GEOSCHEMCHEM' , 'NO'          ,
                              'SpeciesConc_Br'        , 'GEOSCHEMCHEM' , 'Br'          ,
                              'SpeciesConc_BrO'       , 'GEOSCHEMCHEM' , 'BrO'         ,
                              'SpeciesConc_BrNO3'     , 'GEOSCHEMCHEM' , 'BrNO3'       ,
                              'SpeciesConc_HOBr'      , 'GEOSCHEMCHEM' , 'HOBr'        ,
                              'SpeciesConc_Cl'        , 'GEOSCHEMCHEM' , 'Cl'          ,
                              'Bry'                   , 'GEOSCHEMCHEM' , 'Bry'         ,
                              'SpeciesConc_CFC11'     , 'GEOSCHEMCHEM' , 'CFC11'       ,
                              'Cly'                   , 'GEOSCHEMCHEM' , 'Cly'         ,
                              'SpeciesConc_N2O5'      , 'GEOSCHEMCHEM' , 'N2O5'        ,
                              'AerSurfAreaStratLiquid'           , 'GEOSCHEMCHEM' ,
                              'AerSurfAreaPolarStratCloud'       , 'GEOSCHEMCHEM' ,
                              'SpeciesConc_O'        , 'GEOSCHEMCHEM' , 'O3P'         ,
                              'SpeciesConc_O1D'      , 'GEOSCHEMCHEM' , 'O1D'         ,
                              'SpeciesConc_NO3'      , 'GEOSCHEMCHEM' , 'NO3'         ,
                              ::
                              
  gcc_trop.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_trop.archive:   '%c/Y%y4',
  gcc_trop.format:    'CFIO',
  gcc_trop.deflate:    1,
  gcc_trop.mode:      'instantaneous' ,
  gcc_trop.frequency:  060000,
  gcc_trop.ref_time:   210000,
  gcc_trop.regrid_method:    'BILINEAR',
  gcc_trop.grid_label:  PC@HIST_IMx@HIST_JM-DC ,
  gcc_trop.levels:     1,
  gcc_trop.fields:     'SpeciesConc_NO2'      , 'GEOSCHEMCHEM' , 'NO2'   ,
                              'SpeciesConc_NO'       , 'GEOSCHEMCHEM' , 'NO'    ,
                              'NOy'                  , 'GEOSCHEMCHEM' , 'NOy'   ,
                              'SpeciesConc_HNO3'     , 'GEOSCHEMCHEM' , 'HNO3'  ,
                              'SpeciesConc_HNO4'     , 'GEOSCHEMCHEM' , 'HNO4'  ,
                              'SpeciesConc_N2O5'     , 'GEOSCHEMCHEM' , 'N2O5'  ,
                              'SpeciesConc_NH3'      , 'GEOSCHEMCHEM' , 'NH3'   ,
                              'SpeciesConc_NH4'      , 'GEOSCHEMCHEM' , 'NH4'   ,
                              'SpeciesConc_NIT'      , 'GEOSCHEMCHEM' , 'NIT'   ,
                              'SpeciesConc_O3'       , 'GEOSCHEMCHEM' , 'O3'    ,
                              'SpeciesConc_SO2'      , 'GEOSCHEMCHEM' , 'SO2'   ,
                              'SpeciesConc_SO4'      , 'GEOSCHEMCHEM' , 'SO4'   ,
                              'SpeciesConc_CO'       , 'GEOSCHEMCHEM' , 'CO'    ,
                              'SpeciesConc_PAN'      , 'GEOSCHEMCHEM' , 'PAN'   ,
                              'SpeciesConc_MEK'      , 'GEOSCHEMCHEM' , 'MEK'   ,
                              'SpeciesConc_MVK'      , 'GEOSCHEMCHEM' , 'MVK'   ,
                              'SpeciesConc_C2H6'     , 'GEOSCHEMCHEM' , 'C2H6'  ,
                              'SpeciesConc_C3H8'     , 'GEOSCHEMCHEM' , 'C3H8'  ,
                              'SpeciesConc_CH2O'     , 'GEOSCHEMCHEM' , 'HCHO'  ,
                              'SpeciesConc_ALD2'     , 'GEOSCHEMCHEM' , 'ALD2'  ,
                              'SpeciesConc_ALK4'     , 'GEOSCHEMCHEM' , 'ALK4'  ,
                              'SpeciesConc_ISOP'     , 'GEOSCHEMCHEM' , 'ISOP'  ,
                              'SpeciesConc_SOAS'     , 'GEOSCHEMCHEM' , 'SOAS'  ,
                              'SpeciesConc_SOAP'     , 'GEOSCHEMCHEM' , 'SOAP'  ,
                              'SpeciesConc_ACET'     , 'GEOSCHEMCHEM' , 'ACET'  ,
                              'SpeciesConc_RCHO'     , 'GEOSCHEMCHEM' , 'RCHO'  ,
                              'SpeciesConc_H2O2'     , 'GEOSCHEMCHEM' , 'H2O2'  ,
                              'SpeciesConc_PRPE'     , 'GEOSCHEMCHEM' , 'PRPE'  ,
                              'SpeciesConc_MACR'     , 'GEOSCHEMCHEM' , 'MACR'  ,
                              'SpeciesConc_BENZ'     , 'GEOSCHEMCHEM' , 'BENZ'  ,
                              'SpeciesConc_TOLU'     , 'GEOSCHEMCHEM' , 'TOLU'  ,
                              'SpeciesConc_XYLE'     , 'GEOSCHEMCHEM' , 'XYLE'  ,
                              'SpeciesConc_EOH'      , 'GEOSCHEMCHEM' , 'EOH'   ,
                              'SpeciesConc_OCPI'     , 'GEOSCHEMCHEM' , 'OCPI'  ,
                              'SpeciesConc_OCPO'     , 'GEOSCHEMCHEM' , 'OCPO'  ,
                              'SpeciesConc_BCPI'     , 'GEOSCHEMCHEM' , 'BCPI'  ,
                              'SpeciesConc_BCPO'     , 'GEOSCHEMCHEM' , 'BCPO'  ,
                              'SpeciesConc_DST1'     , 'GEOSCHEMCHEM' , 'DST1'  ,
                              'SpeciesConc_DST2'     , 'GEOSCHEMCHEM' , 'DST2'  ,
                              'SpeciesConc_DST3'     , 'GEOSCHEMCHEM' , 'DST3'  ,
                              'SpeciesConc_DST4'     , 'GEOSCHEMCHEM' , 'DST4'  ,
                              'SpeciesConc_SALA'     , 'GEOSCHEMCHEM' , 'SALA'  ,
                              'SpeciesConc_SALC'     , 'GEOSCHEMCHEM' , 'SALC'  ,
                              'PM25'                 , 'GEOSCHEMCHEM' ,
                              'SpeciesConc_OH'       , 'GEOSCHEMCHEM' , 'OH'    ,
                              'SpeciesConc_CH4'      , 'GEOSCHEMCHEM' , 'CH4'   ,                              
                              ::

  gcc_col.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_col.archive:   '%c/Y%y4',
  gcc_col.format:    'CFIO',
  gcc_col.deflate:    1,
  gcc_col.mode:      'instantaneous' ,
  gcc_col.frequency:  060000,
  gcc_col.ref_time:   210000,
  gcc_col.regrid_method:    'BILINEAR',
  gcc_col.grid_label: PC@HIST_IMx@HIST_JM-DC ,
  gcc_col.fields:             'GCCTO3'          , 'GEOSCHEMCHEM' , 'TotCol_O3'       ,
                              'GCCTTO3'         , 'GEOSCHEMCHEM' , 'TropCol_O3' ,
                              'PblCol_O3'       , 'GEOSCHEMCHEM' , 'PBLCol_O3' ,
                              'TotCol_BrO'      , 'GEOSCHEMCHEM' , 'TotCol_BrO' ,
                              'TropCol_BrO'     , 'GEOSCHEMCHEM' , 'TropCol_BrO' ,
                              'TotCol_IO'       , 'GEOSCHEMCHEM' , 'TotCol_IO' ,
                              'TropCol_IO'      , 'GEOSCHEMCHEM' , 'TropCol_IO' ,
                              'TotCol_NO2'      , 'GEOSCHEMCHEM' , 'TotCol_NO2' ,
                              'TropCol_NO2'     , 'GEOSCHEMCHEM' , 'TropCol_NO2' ,
                              'PblCol_NO2'      , 'GEOSCHEMCHEM' , 'PBLCol_NO2' ,
                              'TotCol_SO2'      , 'GEOSCHEMCHEM' , 'TotCol_SO2' ,
                              'TropCol_SO2'     , 'GEOSCHEMCHEM' , 'TropCol_SO2' ,
                              'PblCol_SO2'      , 'GEOSCHEMCHEM' , 'PBLCol_SO2' ,
                              'TotCol_CO'       , 'GEOSCHEMCHEM' , 'TotCol_CO' ,
                              'TropCol_CO'      , 'GEOSCHEMCHEM' , 'TropCol_CO' ,
                              'TropCol_CH2O'    , 'GEOSCHEMCHEM' , 'TropCol_HCHO' ,
                              'TropCol_ISOP'    , 'GEOSCHEMCHEM' , 'TropCol_ISOP' ,
                              'TropCol_PAN'     , 'GEOSCHEMCHEM' , 'TropCol_PAN' ,
                              'TropCol_NH3'     , 'GEOSCHEMCHEM' , 'TropCol_NH3' ,
                              'COSZ'            , 'SOLAR'        ,
                              'ColAODHygWL1_SO4    ', 'GEOSCHEMCHEM', 'AOD550_SNA' ,
                              'ColAODHygWL1_BCPI   ', 'GEOSCHEMCHEM', 'AOD550_BC' , #here BCPI includes BCPO
                              'ColAODHygWL1_OCPI   ', 'GEOSCHEMCHEM', 'AOD550_OC' , #and OCPI includes OCPO
                              'ColAODHygWL1_SALA+ColAODHygWL1_SALC   ','GEOSCHEMCHEM', 'AOD550_SS' ,
                              'ColAODDustWL1       ','GEOSCHEMCHEM', 'AOD550_DUST' ,
                              'ColAODStratLiquidAerWL1        ','GEOSCHEMCHEM', 'AOD550_SLA' ,
                              'ColAODPolarStratCloudWL1        ','GEOSCHEMCHEM', 'AOD550_PSC' ,
                     ::


  gcc_emis.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_emis.archive:   '%c/Y%y4',
  gcc_emis.format:    'CFIO',
  gcc_emis.deflate:    1,
  gcc_emis.mode:      'instantaneous' ,
  gcc_emis.frequency:  060000,
  gcc_emis.ref_time:   210000,
  gcc_emis.regrid_method:    'BILINEAR',
  gcc_emis.grid_label: PC@HIST_IMx@HIST_JM-DC ,
  gcc_emis.fields:   'EMIS_CO'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_PRPE'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SO2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_C2H6'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_C3H8'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_BENZ'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_TOLU'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_XYLE'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_HCOOH'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2O'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_ISOP'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_LIMO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SESQ'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_MTPA'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_MTPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DMS'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_Br2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_I2'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_HOI'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH3I'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2I2'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2ICl'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2IBr'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_CHBr3'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2Br2'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_BCPI'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_BCPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_OCPI'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_OCPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST1'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST2'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST3'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST4'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SALA'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SALC'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SOAP'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SOAS'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_pFe'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_MEK'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_ALD2'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_ACET'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_NH3'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_EOH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_MOH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_ROH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO_LGHT'             , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO_SOIL'             , 'GEOSCHEMCHEM'  ,
                     'LFR_GCC'                  , 'MOIST'         ,
                     'LFR'                      , 'CHEMENV'       ,
                     ::

  gcc_dep.template:   '%y4%m2%d2_%h2%n2z.nc4',
  gcc_dep.archive:    '%c/Y%y4',
  gcc_dep.descr:      '2d,24-Hourly,Time-Averaged,Surface-Layer,GEOS-Chem Dry and Wet Deposition Flux Fields',
  gcc_dep.format:     'CFIO',
  gcc_dep.mode:       'time-averaged',
  gcc_dep.frequency:  240000,
  gcc_dep.ref_time:   210000,
  gcc_dep.grid_label: PC@HIST_IMx@HIST_JM-DC ,
  gcc_dep.regrid_method: 'BILINEAR',
  gcc_dep.levels:     72,
  gcc_dep.fields:   'DryDep_O3'       , 'GEOSCHEMCHEM' , 'DRYDEPFLX_O3'  ,
                    'DryDep_SO2'       , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SO2'  ,
                    'DryDep_SO4'       , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SO4'  ,
                    'DryDep_NO2'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NO2'  ,
                    'DryDep_HNO3'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_HNO3'  ,
                    'DryDep_NH4'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NH4'  ,
                    'DryDep_NH3'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NH3'  ,
                    'DryDep_NIT'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NIT'  ,
                    'DryDep_BCPO'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_BCPO'  ,
                    'DryDep_BCPI'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_BCPI'  ,
                    'DryDep_OCPO'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_OCPO'  ,
                    'DryDep_OCPI'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_OCPI'  ,
                    'DryDep_DST1'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST1'  ,
                    'DryDep_DST2'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST2'  ,
                    'DryDep_DST3'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST3'  ,
                    'DryDep_DST4'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST4'  ,
                    'DryDep_SALA'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SALA'  ,
                    'DryDep_SALC'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SALC'  ,
                    'DryDep_CH2O'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_HCHO'  ,
                    'WetLossLS_SO2'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_SO2'   ,
                    'WetLossLS_SO4'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_SO4'   ,
                    'WetLossLS_SALA' , 'GEOSCHEMCHEM' , 'WETDEPFLX_SALA'  ,
                    'WetLossLS_SALC' , 'GEOSCHEMCHEM' , 'WETDEPFLX_SALC'  ,
                    'WetLossLS_HNO3' , 'GEOSCHEMCHEM' , 'WETDEPFLX_HNO3'  ,
                    'WetLossLS_NH4'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NH4'   ,
                    'WetLossLS_NH3'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NH3'   ,
                    'WetLossLS_NIT'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NIT'   ,
                    'WetLossLS_BCPO' , 'GEOSCHEMCHEM' , 'WETDEPFLX_BCPO'  ,
                    'WetLossLS_BCPI' , 'GEOSCHEMCHEM' , 'WETDEPFLX_BCPI'  ,
                    'WetLossLS_OCPO' , 'GEOSCHEMCHEM' , 'WETDEPFLX_OCPO'  ,
                    'WetLossLS_OCPI' , 'GEOSCHEMCHEM' , 'WETDEPFLX_OCPI'  ,
                    'WetLossLS_DST1' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST1'  ,
                    'WetLossLS_DST2' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST2'  ,
                    'WetLossLS_DST3' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST3'  ,
                    'WetLossLS_DST4' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST4'  ,
                    'WetLossLS_CH2O' , 'GEOSCHEMCHEM' , 'WETDEPFLX_HCHO'  ,
                    'GCC_ConvScav_GF_SO2' , 'MOIST'  , 'WETDEPFLX_CONV_SO2' ,
                    'GCC_ConvScav_GF_SO4' , 'MOIST'  , 'WETDEPFLX_CONV_SO4' ,
                    'GCC_ConvScav_GF_SALA' , 'MOIST'  , 'WETDEPFLX_CONV_SALA' ,
                    'GCC_ConvScav_GF_SALC' , 'MOIST'  , 'WETDEPFLX_CONV_SALC' ,
                    'GCC_ConvScav_GF_HNO3' , 'MOIST'  , 'WETDEPFLX_CONV_HNO3' ,
                    'GCC_ConvScav_GF_NH4' , 'MOIST'  , 'WETDEPFLX_CONV_NH4' ,
                    'GCC_ConvScav_GF_NH3' , 'MOIST'  , 'WETDEPFLX_CONV_NH3' ,
                    'GCC_ConvScav_GF_NIT' , 'MOIST'  , 'WETDEPFLX_CONV_NIT' ,
                    'GCC_ConvScav_GF_BCPO' , 'MOIST'  , 'WETDEPFLX_CONV_BCPO' ,
                    'GCC_ConvScav_GF_BCPI' , 'MOIST'  , 'WETDEPFLX_CONV_BCPI' ,
                    'GCC_ConvScav_GF_OCPO' , 'MOIST'  , 'WETDEPFLX_CONV_OCPO' ,
                    'GCC_ConvScav_GF_OCPI' , 'MOIST'  , 'WETDEPFLX_CONV_OCPI' ,
                    'GCC_ConvScav_GF_DST1' , 'MOIST'  , 'WETDEPFLX_CONV_DST1' ,
                    'GCC_ConvScav_GF_DST2' , 'MOIST'  , 'WETDEPFLX_CONV_DST2' ,
                    'GCC_ConvScav_GF_DST3' , 'MOIST'  , 'WETDEPFLX_CONV_DST3' ,
                    'GCC_ConvScav_GF_DST4' , 'MOIST'  , 'WETDEPFLX_CONV_DST4' ,
                    'GCC_ConvScav_GF_CH2O' , 'MOIST'  , 'WETDEPFLX_CONV_CH2O' ,
                    ::
