
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'tavg24_3d_chm_Nv'
             'tavg24_3d_met_Nv'
             'tavg24_2d_chm_Nx'
             'tavg24_2d_met_Nx'
             'tend'
             ::

  tavg24_2d_met_Nx.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg24_2d_met_Nx.archive:    '%c/Y%y4',
  tavg24_2d_met_Nx.descr:      '2d,24-Hourly,Time-Averaged,Surface-Layer,Meteorological Fields',
  tavg24_2d_met_Nx.format:     'CFIO',
  tavg24_2d_met_Nx.mode:       'time-averaged',
  tavg24_2d_met_Nx.frequency:  240000,
  tavg24_2d_met_Nx.duration:   240000,
  tavg24_2d_met_Nx.ref_time:   000000,
  tavg24_2d_met_Nx.resolution: @HIST_IM @HIST_JM,
  tavg24_2d_met_Nx.levels:     72,
  tavg24_2d_met_Nx.fields:     'U'       , 'DYN'        ,
                              'U2M'     , 'SURFACE'    ,
                              'U10M'    , 'SURFACE'    ,
                              'V'       , 'DYN'        ,
                              'V2M'     , 'SURFACE'    ,
                              'V10M'    , 'SURFACE'    ,
                              'T'       , 'DYN'        ,
                              'TS'      , 'SURFACE'    ,
                              'T2M'     , 'SURFACE'    ,
                              'T10M'    , 'SURFACE'    ,
                              'Q'       , 'MOIST'      ,
                              'Q2M'     , 'SURFACE'    ,
                              'Q10M'    , 'SURFACE'    ,
                              'CLDTT'   , 'SOLAR'      ,
                              'PS'      , 'DYN'        ,
                              'RH2'     , 'MOIST'      , 'RH' ,
                              'SLP'     , 'DYN'        ,
                              'PHIS'    , 'DYN'        ,
                              'TPREC'   , 'MOIST'      ,
                              'ZL'      , 'DYN'        ,
                              'ZPBL'    , 'TURBULENCE' ,
                              ::

  tavg24_3d_met_Nv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg24_3d_met_Nv.archive:    '%c/Y%y4',
  tavg24_3d_met_Nv.descr:      '3d,3-Hourly,Time-Averaged,Model-Level,Meteorological Fields',
  tavg24_3d_met_Nv.format:     'CFIO',
  tavg24_3d_met_Nv.mode:       'time-averaged',
  tavg24_3d_met_Nv.frequency:  240000,
  tavg24_3d_met_Nv.duration:   240000,
  tavg24_3d_met_Nv.ref_time:   000000,
  tavg24_3d_met_Nv.resolution: @HIST_IM @HIST_JM,
  tavg24_3d_met_Nv.fields:     'U'          , 'DYN'       ,
                               'V'          , 'DYN'       ,
                               'T'          , 'DYN'       ,
                               'Q'          , 'MOIST'     ,
                               'QCTOT'      , 'MOIST'     ,
                               'DELP'       , 'DYN'       ,
                               'PS'         , 'DYN'       ,
                               'PHIS'       , 'DYN'       ,
                               'AIRDENS'    , 'CHEMENV'   ,
#                               'AIRDENS_DRY', 'CHEMENV'   ,
                               'PL'         , 'DYN'       ,
                               'ZL'         , 'DYN'       ,
                               'OMEGA'      , 'DYN'       ,
                               'RH2'        , 'MOIST'     , 'RH' ,
                               'EPV'        , 'DYN'       ,
                               'TH'         , 'DYN'       ,
#                               'TH*EXP((2.5e+6)*(Q/(1-Q))/(1004.0*T))' , 'DYN' , 'ETH' ,
                               'ALBVF'       , 'SOLAR'    , 'ALBVISDF' ,
                               'TROPP_BLENDED' , 'AGCM'   , 'TROPPB' ,
                               ::

  tavg24_3d_chm_Nv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg24_3d_chm_Nv.archive:    '%c/Y%y4',
  tavg24_3d_chm_Nv.descr:      '3d,3-Hourly,Time-Averaged,Model-Level,Chemistry Fields',
  tavg24_3d_chm_Nv.format:     'CFIO',
  tavg24_3d_chm_Nv.mode:       'time-averaged',
  tavg24_3d_chm_Nv.frequency:  240000,
  tavg24_3d_chm_Nv.duration:   240000,
  tavg24_3d_chm_Nv.ref_time:   000000,
  tavg24_3d_chm_Nv.resolution: @HIST_IM @HIST_JM,
  tavg24_3d_chm_Nv.fields:     'TH'       , 'DYN' ,
#                              'NO2dry'       , 'GEOSCHEMCHEM' ,
#                              'NOdry'        , 'GEOSCHEMCHEM' ,
#                              'CH4dry'       , 'GEOSCHEMCHEM' ,
#                              'OHconcAfterChem' , 'GEOSCHEMCHEM' ,
#                              'O3dry'        , 'GEOSCHEMCHEM' ,
#                              'COdry'        , 'GEOSCHEMCHEM' ,
#                              'PANdry'       , 'GEOSCHEMCHEM' ,
#                              'HNO3dry'      , 'GEOSCHEMCHEM' ,
                               'TRC_H2O'      , 'GEOSCHEMCHEM' ,
#                              'BrOdry'       , 'GEOSCHEMCHEM' ,
#                              'BrNO2dry'     , 'GEOSCHEMCHEM' ,
#                              'BrNO3dry'     , 'GEOSCHEMCHEM' ,
#                              'Brdry'        , 'GEOSCHEMCHEM' ,
#                              'BrCldry'      , 'GEOSCHEMCHEM' ,
#                              'Br2dry'       , 'GEOSCHEMCHEM' ,
#                              'HBrdry'       , 'GEOSCHEMCHEM' ,
#                              'HOBrdry'      , 'GEOSCHEMCHEM' ,
#                              'Cldry'        , 'GEOSCHEMCHEM' ,
#                              'IOdry'        , 'GEOSCHEMCHEM' ,
#                              'ISOPdry'      , 'GEOSCHEMCHEM' ,
#                              'CH2Odry'      , 'GEOSCHEMCHEM' ,
#                              'CFC11dry'     , 'GEOSCHEMCHEM' ,
                               'TRC_SO2'      , 'GEOSCHEMCHEM' ,
                               'TRC_SO4'      , 'GEOSCHEMCHEM' ,
                               'TRC_DST1'     , 'GEOSCHEMCHEM' ,
                               'TRC_DST2'     , 'GEOSCHEMCHEM' ,
                               'TRC_DST3'     , 'GEOSCHEMCHEM' ,
                               'TRC_DST4'     , 'GEOSCHEMCHEM' ,
                               'TRC_SALA'     , 'GEOSCHEMCHEM' ,
                               'TRC_SALC'     , 'GEOSCHEMCHEM' ,
                               'TRC_OCPI'     , 'GEOSCHEMCHEM' ,
                               'TRC_OCPO'     , 'GEOSCHEMCHEM' ,
                               'TRC_BCPI'     , 'GEOSCHEMCHEM' ,
                               'TRC_BCPO'     , 'GEOSCHEMCHEM' ,
                               'DELP'       , 'DYN'       ,
                               'AIRDENS'    , 'CHEMENV'   ,
                               'Q'          , 'MOIST'     ,
                               'PS'         , 'DYN'       ,
                               'T'          , 'DYN'       ,
                              ::

  tavg24_2d_chm_Nx.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg24_2d_chm_Nx.archive:    '%c/Y%y4',
  tavg24_2d_chm_Nx.descr:      '2d,24-Hourly,Time-Averaged,Surface-Level,Chemistry Fields',
  tavg24_2d_chm_Nx.format:     'CFIO',
  tavg24_2d_chm_Nx.mode:       'time-averaged',
  tavg24_2d_chm_Nx.frequency:  240000,
  tavg24_2d_chm_Nx.duration:   240000,
  tavg24_2d_chm_Nx.ref_time:   000000,
  tavg24_2d_chm_Nx.levels:     72,
  tavg24_2d_chm_Nx.resolution: @HIST_IM @HIST_JM,
  tavg24_2d_chm_Nx.fields:     'EMIS_CO'      , 'GEOSCHEMCHEM' ,
                               'EMIS_NO'      , 'GEOSCHEMCHEM' ,
                               'EMIS_NO_SOIL' , 'GEOSCHEMCHEM' ,
                               'EMIS_NO_LGHT' , 'GEOSCHEMCHEM' ,
                               'EMIS_SALA'    , 'GEOSCHEMCHEM' ,
                               'EMIS_SALC'    , 'GEOSCHEMCHEM' ,
                               'EMIS_HOI'     , 'GEOSCHEMCHEM' ,
                               'EMIS_I2'      , 'GEOSCHEMCHEM' ,
                               'EMIS_CH3I'    , 'GEOSCHEMCHEM' ,
                               'EMIS_CH2I2'   , 'GEOSCHEMCHEM' ,
                               'EMIS_CH2ICl'  , 'GEOSCHEMCHEM' ,
                               'EMIS_CH2IBr'  , 'GEOSCHEMCHEM' ,
                               'EMIS_BrSALA'  , 'GEOSCHEMCHEM' ,
                               'EMIS_BrSALC'  , 'GEOSCHEMCHEM' ,
                               'EMIS_DST1'    , 'GEOSCHEMCHEM' ,
                               'EMIS_DST2'    , 'GEOSCHEMCHEM' ,
                               'EMIS_DST3'    , 'GEOSCHEMCHEM' ,
                               'EMIS_DST4'    , 'GEOSCHEMCHEM' ,
                               'EMIS_ACET'    , 'GEOSCHEMCHEM' ,
                               'EMIS_ISOP'    , 'GEOSCHEMCHEM' ,
                               'EMIS_NH3'     , 'GEOSCHEMCHEM' ,
                               'EMIS_SO2'     , 'GEOSCHEMCHEM' ,
                               'EMIS_SO2_VER' , 'GEOSCHEMCHEM' ,
                               'EMIS_SO2_VDG' , 'GEOSCHEMCHEM' ,
                               'EMIS_SO4'     , 'GEOSCHEMCHEM' ,
                               'EMIS_SO4_VER' , 'GEOSCHEMCHEM' ,
                               'EMIS_SO4_VDG' , 'GEOSCHEMCHEM' ,
#                               'GCCTTO3'      , 'GEOSCHEMCHEM' ,
#                               'GCCTO3'       , 'GEOSCHEMCHEM' ,
#                               'TOTCOL_BrO'   , 'GEOSCHEMCHEM' ,
#                               'TROPCOL_BrO'  , 'GEOSCHEMCHEM' ,
#                               'TROPCOL_IO'   , 'GEOSCHEMCHEM' ,
#                               'TOTCOL_IO'    , 'GEOSCHEMCHEM' ,
#                               'TOTCOL_NO2'   , 'GEOSCHEMCHEM' ,
#                               'TROPCOL_NO2'  , 'GEOSCHEMCHEM' ,
#                               'TOTCOL_CH2O'  , 'GEOSCHEMCHEM' ,
#                               'TROPCOL_CH2O' , 'GEOSCHEMCHEM' ,
#                               'TOTCOL_CO'    , 'GEOSCHEMCHEM' ,
#                               'TROPCOL_CO'   , 'GEOSCHEMCHEM' ,
#                               'AOD550_CLOUD'   , 'GEOSCHEMCHEM' ,
#                               'AOD550_DUST'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_SULFATE' , 'GEOSCHEMCHEM' ,
#                               'AOD550_BC'      , 'GEOSCHEMCHEM' ,
#                               'AOD550_OC'      , 'GEOSCHEMCHEM' ,
#                               'AOD550_SALA'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_SALC'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST1'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST2'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST3'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST4'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST5'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST6'    , 'GEOSCHEMCHEM' ,
#                               'AOD550_DST7'    , 'GEOSCHEMCHEM' ,
#                               'O3dry'          , 'GEOSCHEMCHEM' ,
#                               'O3vv_2m'        , 'GEOSCHEMCHEM' ,
#                               'O3vv_10m'       , 'GEOSCHEMCHEM' ,
#                               'NO2dry'         , 'GEOSCHEMCHEM' ,
#                               'NO2vv_2m'       , 'GEOSCHEMCHEM' ,
#                               'NO2vv_10m'      , 'GEOSCHEMCHEM' ,
#                               'NOy'            , 'GEOSCHEMCHEM' ,
#                               'PM25'           , 'GEOSCHEMCHEM' ,
#                               'PM25ni'         , 'GEOSCHEMCHEM' ,
#                               'PM25su'         , 'GEOSCHEMCHEM' ,
#                               'PM25oc'         , 'GEOSCHEMCHEM' ,
#                               'PM25bc'         , 'GEOSCHEMCHEM' ,
#                               'PM25du'         , 'GEOSCHEMCHEM' ,
#                               'PM25ss'         , 'GEOSCHEMCHEM' ,
#                               'PM25soa'        , 'GEOSCHEMCHEM' ,
#                               'BENZdry'        , 'GEOSCHEMCHEM' ,
#                               'TOLUdry'        , 'GEOSCHEMCHEM' ,
#                               'XYLEdry'        , 'GEOSCHEMCHEM' ,
                               'AIRDENS'        , 'CHEMENV'   ,
                               'Q'              , 'MOIST'     ,
                               'PS'             , 'DYN'       ,
                               'T'              , 'DYN'       ,
                               'TROPP_BLENDED'  , 'AGCM'   , 'TROPPB' ,
#                               'CH4pseudoFlux'   , 'GEOSCHEMCHEM' ,
#                               'GCC_AIRNUMDEN'   , 'GEOSCHEMCHEM' ,
#                               'GCC_AIRVOL'      , 'GEOSCHEMCHEM' ,
#                               'DryDepRa10m'     , 'GEOSCHEMCHEM' ,
#                               'DryDepRa2m'      , 'GEOSCHEMCHEM' ,
#                               'DryDepVel_O3'    , 'GEOSCHEMCHEM' ,
#                               'DryDepVel_NO2'   , 'GEOSCHEMCHEM' ,
#                               'DryDep_O3'       , 'GEOSCHEMCHEM' ,
#                               'DryDep_HNO3'     , 'GEOSCHEMCHEM' ,
#                               'WetLossConv_HNO3' , 'GEOSCHEMCHEM' ,
#                               'WetLossLS_HNO3'   , 'GEOSCHEMCHEM' ,
                           ::

  tend.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tend.archive:    '%c/Y%y4',
  tend.descr:      '3d,24-Hourly,Instantaneous,Model-Level,Tendency Fields',
  tend.format:     'CFIO',
  tend.mode:       'time-averaged',
  tend.frequency:  240000,
  tend.duration:   240000,
  tend.ref_time:   000000,
  tend.resolution: @HIST_IM @HIST_JM,
  tend.fields:     'PS' , 'DYN' ,
#                   Examples for writing increments to .nc4 file.
#                   Legend: 'Bundle_name%Chem_Module::Species_name_with_suffix', 'Gridded_component'
#                   Note: GEOS-Chem species are not friendly to MOIST, so there is no MOIST tendency
                          'TRI%GEOSCHEMCHEM::TRC_SO4IT'   ,  'TURBULENCE' ,   'DSO4DTTURB'  ,
                       'TRADVI%GEOSCHEMCHEM::TRC_SO4ID'   ,  'AGCM'       ,   'DSO4DTDYN'   ,
                      'CHEMTRI%GEOSCHEMCHEM::TRC_SO4IC'   ,  'CHEMISTRY'  ,   'DSO4DTCHEM'  ,
                      'H2ORTRI%GEOSCHEMCHEM::TRC_SO4IW'   ,  'PHYSICS'    ,   'DSO4DTWRSCL' ,
                          ::
