#######################################################################
#                 Create History List for Output
#######################################################################

EXPID:  u000_C48
EXPDSC: u000_C48__GEOSadas-5_17_0p5F_OPS__agrid_C48__ogrid_c
EXPSRC: GEOSadas-5_17_0p5F_OPS

COLLECTIONS:  'bkg.eta'
	      'cbkg.eta'
	      'bkg.sfc'
             ::


  inst3_3d_asm_Np.format:      'CFIO' ,
  inst3_3d_asm_Np.descr:       '3d,3-Hourly,Instantaneous,Pressure-Level,Assimilation Fields (wind,temperature)' ,
  inst3_3d_asm_Np.nbits:       10 ,
  inst3_3d_asm_Np.template:    '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ,
  inst3_3d_asm_Np.mode:        'instantaneous' ,
  inst3_3d_asm_Np.resolution:  144 90 ,
  inst3_3d_asm_Np.frequency:   030000 ,
  inst3_3d_asm_Np.duration:    030000 ,
  inst3_3d_asm_Np.fields:  'TV',          'AGCM',
	          'U' ,          'AGCM',
	          'V' ,          'AGCM',
	          'Q',           'AGCM',
		  'TS',          'AGCM',
		  'O3PPMV',      'AGCM',
		  'QITOT',       'AGCM',
		  'QLTOT',       'AGCM',
	       	  ::


  tavg1_2d_slv_Nx.format:      'CFIO' ,
  tavg1_2d_slv_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation,Single-Level Diagnostics' ,
  tavg1_2d_slv_Nx.nbits:       10 ,
  tavg1_2d_slv_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ,
  tavg1_2d_slv_Nx.mode:        'time-averaged' ,
  tavg1_2d_slv_Nx.resolution:  144 90 ,
  tavg1_2d_slv_Nx.frequency:   010000 ,
  tavg1_2d_slv_Nx.duration:    010000 ,
  tavg1_2d_slv_Nx.fields:    'PS',          'AGCM',
		  'TS',          'AGCM',
		  'CLDPRS',      'AGCM',
		  'U10M',        'AGCM',
		  'V10M',        'AGCM',
		  'QV10M',       'AGCM',
		  'T10M',        'AGCM',
		  'SLP',         'AGCM',
	       	  ::

  tavg1_2d_flx_Nx.format:      'CFIO' ,
  tavg1_2d_flx_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation,Surface Flux Diagnostics' ,
  tavg1_2d_flx_Nx.nbits:       10 ,
  tavg1_2d_flx_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ,
  tavg1_2d_flx_Nx.mode:        'time-averaged' ,
  tavg1_2d_flx_Nx.resolution:  144 90 ,
  tavg1_2d_flx_Nx.frequency:   010000 ,
  tavg1_2d_flx_Nx.duration:    010000 ,
  tavg1_2d_flx_Nx.fields:	  'PRECTOT',     'AGCM', 
		  'HFLUX',       'AGCM',
		  'EVAP',        'AGCM',
		  'EFLUX',       'AGCM',
		  'PBLH',        'AGCM',
		  'TAUX',        'AGCM',
		  'TAUY',        'AGCM',
		  'PRECSNO',     'AGCM',
	       	  ::

  tavg1_2d_rad_Nx.format:      'CFIO' ,
  tavg1_2d_rad_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation,Radiation Diagnostics' ,
  tavg1_2d_rad_Nx.nbits:       10 ,
  tavg1_2d_rad_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ,
  tavg1_2d_rad_Nx.mode:        'time-averaged' ,
  tavg1_2d_rad_Nx.resolution:  144 90 ,
  tavg1_2d_rad_Nx.frequency:   010000 ,
  tavg1_2d_rad_Nx.duration:    010000 ,
  tavg1_2d_rad_Nx.fields:    'CLDLOW',      'AGCM',
		  'CLDMID',      'AGCM',
		  'CLDHGH',      'AGCM',
		  'CLDTOT',	 'AGCM',
	       	  ::



#######################################################################
#                 Background Files for Analysis 
#######################################################################

  bkg.eta.format:      'CFIO' ,
  bkg.eta.template:    '%y4%m2%d2_%h2z.nc4' ,
  bkg.eta.frequency:   030000 ,
  bkg.eta.duration:    030000 ,
  bkg.eta.mode:        'instantaneous' ,
  bkg.eta.resolution:  144 90 ,
  bkg.eta.fields:      'PHIS'       , 'AGCM'    , 'phis'       ,
                       'SGH'        , 'AGCM'    , 'hs_stdv'    ,
                       'TS'         , 'AGCM'    , 'ts'         ,
                       'FRLAND'     , 'AGCM'    , 'frland'     ,
                       'FRLANDICE'  , 'AGCM'    , 'frlandice'  ,
                       'FRLAKE'     , 'AGCM'    , 'frlake'     ,
                       'FROCEAN'    , 'AGCM'    , 'frocean'    ,
                       'FRACI'      , 'AGCM'    , 'frseaice'   ,
                       'PS'         , 'AGCM'    , 'ps'         ,
                       'DELP'       , 'AGCM'    , 'delp'       ,
                       'U;V'        , 'AGCM'    , 'u;v'        ,
                       'TV'         , 'AGCM'    , 'tv'         ,
                       'Q'          , 'AGCM'    , 'sphu'       ,
                       'O3PPMV'     , 'AGCM'    , 'ozone'      ,
                       'QITOT'      , 'AGCM'    , 'qitot'      ,
                       'QLTOT'      , 'AGCM'    , 'qltot'      ,
                       'QRTOT'      , 'AGCM'    , 'qrtot'      ,
                       'QSTOT'      , 'AGCM'    , 'qstot'      ,
		       ::
		       
  bkg.sfc.format:      'CFIO' ,
  bkg.sfc.template:    '%y4%m2%d2_%h2z.nc4' ,
  bkg.sfc.frequency:   030000 ,
  bkg.sfc.duration:    030000 ,
  bkg.sfc.mode:        'instantaneous' ,
  bkg.sfc.resolution:  144 90 ,
  bkg.sfc.fields:      'U10N;V10N'      , 'AGCM'  , 'U10M;V10M'    ,
                       'SNOMAS'         , 'AGCM'  , 'SNOWDP'       ,
                       'WET1'           , 'AGCM'  , 'GWETTOP'      ,
                       'TSOIL1'         , 'AGCM'  ,
                       'Z0'             , 'AGCM'  , 'Z0M'          ,
                       ::

  abkg.eta.format:      'CFIO' ,
  abkg.eta.descr:       '3d,3-Hourly,Instantaneous,Model-Level,Analysis,Aerosol Concentrations' ,
  abkg.eta.template:    '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<' ,
  abkg.eta.ref_date:    >>>IOBBKGD<<< ,
  abkg.eta.ref_time:    >>>IOBBKGT<<< ,
  abkg.eta.end_date:    >>>IOEDATE<<< ,
  abkg.eta.end_time:    >>>IOETIME<<< ,
  abkg.eta.frequency:   030000 ,
  abkg.eta.duration:    030000 ,
  abkg.eta.mode:        'instantaneous' ,
  abkg.eta.resolution:  144 90 ,
  abkg.eta.fields:      'PS'                , 'DYN'      ,
                        'DELP'              , 'DYN'      ,
                        'LWI'               , 'SURFACE'  ,
                        'RH2'               , 'MOIST'    , 'RH'        ,
                        'AIRDENS'           , 'CHEMENV'  ,
# Dust
                        'GOCART::du001'     , 'GOCART'   , 'DU001'     ,
                        'GOCART::du002'     , 'GOCART'   , 'DU002'     ,
                        'GOCART::du003'     , 'GOCART'   , 'DU003'     ,
                        'GOCART::du004'     , 'GOCART'   , 'DU004'     ,
                        'GOCART::du005'     , 'GOCART'   , 'DU005'     ,
# Sea-salt
                        'GOCART::ss001'     , 'GOCART'   , 'SS001'     ,
                        'GOCART::ss002'     , 'GOCART'   , 'SS002'     ,
                        'GOCART::ss003'     , 'GOCART'   , 'SS003'     ,
                        'GOCART::ss004'     , 'GOCART'   , 'SS004'     ,
                        'GOCART::ss005'     , 'GOCART'   , 'SS005'     ,
# Sulfates
                        'GOCART::DMS'       , 'GOCART'   , 'DMS'       ,
                        'GOCART::SO2'       , 'GOCART'   , 'SO2'       ,
                        'GOCART::SO4'       , 'GOCART'   , 'SO4'       ,
                        'GOCART::MSA'       , 'GOCART'   , 'MSA'       ,
# Carbonaceous (main)
                        'GOCART::BCphobic'  , 'GOCART'   , 'BCPHOBIC'  ,
                        'GOCART::BCphilic'  , 'GOCART'   , 'BCPHILIC'  ,
                        'GOCART::OCphobic'  , 'GOCART'   , 'OCPHOBIC'  ,
                        'GOCART::OCphilic'  , 'GOCART'   , 'OCPHILIC'  ,
# Nitrate
                        'GOCART::NH3'       , 'GOCART'   , 'NH3'       ,
                        'GOCART::NH4a'      , 'GOCART'   , 'NH4A'      ,
                        'GOCART::NO3an1'    , 'GOCART'   , 'NO3AN1'    ,
                        'GOCART::NO3an2'    , 'GOCART'   , 'NO3AN2'    ,
                        'GOCART::NO3an3'    , 'GOCART'   , 'NO3AN3'    ,
                        ::

  cbkg.eta.format:      'CFIO' ,
  cbkg.eta.template:    '%y4%m2%d2_%h2z.nc4' ,
  cbkg.eta.frequency:   030000 ,
  cbkg.eta.duration:    030000 ,
  cbkg.eta.mode:        'instantaneous' ,
  cbkg.eta.resolution:  144 90 ,
  cbkg.eta.fields:      'PS'           , 'AGCM'      ,
                        'PHIS'         , 'AGCM'     ,
                        'DELP'         , 'AGCM'      ,
                        'AIRDENS'      , 'AGCM'  ,
                        'CO'   , 'AGCM'   , 'CO'   ,
                        ::

#######################################################################
#                         Const Files
#######################################################################

  const_2d_asm_Nx.format:      'CFIO' ,
  const_2d_asm_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>NCSUFFIX<<<' ,
  const_2d_asm_Nx.mode:        'instantaneous' ,
  const_2d_asm_Nx.resolution:  144 90 ,
  const_2d_asm_Nx.frequency:   240000 ,
  const_2d_asm_Nx.duration:    240000 ,
  const_2d_asm_Nx.fields: 'PHIS',        'AGCM',
		  'FRLAKE',      'AGCM',
		  'FRLAND',      'AGCM',
		  'FRLANDICE',   'AGCM',
  		  'FROCEAN',     'AGCM',
		  'FRACI',       'AGCM',
	       	  ::
