
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'geosgcm_6hrins'
             'geosgcm_6hravg'
             'geosgcm_chmx'
             'geosgcm_fwimetx'
             'geosgcm_subxps'
             'geosgcm_vis2d'
	     'geosgcm_vis3d'
             'geosgcm_surf'
	     'geosgcm_rad'
             'geosgcm_00zins'
	     'geosgcm_moist'
	     'geosgcm_turb'
	     'geosgcm_gwd'
	     'geosgcm_tend'
	     'geosgcm_aero'
             'geosgcm_ocn3d'
	     'geosgcm_ocn2d'
             'geosgcm_int'
             'geosgcm_icethm'
	     'geosgcm_seaice'
	     'geosgcm_ices2s'
             ::

  # 3-D 6-hour instantaneous at 00z 06z 12z 18z on pressure levels
  geosgcm_6hrins.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_6hrins.archive:   '%c',
  geosgcm_6hrins.format:    'CFIO',
  geosgcm_6hrins.frequency:  060000,
  geosgcm_6hrins.resolution: @HIST_IM @HIST_JM,
  geosgcm_6hrins.vscale:     100.0,
  geosgcm_6hrins.vunit:     'hPa',
  geosgcm_6hrins.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_6hrins.levels:     850 500 200 100 50 30 10,
  geosgcm_6hrins.fields: 'PHIS'     , 'AGCM'         ,
                          'SLP'      , 'DYN'          ,
                          'U'        , 'DYN'          ,
                          'V'        , 'DYN'          ,
                          'T'        , 'DYN'          ,
                          'PS'       , 'DYN'          ,
                          'ZLE'      , 'DYN'          , 'H'   ,
                          'OMEGA'    , 'DYN'          ,
                          'Q'        , 'MOIST'        , 'QV'  ,
                          'U10M'     , 'SURFACE'      ,
                          'V10M'     , 'SURFACE'      ,
                          ::

# 3-D instantaneous at 00z on pressure levels (for international S2S comparison)
  geosgcm_00zins.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_00zins.archive:   '%c',
  geosgcm_00zins.format:    'CFIO',
  geosgcm_00zins.frequency:  240000,
  geosgcm_00zins.resolution: @HIST_IM @HIST_JM,
  geosgcm_00zins.vscale:     100.0,
  geosgcm_00zins.vunit:     'hPa',
  geosgcm_00zins.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_00zins.levels:     1000 925 850 700 500 300 250 200 100 50 30 10 4 2 1,
  geosgcm_00zins.fields: 'PHIS'     , 'AGCM'         ,
                          'SLP'      , 'DYN'          ,
                          'U'        , 'DYN'          ,
                          'V'        , 'DYN'          ,
                          'T'        , 'DYN'          ,
                          'PS'       , 'DYN'          ,
                          'ZLE'      , 'DYN'          , 'H'   ,
                          'OMEGA'    , 'DYN'          ,
                          'Q'        , 'MOIST'        , 'QV'  ,
                          'U10M'     , 'SURFACE'      ,
                          'V10M'     , 'SURFACE'      ,
                          ::

  # Aerosols/Constituents Chemistry
  geosgcm_chmx.format:     'CFIO',
  geosgcm_chmx.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_chmx.archive:   '%c/Y%y4',
  geosgcm_chmx.nbits:      12,
  geosgcm_chmx.mode:       'time-averaged',
  geosgcm_chmx.frequency:  240000,
  geosgcm_chmx.duration:   240000,
  geosgcm_chmx.resolution: @HIST_IM @HIST_JM,
  geosgcm_chmx.fields:     'LWI'           , 'SURFACE' ,
                           'COEM'          , 'GOCART'  ,
                           'COPD'          , 'GOCART'  ,
                           'COLS'          , 'GOCART'  , 
                           'COSC'          , 'GOCART'  ,
                           'COCL'          , 'GOCART'  ,
                          ::

# FWI FIELDS 1hr 
  geosgcm_fwimetx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_fwimetx.archive:   '%c',
  geosgcm_fwimetx.format:    'CFIO',
  geosgcm_fwimetx.frequency: 010000,
  geosgcm_fwimetx.duration:  010000,
  geosgcm_fwimetx.resolution: @HIST_IM @HIST_JM,
  geosgcm_fwimetx.mode:       'time-averaged',
  geosgcm_fwimetx.fields:    'PS'       , 'DYN'       ,'ps'  ,
                          'U2M'      , 'SURFACE'     ,
                          'V2M'      , 'SURFACE'     ,
                          'T2M'      , 'SURFACE'     ,
                          'Q2M'      , 'SURFACE'     ,
                          'RH2M'     , 'SURFACE'     ,
                          'U10M'     , 'SURFACE'     ,
                          'V10M'     , 'SURFACE'     ,
                          'T10M'     , 'SURFACE'     ,
                          'Q10M'     , 'SURFACE'     ,
                          'TPREC'    , 'MOIST'       , 'PRECTOT' ,
                          ::

  # 2-D 6-hour mean 
  geosgcm_6hravg.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_6hravg.archive:   '%c',
  geosgcm_6hravg.format:    'CFIO',
  geosgcm_6hravg.mode:      'time-averaged',
  geosgcm_6hravg.frequency:  060000,
  geosgcm_6hravg.ref_time:   210000,
  geosgcm_6hravg.resolution: @HIST_IM @HIST_JM,
  geosgcm_6hravg.fields:     'TPREC'     , 'MOIST'       ,'PRECTOT',

                          ::

  # 3-D daily mean on pressure levels
  geosgcm_subxps.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_subxps.archive:   '%c',
  geosgcm_subxps.format:    'CFIO',
  geosgcm_subxps.mode:      'time-averaged',
  geosgcm_subxps.frequency:  240000,
  geosgcm_subxps.ref_time:   210000,
  geosgcm_subxps.resolution: @HIST_IM @HIST_JM,
  geosgcm_subxps.vscale:     100.0,
  geosgcm_subxps.vunit:     'hPa',
  geosgcm_subxps.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_subxps.levels:     100 50 30 10,
  geosgcm_subxps.fields: 'T'     , 'DYN'         ,  'ta'  ,
  			 'ZLE'   , 'DYN'         ,  'H'   ,
                         ::

  # 2-D daily mean 
  geosgcm_vis2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_vis2d.archive:   '%c',
  geosgcm_vis2d.format:    'CFIO',
  geosgcm_vis2d.mode:      'time-averaged',
  geosgcm_vis2d.frequency:  240000,
  geosgcm_vis2d.ref_time:   210000,
  geosgcm_vis2d.duration:   240000,
  geosgcm_vis2d.resolution: @HIST_IM @HIST_JM,
  geosgcm_vis2d.fields:    'PHIS'     , 'AGCM'         ,
                           'PS'       , 'DYN'          ,
                           'SPEED'    , 'DYN'          ,
                          'SLP'      , 'DYN'          ,
                           'H1000'    , 'DYN'          ,
                           'H850'     , 'DYN'          ,
                          'H500'     , 'DYN'          ,
                           'H250'     , 'DYN'          ,
                          'TPREC'    , 'MOIST'        , 'PRECTOT' ,
                          'SHOUT'     , 'SURFACE'     ,
                          'TS'       , 'SURFACE'      ,
                          'T2M'      , 'SURFACE'      ,
                          'T2MDEW'   , 'SURFACE'      ,
                           'T2M'      , 'SURFACE'      , 'T2MMEAN' ,
                          'T2M'      , 'SURFACE'      , 'T2MMAX'  , 'MAX'  ,
                          'T2M'      , 'SURFACE'      , 'T2MMIN'  , 'MIN'  ,
                          'WATSOI'   , 'SURFACE'      ,
                           'TA'       , 'DYN'           ,
                           'QA'       , 'DYN'           ,
                           'QS'       , 'SURFACE'       ,
                           'ZPBL'     , 'TURBULENCE'    ,  'PBLH'   ,
                           'CN_PRCP'  , 'MOIST'         , 'CNPRCP' ,
                           'SNO'      , 'MOIST'         ,
                          'LWS'       , 'IRRAD'        ,
                          'SFCEM'     , 'IRRAD'        ,
                          'SLRSF'     , 'SOLAR'        ,
                          'SLRSUF'   , 'SOLAR'        ,
                           'SLRTP'     , 'SOLAR'        , 'RADSWT'    ,
                          'OLR'       , 'IRRAD'        ,
                           'OSR'       , 'SOLAR'        ,
                           'TPW'       , 'MOIST'        ,
                           'TQV'      , 'AGCM'          ,
                           'CWP'       , 'MOIST'        ,
                           'IWP'       , 'MOIST'        ,
                           'CLDTT'    , 'SOLAR'         ,
                          'RUNOFF'    , 'SURFACE'       ,
                          'LHFX'     , 'SURFACE'       ,
                           'SH'       , 'SURFACE'       , 'SHFX'     ,
                           'U10M'     , 'SURFACE'       ,
                           'V10M'     , 'SURFACE'       ,
                           'Q2M'      , 'SURFACE'       ,
                          'ASNOW'    , 'SURFACE'       ,
                           'SMELT'    , 'SURFACE'      ,
                          'SNOWDP'    , 'SURFACE'    ,  'SNODP'    ,
                          'SNOMAS'   , 'SURFACE'       ,
                          'WCRZ'      , 'SURFACE'       ,
                           'WET1'     , 'SURFACE'       ,
                           'WET2'     , 'SURFACE'     ,
                           'WET3'     , 'SURFACE'     ,
                           'SUBLIM'    , 'SURFACE'     ,
                           'EVPSOI'    , 'SURFACE'    ,  'EVPSOIL'    ,
                           'EVPVEG'    , 'SURFACE'    ,  'EVPTRNS'    ,
                           'EVPINT'    , 'SURFACE'    ,  'EVPINTR'    ,
                          'TAUX'     , 'SURFACE'       ,
                          'TAUY'     , 'SURFACE'       ,
                            'RSRS'      , 'SOLAR'        ,
                            'FLNS'      , 'IRRAD'        ,
                            'RSR'       , 'SOLAR'        ,
                            'GHLAND'   , 'SURFACE'       ,
                          'U850'     , 'DYN'          ,
                            'U250'     , 'DYN'          ,
                          'U200'     , 'DYN'          ,
                          'V850'     , 'DYN'          ,
                            'V250'     , 'DYN'          ,
                          'V200'     , 'DYN'          ,
                          'Q850'     , 'DYN'          ,
                          'CAPE'   , 'MOIST'         ,
                          'TO3'       , 'PCHEM'    ,
                          'UQ300'     , 'MOIST'         ,
                          'VQ300'     , 'MOIST'         ,

                          ::

  # 3-D daily mean
  geosgcm_vis3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_vis3d.archive:   'Y%y4/%e2/%c',
  geosgcm_vis3d.format:    'CFIO',
  geosgcm_vis3d.mode:      'time-averaged',
  geosgcm_vis3d.frequency:  240000,
  geosgcm_vis3d.ref_time:   210000,
  geosgcm_vis3d.resolution: @HIST_IM @HIST_JM,
  geosgcm_vis3d.vscale:     100.0,
  geosgcm_vis3d.vunit:     'hPa',
  geosgcm_vis3d.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_vis3d.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 10 4 2 1,
  geosgcm_vis3d.fields:   'U'        , 'DYN'          ,
                          'V'        , 'DYN'          ,
                          'T'        , 'DYN'          ,
                          'ZLE'      , 'DYN'          , 'H'   ,
                          'OMEGA'    , 'DYN'          ,
                          'Q'        , 'MOIST'        , 'QV'  ,
                          ::

  geosgcm_rad.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_rad.archive:   '%c,
  geosgcm_rad.format:    'CFIO',
  geosgcm_rad.mode:      'time-averaged',
  geosgcm_rad.frequency:  240000,
  geosgcm_rad.ref_time:   210000,
  geosgcm_rad.resolution: @HIST_IM @HIST_JM,
  geosgcm_rad.fields:    'PHIS'          , 'AGCM'     ,
                          'TAUTT'    , 'SOLAR'         ,
                          'TAULO'    , 'SOLAR'         ,
                          'TAUMD'    , 'SOLAR'         ,
                          'TAUHI'    , 'SOLAR'         ,
                          'CLDTT'    , 'SOLAR'         ,
                          'CLDLO'    , 'SOLAR'         ,
                          'CLDMD'    , 'SOLAR'         ,
                          'CLDHI'    , 'SOLAR'         ,
                          'RADSRF'   , 'RADIATION'     ,
                          'FLNS'      , 'IRRAD'        ,
                          'FLNSC'     , 'IRRAD'        ,
                          'FLNSA'     , 'IRRAD'        , 'FLNSCNA'   ,
                          'OLR'       , 'IRRAD'        ,
                          'OLC'       , 'IRRAD'        , 'OLRC'      ,
                          'OLA'       , 'IRRAD'        , 'OLRCNA'    ,
                          'LWS'       , 'IRRAD'        ,
                          'LCS'       , 'IRRAD'        , 'LWSC'      ,
                          'LAS'       , 'IRRAD'        , 'LWSCNA'    ,
                          'SFCEM'     , 'IRRAD'        ,
                          'CLDTMP'    , 'SOLAR'        , 'SWCLDTMP'  ,
                          'CLDPRS'    , 'SOLAR'        , 'SWCLDPRS'  ,
                          'OSR'       , 'SOLAR'        ,
                          'OSRCLR'    , 'SOLAR'        ,
                          'RSR'       , 'SOLAR'        , 'SWTNET'    ,
                          'RSC'       , 'SOLAR'        , 'SWTNETC'   ,
                          'RSCNA'     , 'SOLAR'        , 'SWTNETCNA' ,
                          'RSRNA'     , 'SOLAR'        , 'SWTNETNA'  ,
                          'SLRTP'     , 'SOLAR'        , 'RADSWT'    ,
                          'SLRSF'     , 'SOLAR'        , 'SWGDWN'    ,
                          'SLRSFC'    , 'SOLAR'        , 'SWGDWNC'   ,
                          'RSRS'      , 'SOLAR'        , 'SWGNET'    ,
                          'RSCS'      , 'SOLAR'        , 'SWGNETC'   ,
                          'RSRSNA'    , 'SOLAR'        , 'SWGNETNA'  ,
                          'RSCSNA'    , 'SOLAR'        , 'SWGNETCNA' ,
                          'ALBEDO'    , 'SOLAR'        ,
                          'ALBVR'     , 'SOLAR'        ,
                          'ALBVF'     , 'SOLAR'        ,
                          'ALBNR'     , 'SOLAR'        ,
                          'ALBNF'     , 'SOLAR'        ,
                          'COSZ'      , 'SOLAR'        ,
                          'EMIS'      , 'SURFACE'      ,
                           ::

  geosgcm_surf.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_surf.archive:   '%c',
  geosgcm_surf.format:    'CFIO',
  geosgcm_surf.mode:      'time-averaged',
  geosgcm_surf.frequency:  240000,
  geosgcm_surf.ref_time:   210000,
  geosgcm_surf.resolution: @HIST_IM @HIST_JM,
  geosgcm_surf.fields:    'PHIS'          , 'AGCM'     ,
                          'SGH'           , 'AGCM'     ,
                          'VARFLT'        , 'AGCM'     ,
                          'TROPP_EPV'     , 'AGCM'     ,  'TROPPV' ,
                          'TROPP_THERMAL' , 'AGCM'     ,  'TROPPT' ,
                          'TROPP_BLENDED' , 'AGCM'     ,  'TROPPB' ,
                          'TROPT'         , 'AGCM'     ,
                          'TROPQ'         , 'AGCM'     ,
                          'QVFILL'   , 'AGCM'          ,
                          'OXFILL'   , 'AGCM'          ,
                          'TA'       , 'DYN'           ,
                          'QA'       , 'DYN'           ,
                          'US;VS'    , 'DYN'           ,
                          'PS'       , 'DYN'           ,
                          'SPEED'    , 'DYN'           ,
                          'ZPBL'     , 'TURBULENCE'    ,  'PBLH'   ,
                          'TS'       , 'SURFACE'       ,
                          'QS'       , 'SURFACE'       ,
                          'THAT'     , 'SURFACE'       ,
                          'QHAT'     , 'SURFACE'       ,
                          'RASTIME'  , 'MOIST'         ,
                          'RASPBLQ'  , 'MOIST'         ,
                          'CN_PRCP'  , 'MOIST'         , 'CNPRCP' ,
                          'LS_PRCP'  , 'MOIST'         , 'LSPRCP' ,
                          'AN_PRCP'  , 'MOIST'         , 'ANPRCP' ,
                          'SNO'      , 'MOIST'         ,
                          'PLS'      , 'MOIST'         ,
                          'PCU'      , 'MOIST'         ,
			  'TPREC'    , 'MOIST'         ,
                          'LWP'      , 'MOIST'         ,
                          'CCWP'     , 'MOIST'         ,
                          'SPLAND'   , 'SURFACE'       ,
                          'SPWATR'   , 'SURFACE'       ,
                          'RUNSURF'  , 'SURFACE'       ,
                          'BASEFLOW' , 'SURFACE'       ,
                          'CT'       , 'SURFACE'       ,
                          'CQ'       , 'SURFACE'       ,
                          'CN'       , 'SURFACE'       ,
                          'CM'       , 'SURFACE'       ,
                          'RI'       , 'SURFACE'       , 'RISFC' ,
                          'LAI'      , 'SURFACE'       ,
                          'GRN'      , 'SURFACE'       ,
                          'SNOMAS'   , 'SURFACE'       ,
                          'ITY'      , 'SURFACE'       , 'VEGTYPE' ,
                          'WET1'     , 'SURFACE'       ,
                          'WET2'     , 'SURFACE'       ,
                          'WET3'     , 'SURFACE'       ,
                          'TSOIL1'   , 'SURFACE'       ,
                          'TSOIL2'   , 'SURFACE'       ,
                          'FRLAND'   , 'SURFACE'       ,
                          'FRLANDICE', 'SURFACE'       ,
                          'FRLAKE'   , 'SURFACE'       ,
                          'FRACI'    , 'SURFACE'       , 'FRSEAICE' ,
                          'FROCEAN'  , 'SURFACE'       ,
                          'USTAR'    , 'SURFACE'       ,
                          'Z0'       , 'SURFACE'       ,
                          'Z0H'      , 'SURFACE'       ,
                          'LHFX'     , 'SURFACE'       ,
                          'SH'       , 'SURFACE'       , 'SHFX'     ,
                          'EVAP'     , 'SURFACE'       ,
                          'TAUX;TAUY', 'SURFACE'       ,
                          'RHOS'     , 'SURFACE'       ,
                          'U2M;V2M'  , 'SURFACE'       ,
                          'T2M'      , 'SURFACE'       ,
                          'Q2M'      , 'SURFACE'       ,
                          'U10N;V10N', 'SURFACE'       ,
                          'U10M;V10M', 'SURFACE'       ,
                          'T10M'     , 'SURFACE'       ,
                          'Q10M'     , 'SURFACE'       ,
                          'U50M;V50M', 'SURFACE'       ,
                          'GUST'     , 'SURFACE'       ,
                          'VENT'     , 'SURFACE'       ,
                          'ASNOW'    , 'SURFACE'       ,
                          'EVLAND'    , 'SURFACE'      ,
                          'LHLAND'    , 'SURFACE'      ,
                          'SHLAND'    , 'SURFACE'      ,
                          'SWLAND'    , 'SURFACE'      ,
                          'LWLAND'    , 'SURFACE'      ,
                          'GHLAND'    , 'SURFACE'      ,
                          'SMLAND'    , 'SURFACE'      ,
                          'TWLAND'    , 'SURFACE'      ,
                          'TELAND'    , 'SURFACE'      ,
                          'DZ'        , 'DYN'          ,  'HLML',
                          'RUNOFF'    , 'SURFACE'       ,
                          'DISCHARGE' , 'SURFACE'       ,
# additonal exports for skin SST
#                          'EVAPOUT'  , 'SURFACE'  ,
#                          'DCOOL'    , 'SURFACE'  ,
#                          'DWARM'    , 'SURFACE'  ,
#                          'TDROP'    , 'SURFACE'  , 'DELT_COOL' ,
#                          'TS_FOUND' , 'SURFACE'  , 'BULK_SST' ,
#                          'TDEL'     , 'SURFACE'  ,
#                          'BCOOL'    , 'SURFACE'  ,
#                          'LCOOL'    , 'SURFACE'  ,
#                          'TBAR'     , 'SURFACE'  ,
#                          'USTARW'   , 'SURFACE'  ,
#                          'SWCOOL'   , 'SURFACE'  ,
#                          'QCOOL'    , 'SURFACE'  ,
#                          'DELTS'    , 'SURFACE'  ,
#                          'QWARM'    , 'SURFACE'  ,
#                          'SWWARM'   , 'SURFACE'  ,
#                          'LANGM'    , 'SURFACE'  ,
#                          'PHIW'     , 'SURFACE'  ,
#                          'TAUTW'    , 'SURFACE'  ,
#                          'ZETA_W'   , 'SURFACE'  ,
#                          'CNLAI'    , 'SURFACE'  ,
#                          'CNTLAI'   , 'SURFACE'  ,
#                          'CNSAI'    , 'SURFACE'  ,
#                          'CNTOTC'   , 'SURFACE'  ,
#                          'CNVEGC'   , 'SURFACE'  ,
#                          'CNROOT'   , 'SURFACE'  ,
#                          'CNNPP'    , 'SURFACE'  ,
#                          'CNGPP'    , 'SURFACE'  ,
#                          'CNSR'     , 'SURFACE'  ,
#                          'CNNEE'    , 'SURFACE'  ,
#                          'CNXSMR'   , 'SURFACE'  ,
#                          'CNADD'    , 'SURFACE'  ,
#                          'PARABS'   , 'SURFACE'  ,
#                          'PARINC'   , 'SURFACE'  ,
#                          'SCSAT'    , 'SURFACE'  ,
#                          'SCUNS'    , 'SURFACE'  ,
#                          'BTRANT'   , 'SURFACE'  , 'BTRAN'     ,
#                          'SIF'      , 'SURFACE'  , 
#                          'CNLOSS'   , 'SURFACE'  , 'CLOSS'     ,
#                          'CNBURN'   , 'SURFACE'  , 'BURN'      ,
#                          'CNFSEL'   , 'SURFACE'  , 'FSEL'      ,
#                          'EVPICE'   , 'SURFACE'  ,
#                          'EVPSNO'   , 'SURFACE'  ,
#                          'EVPINT'   , 'SURFACE'  ,
#                          'EVPSOI'   , 'SURFACE'  ,
#                          'EVPVEG'   , 'SURFACE'  ,
#                          'FRSAT'    , 'SURFACE'  ,
#                          'FRUST'    , 'SURFACE'  ,
#                          'FRWLT'    , 'SURFACE'  ,
#                          'TPSAT'    , 'SURFACE'  ,
#                          'TPUNST'   , 'SURFACE'  ,
#                          'TPWLT'    , 'SURFACE'  ,
#                          'TPSURF'   , 'SURFACE'  , 'TSURF'     ,
#                          'GHTSKIN'  , 'SURFACE'  ,
#                          'WAT10CM'  , 'SURFACE'  ,
#                          'WATSOI'   , 'SURFACE'  ,
#                          'ICESOI'   , 'SURFACE'  ,
                          ::


  # 3-D daily mean on pressure levels
  geosgcm_moist.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_moist.archive:   'Y%y4/%e2/%c',
  geosgcm_moist.format:    'CFIO',
  geosgcm_moist.mode:      'time-averaged',
  geosgcm_moist.frequency:  240000,
  geosgcm_moist.ref_time:   210000,
  geosgcm_moist.resolution: @HIST_IM @HIST_JM,
  geosgcm_moist.vscale:     100.0,
  geosgcm_moist.vunit:     'hPa',
  geosgcm_moist.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_moist.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_moist.fields:    'PHIS'    , 'AGCM'          ,
                           'QL'      , 'MOIST'         ,
                           'QI'      , 'MOIST'         ,
                           'QR'      , 'MOIST'         ,
                           'RI'      , 'MOIST'         , 'RICE'   ,
                           'RL'      , 'MOIST'         , 'RLIQ'   ,
                           'RH1'     , 'MOIST'         ,
                           'CNV_MF0' , 'MOIST'         , 'CNVMF0' ,
                           'CNV_MFD' , 'MOIST'         , 'CNVMFD' ,
                           'CNV_MFC' , 'MOIST'         , 'CNVMFC' ,
                           'REV_CN'  , 'MOIST'         , 'REVCN'  ,
                           'REV_AN'  , 'MOIST'         , 'REVAN'  ,
                           'REV_LS'  , 'MOIST'         , 'REVLS'  ,
                           'RSU_CN'  , 'MOIST'         , 'RSUCN'  ,
                           'RSU_AN'  , 'MOIST'         , 'RSUAN'  ,
                           'RSU_LS'  , 'MOIST'         , 'RSULS'  ,
                           'THIM'    , 'PHYSICS'       ,
                           'EVAPC'   , 'MOIST'         ,
                           'SUBLC'   , 'MOIST'         ,
                           'FCLD'    , 'MOIST'         ,
                           'CLCN'    , 'MOIST'         ,
                           'CLLS'    , 'MOIST'         ,
                           'QICN'    , 'MOIST'         ,
                           'QILS'    , 'MOIST'         ,
                           'QLCN'    , 'MOIST'         ,
                           'QLLS'    , 'MOIST'         ,
			   'TPREC'   , 'MOIST'         ,
			   'CAPE'    , 'MOIST'         ,
                           'UQ300'   , 'MOIST'         ,
                           'VQ300'   , 'MOIST'         ,
			   'NCPL_VOL'   ,  'MOIST' ,
        		   'NCPI_VOL'   ,  'MOIST' ,
			   'NHET_IMM'   , 'MOIST'
        		   'SCF'        , 'MOIST' ,
        		   'CDNC_NUC'   ,  'MOIST'  ,
        		   'INC_NUC'    ,  'MOIST'  ,
         		   'CCN04'      , 'MOIST'  , 
                           ::

  # 3-D daily mean on pressure levels
  geosgcm_turb.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_turb.archive:   'Y%y4/%e2/%c',
  geosgcm_turb.format:    'CFIO',
  geosgcm_turb.mode:      'time-averaged',
  geosgcm_turb.frequency:  240000,
  geosgcm_turb.ref_time:   210000,
  geosgcm_turb.resolution: @HIST_IM @HIST_JM,
  geosgcm_turb.vscale:     100.0,
  geosgcm_turb.vunit:     'hPa',
  geosgcm_turb.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_turb.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_turb.fields:    'INTDIS'   , 'TURBULENCE'    ,
                          'TOPDIS'   , 'TURBULENCE'    ,
                          'SRFDIS'   , 'TURBULENCE'    ,
                          'DBUOY'    , 'TURBULENCE'    ,
                          'WERAD'    , 'TURBULENCE'    ,
                          'KH'       , 'TURBULENCE'    ,
                          'KM'       , 'TURBULENCE'    ,
                          'KHLS'     , 'TURBULENCE'    ,
                          'KMLS'     , 'TURBULENCE'    ,
                          'EKH'      , 'TURBULENCE'    ,
                          'EKM'      , 'TURBULENCE'    ,
                          'KHSFC'    , 'TURBULENCE'    ,
                          'KHRAD'    , 'TURBULENCE'    ,
                          'RI'       , 'TURBULENCE'    ,
                          'DU'       , 'TURBULENCE'    ,
                          ::

  # 3-D daily mean on pressure levels
  geosgcm_gwd.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_gwd.archive:   'Y%y4/%e2/%c',
  geosgcm_gwd.format:    'CFIO',
  geosgcm_gwd.mode:      'time-averaged',
  geosgcm_gwd.frequency:  240000,
  geosgcm_gwd.ref_time:   210000,
  geosgcm_gwd.resolution: @HIST_IM @HIST_JM,
  geosgcm_gwd.vscale:     100.0,
  geosgcm_gwd.vunit:     'hPa',
  geosgcm_gwd.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_gwd.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_gwd.fields:    'DUDT_ORO;DVDT_ORO', 'GWD', 'DUDTORO;DVDTORO' ,
                         'DUDT_BKG;DVDT_BKG', 'GWD', 'DUDTBKG;DVDTBKG' ,
                         'DUDT_RAY;DVDT_RAY', 'GWD', 'DUDTRAY;DVDTRAY' ,
                         'TAUOROX;TAUOROY'  , 'GWD',
                         'TAUBKGX;TAUBKGY'  , 'GWD',
                         'DTDT_ORO',          'GWD', 'DTDTORO' ,
                         'DTDT_BKG',          'GWD', 'DTDTBKG' ,
                         'DTDT_RAY',          'GWD', 'DTDTRAY' ,
                         ::

  # 3-D daily mean on pressure levels
  geosgcm_tend.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_tend.archive:   'Y%y4/%e2/%c',
  geosgcm_tend.format:    'CFIO',
  geosgcm_tend.mode:      'time-averaged',
  geosgcm_tend.frequency:  240000,
  geosgcm_tend.ref_time:   210000,
  geosgcm_tend.resolution: @HIST_IM @HIST_JM,
  geosgcm_tend.vscale:     100.0,
  geosgcm_tend.vunit:     'hPa',
  geosgcm_tend.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_tend.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_tend.fields:    'DUDTDYN;DVDTDYN', 'DYN'     ,
                          'UIT;VIT'        , 'PHYSICS' ,  'DUDTTRB;DVDTTRB' ,
                          'DUDT;DVDT'      , 'MOIST'   ,  'DUDTMST;DVDTMST' ,
                          'DUDT;DVDT'      , 'GWD'     ,  'DUDTGWD;DVDTGWD' ,
                          'DTDTDYN'  , 'DYN'           ,
                          'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                          'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                          'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                          'RADLW'    , 'RADIATION'     ,  'DTDTLW'     ,
                          'RADLWC'   , 'RADIATION'     ,  'DTDTLWC'    ,
                          'RADLWCNA' , 'RADIATION'     ,  'DTDTLWCNA'  ,
                          'RADSW'    , 'RADIATION'     ,  'DTDTSW'     ,
                          'RADSWC'   , 'RADIATION'     ,  'DTDTSWC'    ,
                          'RADSWNA'  , 'RADIATION'     ,  'DTDTSWNA'   ,
                          'RADSWCNA' , 'RADIATION'     ,  'DTDTSWCNA'  ,
                          'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                          'DQVDTDYN' , 'DYN'           ,
                          'DQDT'     , 'MOIST'         ,  'DQVDTMST'   ,
                          'QVIT'     , 'PHYSICS'       ,  'DQVDTTRB'   ,
                          'H2O_TEND' , 'CHEMISTRY'     ,  'DQVDTCHM'   ,
                          'DPDTPHY'  , 'PHYSICS'       ,
                          ::

#### GOCART
  geosgcm_aero.format:     'CFIO',
  geosgcm_aero.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_aero.archive:    '%c/Y%y4',
  geosgcm_aero.mode:       'time-averaged',
  geosgcm_aero.frequency:  240000,
  geosgcm_aero.ref_time:   210000,
  geosgcm_aero.resolution: @HIST_IM @HIST_JM,
  geosgcm_aero.fields:         'LWI'         , 'SURFACE'     ,
                               'TOTEXTTAU'   , 'GOCART'      ,
                               'TOTSCATAU'   , 'GOCART'      ,
                               'TOTANGSTR'   , 'GOCART'      ,
                               'DUEM001'     , 'GOCART'      ,
                               'DUEM002'     , 'GOCART'      ,
                               'DUEM003'     , 'GOCART'      ,
                               'DUEM004'     , 'GOCART'      ,
                               'DUEM005'     , 'GOCART'      ,
                               'DUSD001'     , 'GOCART'      ,
                               'DUSD002'     , 'GOCART'      ,
                               'DUSD003'     , 'GOCART'      ,
                               'DUSD004'     , 'GOCART'      ,
                               'DUSD005'     , 'GOCART'      ,
                               'DUDP001'     , 'GOCART'      ,
                               'DUDP002'     , 'GOCART'      ,
                               'DUDP003'     , 'GOCART'      ,
                               'DUDP004'     , 'GOCART'      ,
                               'DUDP005'     , 'GOCART'      ,
                               'DUWT001'     , 'GOCART'      ,
                               'DUWT002'     , 'GOCART'      ,
                               'DUWT003'     , 'GOCART'      ,
                               'DUWT004'     , 'GOCART'      ,
                               'DUWT005'     , 'GOCART'      ,
                               'DUSV001'     , 'GOCART'      ,
                               'DUSV002'     , 'GOCART'      ,
                               'DUSV003'     , 'GOCART'      ,
                               'DUSV004'     , 'GOCART'      ,
                               'DUSV005'     , 'GOCART'      ,
                               'DUSMASS'     , 'GOCART'      ,
                               'DUCMASS'     , 'GOCART'      ,
                               'DUEXTTAU'    , 'GOCART'      ,
                               'DUSCATAU'    , 'GOCART'      ,
                               'DUANGSTR'    , 'GOCART'      ,
                               'DUEXTTFM'    , 'GOCART'      ,
                               'DUSCATFM'    , 'GOCART'      ,
                               'DUSMASS25'   , 'GOCART'      ,
                               'DUCMASS25'   , 'GOCART'      ,
                               'DUEXTT25'    , 'GOCART'      ,
                               'DUSCAT25'    , 'GOCART'      ,
                               'DUAERIDX'    , 'GOCART'      ,
                               'DUFLUXU'     , 'GOCART'      ,
                               'DUFLUXV'     , 'GOCART'      ,
                               'SSEM001'     , 'GOCART'      ,
                               'SSEM002'     , 'GOCART'      ,
                               'SSEM003'     , 'GOCART'      ,
                               'SSEM004'     , 'GOCART'      ,
                               'SSEM005'     , 'GOCART'      ,
                               'SSSD001'     , 'GOCART'      ,
                               'SSSD002'     , 'GOCART'      ,
                               'SSSD003'     , 'GOCART'      ,
                               'SSSD004'     , 'GOCART'      ,
                               'SSSD005'     , 'GOCART'      ,
                               'SSDP001'     , 'GOCART'      ,
                               'SSDP002'     , 'GOCART'      ,
                               'SSDP003'     , 'GOCART'      ,
                               'SSDP004'     , 'GOCART'      ,
                               'SSDP005'     , 'GOCART'      ,
                               'SSWT001'     , 'GOCART'      ,
                               'SSWT002'     , 'GOCART'      ,
                               'SSWT003'     , 'GOCART'      ,
                               'SSWT004'     , 'GOCART'      ,
                               'SSWT005'     , 'GOCART'      ,
                               'SSSV001'     , 'GOCART'      ,
                               'SSSV002'     , 'GOCART'      ,
                               'SSSV003'     , 'GOCART'      ,
                               'SSSV004'     , 'GOCART'      ,
                               'SSSV005'     , 'GOCART'      ,
                               'SSSMASS'     , 'GOCART'      ,
                               'SSCMASS'     , 'GOCART'      ,
                               'SSEXTTAU'    , 'GOCART'      ,
                               'SSSCATAU'    , 'GOCART'      ,
                               'SSANGSTR'    , 'GOCART'      ,
                               'SSEXTTFM'    , 'GOCART'      ,
                               'SSSCATFM'    , 'GOCART'      ,
                               'SSSMASS25'   , 'GOCART'      ,
                               'SSCMASS25'   , 'GOCART'      ,
                               'SSEXTT25'    , 'GOCART'      ,
                               'SSSCAT25'    , 'GOCART'      ,
                               'SSAERIDX'    , 'GOCART'      ,
                               'SSFLUXU'     , 'GOCART'      ,
                               'SSFLUXV'     , 'GOCART'      ,
                               'SUEM001'     , 'GOCART'      ,
                               'SUEM002'     , 'GOCART'      ,
                               'SUEM003'     , 'GOCART'      ,
                               'SUEM004'     , 'GOCART'      ,
                               'SUDP001'     , 'GOCART'      ,
                               'SUDP002'     , 'GOCART'      ,
                               'SUDP003'     , 'GOCART'      ,
                               'SUDP004'     , 'GOCART'      ,
                               'SUWT001'     , 'GOCART'      ,
                               'SUWT002'     , 'GOCART'      ,
                               'SUWT003'     , 'GOCART'      ,
                               'SUWT004'     , 'GOCART'      ,
                               'SUSV001'     , 'GOCART'      ,
                               'SUSV002'     , 'GOCART'      ,
                               'SUSV003'     , 'GOCART'      ,
                               'SUSV004'     , 'GOCART' ,
                               'SO2SMASS'    , 'GOCART'      ,
                               'SO2CMASS'    , 'GOCART'      ,
                               'SO4SMASS'    , 'GOCART'      ,
                               'SO4CMASS'    , 'GOCART'      ,
                               'DMSSMASS'    , 'GOCART'      ,
                               'DMSCMASS'    , 'GOCART'      ,
                               'SUPSO2'      , 'GOCART'      ,
                               'SUPSO4G'     , 'GOCART'      ,
                               'SUPSO4AQ'    , 'GOCART'      ,
                               'SUPSO4WT'    , 'GOCART'      ,
                               'SUPMSA'      , 'GOCART'      ,
                               'SUEXTTAU'    , 'GOCART'      ,
                               'SUSCATAU'    , 'GOCART'      ,
                               'SUANGSTR'    , 'GOCART'      ,
                               'SO4EMAN'     , 'GOCART'      ,
                               'SO2EMAN'     , 'GOCART'      ,
                               'SO2EMBB'     , 'GOCART'      ,
                               'SO2EMVN'     , 'GOCART'      ,
                               'SO2EMVE'     , 'GOCART'      ,
                               'SUFLUXU'     , 'GOCART'      ,
                               'SUFLUXV'     , 'GOCART'      ,
                               'BCEM001'     , 'GOCART'      ,
                               'BCEM002'     , 'GOCART'      ,
                               'BCDP001'     , 'GOCART'      ,
                               'BCDP002'     , 'GOCART'      ,
                               'BCWT001'     , 'GOCART'      ,
                               'BCWT002'     , 'GOCART'      ,
                               'BCSMASS'     , 'GOCART'      ,
                               'BCCMASS'     , 'GOCART'      ,
                               'BCEXTTAU'    , 'GOCART'      ,
                               'BCSCATAU'    , 'GOCART'      ,
                               'BCANGSTR'    , 'GOCART'      ,
                               'BCHYPHIL'    , 'GOCART'      ,
                               'BCEMBB'      , 'GOCART'      ,
                               'BCEMBF'      , 'GOCART'      ,
                               'BCEMAN'      , 'GOCART'      ,
                               'BCFLUXU'     , 'GOCART'      ,
                               'BCFLUXV'     , 'GOCART'      ,
                               'OCEM001'     , 'GOCART'      ,
                               'OCEM002'     , 'GOCART'      ,
                               'OCDP001'     , 'GOCART'      ,
                               'OCDP002'     , 'GOCART'      ,
                               'OCWT001'     , 'GOCART'      ,
                               'OCWT002'     , 'GOCART'      ,
                               'OCSMASS'     , 'GOCART'      ,
                               'OCCMASS'     , 'GOCART'      ,
                               'OCEXTTAU'    , 'GOCART'      ,
                               'OCSCATAU'    , 'GOCART'      ,
                               'OCANGSTR'    , 'GOCART'      ,
                               'OCEMBB'      , 'GOCART'      ,
                               'OCEMBF'      , 'GOCART'      ,
                               'OCEMAN'      , 'GOCART'      ,
                               'OCEMBG'      , 'GOCART'      ,
                               'OCHYPHIL'    , 'GOCART'      ,
                               'OCFLUXU'     , 'GOCART'      ,
                               'OCFLUXV'     , 'GOCART'      ,
                               'HNO3SMASS'   , 'GOCART'      ,
                               'NH3SMASS'    , 'GOCART'      ,
                               'NH4SMASS'    , 'GOCART'      ,
                               'NISMASS'     , 'GOCART'      ,
                               'NISMASS25'   , 'GOCART'      ,
                               'HNO3CMASS'   , 'GOCART'      ,
                               'NH3CMASS'    , 'GOCART'      ,
                               'NH4CMASS'    , 'GOCART'      ,
                               'NICMASS'     , 'GOCART'      ,
                               'NICMASS25'   , 'GOCART'      ,
                               'NIEXTTFM'    , 'GOCART'      ,
                               'NISCATFM'    , 'GOCART'      ,
                               'NIEXTTAU'    , 'GOCART'      ,
                               'NISCATAU'    , 'GOCART'      ,
                               'NIANGSTR'    , 'GOCART'      ,
                               'NIPNO3AQ'    , 'GOCART'      ,
                               'NIPNH4AQ'    , 'GOCART'      ,
                               'NIPNH3AQ'    , 'GOCART'      ,
                               'NIHT001'     , 'GOCART'      ,
                               'NIHT002'     , 'GOCART'      ,
                               'NIHT003'     , 'GOCART'      ,
                               'NISD001'     , 'GOCART'      ,
                               'NISD002'     , 'GOCART'      ,
                               'NISD003'     , 'GOCART'      ,
                               'NIDP001'     , 'GOCART'      ,
                               'NIDP002'     , 'GOCART'      ,
                               'NIDP003'     , 'GOCART'      ,
                               'NIWT001'     , 'GOCART'      ,
                               'NIWT002'     , 'GOCART'      ,
                               'NIWT003'     , 'GOCART'      ,
                               'NISV001'     , 'GOCART'      ,
                               'NISV002'     , 'GOCART'      ,
                               'NISV003'     , 'GOCART'      ,
                               'NH3EM'       , 'GOCART'      ,
                               'NH3DP'       , 'GOCART'      ,
                               'NH3WT'       , 'GOCART'      ,
                               'NH3SV'       , 'GOCART'      ,
                               'NH4SD'       , 'GOCART'      ,
                               'NH4DP'       , 'GOCART'      ,
                               'NH4WT'       , 'GOCART'      ,
                               'NH4SV'       , 'GOCART'      ,
                               'NIFLUXU'     , 'GOCART'      ,
                               'NIFLUXV'     , 'GOCART'      ,
                               'DDUDT'       , 'MOIST'       , 'DUSV'    ,
                               'DSSDT'       , 'MOIST'       , 'SSSV'    ,
                               'DOCDT'       , 'MOIST'       , 'OCSV'    ,
                               'DBCDT'       , 'MOIST'       , 'BCSV'    ,
                               'DSUDT'       , 'MOIST'       , 'SUSV'    ,
                               :: 

  # 3-D daily mean on 40 depth levels
  geosgcm_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d.archive:   '%c',
  geosgcm_ocn3d.mode:      'time-averaged',
  geosgcm_ocn3d.format: 'CFIO',	   	
  geosgcm_ocn3d.frequency:  240000,
  geosgcm_ocn3d.ref_time:   210000,
  geosgcm_ocn3d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn3d.levels: 'vgrid.ascii'
  geosgcm_ocn3d.fields:  'T'    , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
                      ::

  # 2-D daily mean 
  geosgcm_ocn2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2d.archive:   '%c',
  geosgcm_ocn2d.mode:      'time-averaged',
  geosgcm_ocn2d.format: 'CFIO',
  geosgcm_ocn2d.frequency:  240000,
  geosgcm_ocn2d.ref_time:   210000,
  geosgcm_ocn2d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn2d.fields:    'US'    , 'OCEAN',
                   'VS'    , 'OCEAN',
                   'TS'    , 'OCEAN',
                   'SS'    , 'OCEAN',
                   'SLV'    , 'MOM',
                   'QFLUX' , 'OCEAN',
                   'HFLUX' , 'OCEAN',
                   'SFLUX' , 'OCEAN',
		   'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
                   'HW0'   , 'OCEAN',
                   'TW0'   , 'OCEAN',
                   'SW0'   , 'OCEAN',
                   'HW1'   , 'OCEAN',
                   'TW1'   , 'OCEAN',
                   'SW1'   , 'OCEAN',
		   'TSCALE', 'OCEAN',
		   'FRO'   , 'OCEAN',
		   'MASKO'   , 'OCEAN',
		   'MLD'   ,    'MOM',
		   'DISCHARGE'   ,    'MOM',
                   'AICE'        , 'SEAICE',
                   'PBO'    , 'MOM',
                   'HICE'        , 'SEAICE',
                   'DRAFT'       , 'SEAICE',
                   'HSNO'        , 'SEAICE',
                      ::

  geosgcm_int.template:      '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_int.archive:       '%c',
  geosgcm_int.format:        'CFIO' ,
  geosgcm_int.descr:         '2d, Daily, Time-Averaged,Single-Level,Assimilation,Vertically Integrated Diagnostics' ,
  geosgcm_int.mode:          'time-averaged' ,
  geosgcm_int.frequency:     240000,
  geosgcm_int.ref_time:      210000,
  geosgcm_int.conservative:  1,
  geosgcm_int.resolution:    @HIST_IM @HIST_JM,
  geosgcm_int.fields:             'UCPT'          , 'DYN'         , 'UFLXCPT'      ,
                                  'VCPT'          , 'DYN'         , 'VFLXCPT'      ,
                                  'UPHI'          , 'DYN'         , 'UFLXPHI'      ,
                                  'VPHI'          , 'DYN'         , 'VFLXPHI'      ,
                                  'UKE'           , 'DYN'         , 'UFLXKE'       ,
                                  'VKE'           , 'DYN'         , 'VFLXKE'       ,
                                  'UQV'           , 'DYN'         , 'UFLXQV'       ,
                                  'VQV'           , 'DYN'         , 'VFLXQV'       ,
                                  'UQL'           , 'DYN'         , 'UFLXQL'       ,
                                  'VQL'           , 'DYN'         , 'VFLXQL'       ,
                                  'UQI'           , 'DYN'         , 'UFLXQI'       ,
                                  'VQI'           , 'DYN'         , 'VFLXQI'       ,
                                  :: 

   # 2-D daily mean regridded to 1x1 latlon grid
   geosgcm_ices2s.template:   '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_ices2s.archive:   '%c',
   geosgcm_ices2s.format:     'CFIO',
   geosgcm_ices2s.mode:       'time-averaged',
   geosgcm_ices2s.frequency:   240000,
   geosgcm_ices2s.ref_time:    210000,
   geosgcm_ices2s.regrid_exch: 'tile_hist.bin',
   geosgcm_ices2s.fields:  'AICE_CMIP5'     , 'SEAICE',   'sic',
   		               	   'HICE_CMIP5'     , 'SEAICE',   'sit',
                      ::


   # 2-D daily mean regridded to MOM grid
   geosgcm_icethm.template:   '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_icethm.archive:   '%c',
   geosgcm_icethm.format:     'CFIO',
   geosgcm_icethm.mode:       'time-averaged',
   geosgcm_icethm.frequency:   240000,
   geosgcm_icethm.ref_time:    210000,
   geosgcm_icethm.regrid_exch:'tile.bin',
   geosgcm_icethm.regrid_name:'@OGCM_GRIDNAME'
   geosgcm_icethm.fields:  'DVIDTT'              , 'SALTWATER',  
                           'DAIDTT'              , 'SALTWATER', 
                           'MELTT'               , 'SALTWATER', 
                           'MELTB'               , 'SALTWATER', 
                           'MELTL'               , 'SALTWATER', 
                           'CONGEL'              , 'SALTWATER', 
                           'FRAZIL'              , 'SALTWATER', 
                           ::

   # 2-D daily mean on native MOM grid
   geosgcm_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_seaice.archive:  '%c',
   geosgcm_seaice.format: 'CFIO',
   geosgcm_seaice.mode: 'time-averaged',
   geosgcm_seaice.frequency:  240000,
   geosgcm_seaice.ref_time:   210000,
   geosgcm_seaice.fields:    'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DVIDTD'      , 'SEAICE', 
                             'DAIDTD'      , 'SEAICE', 
                             'AREA'        , 'SEAICE',
			                 'TMASK'       , 'SEAICE',
                              ::

