#######################################################################
#                 Create History List for Output
#######################################################################
 
EXPID:  >>>EXPID<<<
EXPDSC: ensemble_bkg
 
COLLECTIONS: 'bkg.eta'
             'bkg.sfc'
              ::
#                      --------------------------
#                      Full Resolution Background
#                      --------------------------

  bkg.eta.format:     'CFIO' ,
  bkg.eta.template:   '%y4%m2%d2_%h2z.mem>>>MEMBER<<<.>>>NCSUFFIX<<<',
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
  bkg.eta.end_date:  >>>IOEDATE<<< ,
  bkg.eta.end_time:  >>>IOETIME<<< ,
  bkg.eta.frequency: >>>BKGFREQ<<< ,
  bkg.eta.duration:  >>>BKGFREQ<<< ,
  bkg.eta.mode:       'instantaneous',
# bkg.eta.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  bkg.eta.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U'        , 'DYN'           , 'u'            ,
                      'V'        , 'DYN'           , 'v'            ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      ::

  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2z.mem>>>MEMBER<<<.>>>NCSUFFIX<<<',
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
  bkg.sfc.end_date:  >>>IOEDATE<<< ,
  bkg.sfc.end_time:  >>>IOETIME<<< ,
  bkg.sfc.frequency: >>>BKGFREQ<<< ,
  bkg.sfc.duration:  >>>BKGFREQ<<< ,
  bkg.sfc.mode:       'instantaneous',
# bkg.sfc.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  bkg.sfc.fields:     'PHIS'     , 'AGCM'          ,
                      'US'       , 'DYN'           , 'UA'        ,  
                      'VS'       , 'DYN'           , 'VA'        ,
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M'      , 'SURFACE'       ,
                      'V2M'      , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N'     , 'SURFACE'       , 'U10M'      ,
                      'V10N'     , 'SURFACE'       , 'V10M'      ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M'     , 'DYN'           ,
                      'V50M'     , 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'FRACI'    , 'SURFACE'       , 'FRSEAICE'  ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                      'TROPP_EPV'     , 'AGCM'     , 'TROPPV'   ,
                      'TROPP_THERMAL' , 'AGCM'     , 'TROPPT'   ,
                      'TROPP_BLENDED' , 'AGCM'     , 'TROPPB'   ,
                      'TROPT'         , 'AGCM'     ,
                      'TROPQ'         , 'AGCM'     ,
                      'Z0'       , 'SURFACE'       , 'Z0M'      ,
                      'DCOOL'         , 'SURFACE'  ,
                      'DWARM'         , 'SURFACE'  ,
                      'TDROP'         , 'SURFACE'  ,
                      'TS_FOUND'      , 'SURFACE'  ,
                      'TDEL'          , 'SURFACE'  ,
                      ::

