
#######################################################################
#                 Create History List for Output
#######################################################################

VERSION: 1
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'geosgcm_prog'
             'gcc_dev'
             'gcc_emis'
             'gcc_monitor'
             'gcc_all_species'
             'gcc_dep'
             #'tavg2d_aer_x'
             #'tavg3d_aer_p'
             #'geosgcm_tracer'
             ::

##################################################
# The GRID_LABELS section must be after the main #
#  list of COLLECTIONS for scripting purposes.   #
##################################################

GRID_LABELS: PC360x181-DC
             PC180x91-DC
             PC1440x721-DC
             PC576x361-DC
::

PC1440x721-DC.GRID_TYPE: LatLon
PC1440x721-DC.IM_WORLD: 1440
PC1440x721-DC.JM_WORLD: 721
PC1440x721-DC.POLE: PC
PC1440x721-DC.DATELINE: DC
PC1440x721-DC.LM: 72

PC360x181-DC.GRID_TYPE: LatLon
PC360x181-DC.IM_WORLD: 360
PC360x181-DC.JM_WORLD: 181
PC360x181-DC.POLE: PC
PC360x181-DC.DATELINE: DC
PC360x181-DC.LM: 72

PC180x91-DC.GRID_TYPE: LatLon
PC180x91-DC.IM_WORLD: 180
PC180x91-DC.JM_WORLD: 91
PC180x91-DC.POLE: PC
PC180x91-DC.DATELINE: DC
PC180x91-DC.LM: 72

PC576x361-DC.GRID_TYPE: LatLon
PC576x361-DC.IM_WORLD: 576
PC576x361-DC.JM_WORLD: 361
PC576x361-DC.POLE: PC
PC576x361-DC.DATELINE: DC
PC576x361-DC.LM: 72

  geosgcm_prog.template:         '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_prog.archive:          '%c/Y%y4' ,
  geosgcm_prog.format:           'CFIO' ,
  geosgcm_prog.deflate:           1 ,
  geosgcm_prog.grid_label:        PC360x181-DC ,
  geosgcm_prog.regrid_method:    'BILINEAR',
  geosgcm_prog.frequency:         060000 ,
  geosgcm_prog.vscale:            100.0 ,
  geosgcm_prog.vunit:            'hPa' ,
  geosgcm_prog.vvars:            'log(PLE)' , 'DYN' ,
  geosgcm_prog.levels:            1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02 ,
  geosgcm_prog.fields:           'PHIS'   , 'AGCM'       ,
                                 'SLP'    , 'DYN'        ,
                                 'U;V'    , 'DYN'        ,
                                 'T'      , 'DYN'        ,
                                 'PS'     , 'DYN'        ,
                                 'ZLE'    , 'DYN'        , 'H'   ,
                                 'OMEGA'  , 'DYN'        ,
                                 'Q'      , 'MOIST'      , 'QV'  ,
                                 'QITOT'  , 'AGCM'       , 'QI'  ,
                                 'QLTOT'  , 'AGCM'       , 'QL'  ,
                                 'RH2'    , 'MOIST'      , 'RH'  ,
                                 'O3'     , 'CHEMISTRY'  ,
                                  ::

  gcc_all_species.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_all_species.archive:   '%c/Y%y4',
  gcc_all_species.format:    'CFIO',
  gcc_all_species.deflate:    1,
  gcc_all_species.mode:      'instantaneous' ,
  gcc_all_species.frequency:  240000,
  gcc_all_species.ref_time:   210000,
  gcc_all_species.regrid_method:    'BILINEAR',
  gcc_all_species.grid_label: PC360x181-DC,
  gcc_all_species.levels:     1,
  gcc_all_species.fields:    'SpeciesConcVV_H1301'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_H1211'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_H2402'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_CHCl3'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_HOI'             , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_I'               , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_IONO2'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_I2'              , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_OIO'             , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_HI'              , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_INO'             , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_IONO'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_I2O2'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_I2O3'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_I2O4'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_IBr'             , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_ICl'             , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_DST1'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_DST2'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_DST3'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_DST4'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_SALA'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_SALC'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_OCPI'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_OCPO'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_BCPI'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_BCPO'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_SO4'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_NH4'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_NIT'            , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_NITs'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_SOAS'           , 'GEOSCHEMCHEM'  ,
                             'SpeciesConcVV_HMS'            , 'GEOSCHEMCHEM'  ,
                              ::

  gcc_dev.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_dev.archive:   '%c/Y%y4',
  gcc_dev.format:    'CFIO',
  gcc_dev.deflate:    1,
  gcc_dev.mode:      'instantaneous' ,
  gcc_dev.frequency:  060000,
  gcc_dev.ref_time:   210000,
  gcc_dev.regrid_method:    'BILINEAR',
  gcc_dev.grid_label: PC360x181-DC
  gcc_dev.fields:    'SpeciesConcVV_O3'           , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_CO'           , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_NO'           , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_NO2'          , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_N2O'          , 'GEOSCHEMCHEM'  ,
                     'NOy'                      , 'GEOSCHEMCHEM'  ,
                     'Bry'                      , 'GEOSCHEMCHEM'  ,
                     'Cly'                      , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_SO2'          , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_CH4'          , 'GEOSCHEMCHEM'  ,
                     'PM25'                     , 'GEOSCHEMCHEM'  ,
                     'PM10'                     , 'GEOSCHEMCHEM'  ,
                     'GCCTTO3'                  , 'GEOSCHEMCHEM'  ,
                     'GCCTO3'                   , 'GEOSCHEMCHEM'  ,
                     'TotCol_NO2'               , 'GEOSCHEMCHEM'  ,
                     'PblCol_NO2'               , 'GEOSCHEMCHEM'  ,
                     'TropCol_NO2'              , 'GEOSCHEMCHEM'  ,
                     'TotCol_SO2'               , 'GEOSCHEMCHEM'  ,
                     'PblCol_SO2'               , 'GEOSCHEMCHEM'  ,
                     'TropCol_SO2'              , 'GEOSCHEMCHEM'  ,
                     'TotCol_CO'                , 'GEOSCHEMCHEM'  ,
                     'TropCol_CO'               , 'GEOSCHEMCHEM'  ,
                     'CO2photrate'              , 'GEOSCHEMCHEM'  ,
                     'COincCO2phot'             , 'GEOSCHEMCHEM'  ,
                     'SpeciesConcVV_DST1+SpeciesConcVV_DST2+SpeciesConcVV_DST3+SpeciesConcVV_DST4', 'GEOSCHEMCHEM' , 'SpeciesConcVV_DU' ,
                     'SpeciesConcVV_SALA+SpeciesConcVV_SALC', 'GEOSCHEMCHEM' , 'SpeciesConcVV_SS' ,
                     'SpeciesConcVV_OCPI+SpeciesConcVV_OCPO+SpeciesConcVV_SOAS', 'GEOSCHEMCHEM' , 'SpeciesConcVV_OC' ,
                     'SpeciesConcVV_BCPI+SpeciesConcVV_BCPO', 'GEOSCHEMCHEM' , 'SpeciesConcVV_BC' ,
                     'SpeciesConcVV_SO4+SpeciesConcVV_HMS', 'GEOSCHEMCHEM' , 'SpeciesConcVV_SU' ,
                     'SpeciesConcVV_NH4+SpeciesConcVV_NIT+SpeciesConcVV_NITs', 'GEOSCHEMCHEM' , 'SpeciesConcVV_NI' ,
                     ::

  gcc_monitor.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_monitor.archive:   '%c/Y%y4',
  gcc_monitor.format:    'CFIO',
  gcc_monitor.deflate:    1,
  gcc_monitor.mode:      'time-averaged' ,
  gcc_monitor.frequency:  060000,
  gcc_monitor.regrid_method:    'BILINEAR',
  gcc_monitor.grid_label: PC360x181-DC
  gcc_monitor.fields:    'KppNegatives'      , 'GEOSCHEMCHEM'  ,
                         'KppNegatives0'     , 'GEOSCHEMCHEM'  ,
                          ::

  gcc_emis.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gcc_emis.archive:   '%c/Y%y4',
  gcc_emis.format:    'CFIO',
  gcc_emis.deflate:    1,
  gcc_emis.mode:      'instantaneous' ,
  gcc_emis.frequency:  030000,
  gcc_emis.ref_time:   210000,
  gcc_emis.regrid_method:    'BILINEAR',
  gcc_emis.grid_label: PC360x181-DC
  gcc_emis.fields:   'EMIS_CO'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_PRPE'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SO2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_C2H6'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_C3H8'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_BENZ'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_TOLU'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_XYLE'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_HCOOH'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2O'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_ISOP'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_LIMO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SESQ'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_MTPA'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_MTPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DMS'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_Br2'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_I2'                  , 'GEOSCHEMCHEM'  ,
                     'EMIS_HOI'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH3I'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2I2'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2ICl'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2IBr'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_CHBr3'               , 'GEOSCHEMCHEM'  ,
                     'EMIS_CH2Br2'              , 'GEOSCHEMCHEM'  ,
                     'EMIS_BCPI'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_BCPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_OCPI'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_OCPO'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST1'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST2'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST3'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_DST4'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SALA'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SALC'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SOAP'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_SOAS'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_pFe'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_MEK'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_ALD2'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_ACET'                , 'GEOSCHEMCHEM'  ,
                     'EMIS_NH3'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_EOH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_MOH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_ROH'                 , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO_LGHT'             , 'GEOSCHEMCHEM'  ,
                     'EMIS_NO_SOIL'             , 'GEOSCHEMCHEM'  ,
                     'LFR_GCC'                  , 'MOIST'         ,
                     'LFR'                      , 'CHEMENV'       ,
                     ::

  gcc_dep.template:   '%y4%m2%d2_%h2%n2z.nc4',
  gcc_dep.archive:    '%c/Y%y4',
  gcc_dep.descr:      '24-Hourly,Time-Averaged,Surface-Layer,GEOS-Chem Dry and Wet Deposition Flux Fields',
  gcc_dep.format:     'CFIO',
  gcc_dep.mode:       'time-averaged',
  gcc_dep.frequency:  240000,
  gcc_dep.ref_time:   210000,
  gcc_dep.grid_label: PC360x181-DC,
  gcc_dep.regrid_method: 'BILINEAR',
  gcc_dep.fields:   'DryDep_O3'       , 'GEOSCHEMCHEM' , 'DRYDEPFLX_O3'  ,
                    'DryDep_NO2'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NO2'  ,
                    'DryDep_HNO3'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_HNO3'  ,
                    'DryDep_NH4'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NH4'  ,
                    'DryDep_NH3'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NH3'  ,
                    'DryDep_NIT'      , 'GEOSCHEMCHEM' , 'DRYDEPFLX_NIT'  ,
                    'DryDep_BCPO'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_BCPO'  ,
                    'DryDep_BCPI'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_BCPI'  ,
                    'DryDep_OCPO'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_OCPO'  ,
                    'DryDep_OCPI'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_OCPI'  ,
                    'DryDep_DST1'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST1'  ,
                    'DryDep_DST2'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST2'  ,
                    'DryDep_DST3'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST3'  ,
                    'DryDep_DST4'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_DST4'  ,
                    'DryDep_SALA'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SALA'  ,
                    'DryDep_SALC'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_SALC'  ,
                    'DryDep_CH2O'     , 'GEOSCHEMCHEM' , 'DRYDEPFLX_HCHO'  ,
                    'WetLossLS_SO2'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_SO2'   ,
                    'WetLossLS_SO4'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_SO4'   ,
                    'WetLossLS_SALA' , 'GEOSCHEMCHEM' , 'WETDEPFLX_SALA'  ,
                    'WetLossLS_SALC' , 'GEOSCHEMCHEM' , 'WETDEPFLX_SALC'  ,
                    'WetLossLS_HNO3' , 'GEOSCHEMCHEM' , 'WETDEPFLX_HNO3'  ,
                    'WetLossLS_NH4'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NH4'   ,
                    'WetLossLS_NH3'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NH3'   ,
                    'WetLossLS_NIT'  , 'GEOSCHEMCHEM' , 'WETDEPFLX_NIT'   ,
                    'WetLossLS_BCPO' , 'GEOSCHEMCHEM' , 'WETDEPFLX_BCPO'  ,
                    'WetLossLS_BCPI' , 'GEOSCHEMCHEM' , 'WETDEPFLX_BCPI'  ,
                    'WetLossLS_OCPO' , 'GEOSCHEMCHEM' , 'WETDEPFLX_OCPO'  ,
                    'WetLossLS_OCPI' , 'GEOSCHEMCHEM' , 'WETDEPFLX_OCPI'  ,
                    'WetLossLS_DST1' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST1'  ,
                    'WetLossLS_DST2' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST2'  ,
                    'WetLossLS_DST3' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST3'  ,
                    'WetLossLS_DST4' , 'GEOSCHEMCHEM' , 'WETDEPFLX_DST4'  ,
                    'WetLossLS_CH2O' , 'GEOSCHEMCHEM' , 'WETDEPFLX_HCHO'  ,
                    'GCC_ConvScav_GF_SO2' , 'MOIST'  , 'WETDEPFLX_CONV_SO2' ,
                    'GCC_ConvScav_GF_SO4' , 'MOIST'  , 'WETDEPFLX_CONV_SO4' ,
                    'GCC_ConvScav_GF_SALA' , 'MOIST'  , 'WETDEPFLX_CONV_SALA' ,
                    'GCC_ConvScav_GF_SALC' , 'MOIST'  , 'WETDEPFLX_CONV_SALC' ,
                    'GCC_ConvScav_GF_HNO3' , 'MOIST'  , 'WETDEPFLX_CONV_HNO3' ,
                    'GCC_ConvScav_GF_NH4' , 'MOIST'  , 'WETDEPFLX_CONV_NH4' ,
                    'GCC_ConvScav_GF_NH3' , 'MOIST'  , 'WETDEPFLX_CONV_NH3' ,
                    'GCC_ConvScav_GF_NIT' , 'MOIST'  , 'WETDEPFLX_CONV_NIT' ,
                    'GCC_ConvScav_GF_BCPO' , 'MOIST'  , 'WETDEPFLX_CONV_BCPO' ,
                    'GCC_ConvScav_GF_BCPI' , 'MOIST'  , 'WETDEPFLX_CONV_BCPI' ,
                    'GCC_ConvScav_GF_OCPO' , 'MOIST'  , 'WETDEPFLX_CONV_OCPO' ,
                    'GCC_ConvScav_GF_OCPI' , 'MOIST'  , 'WETDEPFLX_CONV_OCPI' ,
                    'GCC_ConvScav_GF_DST1' , 'MOIST'  , 'WETDEPFLX_CONV_DST1' ,
                    'GCC_ConvScav_GF_DST2' , 'MOIST'  , 'WETDEPFLX_CONV_DST2' ,
                    'GCC_ConvScav_GF_DST3' , 'MOIST'  , 'WETDEPFLX_CONV_DST3' ,
                    'GCC_ConvScav_GF_DST4' , 'MOIST'  , 'WETDEPFLX_CONV_DST4' ,
                    'GCC_ConvScav_GF_CH2O' , 'MOIST'  , 'WETDEPFLX_CONV_CH2O' ,
                    ::

#                     ---------------------
#                     Aerosols/Tracers
#                     ---------------------
#
#
#### GOCART

  tavg2d_aer_x.template:       '%y4%m2%d2_%h2%n2z.nc4',
  tavg2d_aer_x.archive:        '%c/Y%y4',
  tavg2d_aer_x.format:         'CFIO',
  tavg2d_aer_x.deflate:         1,
  tavg2d_aer_x.grid_label:      PC360x181-DC,
  tavg2d_aer_x.mode:           'time-averaged',
  tavg2d_aer_x.monthly:         1,
# tavg2d_aer_x.frequency:       240000,
# tavg2d_aer_x.ref_time:        210000,
  tavg2d_aer_x.regrid_method:   'CONSERVE',
  tavg2d_aer_x.splitField:      1,
  tavg2d_aer_x.fields:         'LWI'            , 'SURFACE'   ,
                               'TOTEXTTAU'      , 'GOCART2G'  ,
                               'TOTSCATAU'      , 'GOCART2G'  ,
                               'TOTANGSTR'      , 'GOCART2G'  ,
                               'TOTSTEXTTAU'    , 'GOCART2G'  ,
                               'TOTSTSCATAU'    , 'GOCART2G'  ,
                               'DUEM'           , 'DU'        , 'DUEM001;DUEM002;DUEM003;DUEM004;DUEM005' ,
                               'DUSD'           , 'DU'        , 'DUSD001;DUSD002;DUSD003;DUSD004;DUSD005' ,
                               'DUDP'           , 'DU'        , 'DUDP001;DUDP002;DUDP003;DUDP004;DUDP005' ,
                               'DUWT'           , 'DU'        , 'DUWT001;DUWT002;DUWT003;DUWT004;DUWT005' ,
                               'DUSMASS'        , 'DU'        ,
                               'DUCMASS'        , 'DU'        ,
                               'DUEXTTAU'       , 'DU'        ,
                               'DUSCATAU'       , 'DU'        ,
                               'DUSTEXTTAU'     , 'DU'        ,
                               'DUSTSCATAU'     , 'DU'        ,
                               'DUANGSTR'       , 'DU'        ,
                               'DUEXTTFM'       , 'DU'        ,
                               'DUSCATFM'       , 'DU'        ,
                               'DUSMASS25'      , 'DU'        ,
                               'DUCMASS25'      , 'DU'        ,
                               'DUEXTT25'       , 'DU'        ,
                               'DUSCAT25'       , 'DU'        ,
                               'DUAERIDX'       , 'DU'        ,
                               'DUFLUXU'        , 'DU'        ,
                               'DUFLUXV'        , 'DU'        ,
                               'SSEM'           , 'SS'        , 'SSEM001;SSEM002;SSEM003;SSEM004;SSEM005' ,
                               'SSSD'           , 'SS'        , 'SSSD001;SSSD002;SSSD003;SSSD004;SSSD005' ,
                               'SSDP'           , 'SS'        , 'SSDP001;SSDP002;SSDP003;SSDP004;SSDP005' ,
                               'SSWT'           , 'SS'        , 'SSWT001;SSWT002;SSWT003;SSWT004;SSWT005' ,
                               'SSSMASS'        , 'SS'        ,
                               'SSCMASS'        , 'SS'        ,
                               'SSEXTTAU'       , 'SS'        ,
                               'SSSCATAU'       , 'SS'        ,
                               'SSSTEXTTAU'     , 'SS'        ,
                               'SSSTSCATAU'     , 'SS'        ,
                               'SSANGSTR'       , 'SS'        ,
                               'SSEXTTFM'       , 'SS'        ,
                               'SSSCATFM'       , 'SS'        ,
                               'SSSMASS25'      , 'SS'        ,
                               'SSCMASS25'      , 'SS'        ,
                               'SSEXTT25'       , 'SS'        ,
                               'SSSCAT25'       , 'SS'        ,
                               'SSAERIDX'       , 'SS'        ,
                               'SSFLUXU'        , 'SS'        ,
                               'SSFLUXV'        , 'SS'        ,
                               'SUEM'           , 'SU'        ,
                               'SUDP'           , 'SU'        ,
                               'SUWT'           , 'SU'        ,
                               'SUSD'           , 'SU'        ,
                               'SO2SMASS'       , 'SU'        ,
                               'SO2CMASS'       , 'SU'        ,
                               'SO4SMASS'       , 'SU'        ,
                               'SO4CMASS'       , 'SU'        ,
                               'DMSSMASS'       , 'SU'        ,
                               'DMSCMASS'       , 'SU'        ,
                               'SUPSO2'         , 'SU'        ,
                               'SUPSO4G'        , 'SU'        ,
                               'SUPSO4AQ'       , 'SU'        ,
                               'SUPSO4WT'       , 'SU'        ,
                               'SUPMSA'         , 'SU'        ,
                               'SUEXTTAU'       , 'SU'        ,
                               'SUSCATAU'       , 'SU'        ,
                               'SUSTEXTTAU'     , 'SU'        ,
                               'SUSTSCATAU'     , 'SU'        ,
                               'SUANGSTR'       , 'SU'        ,
                               'SO4EMAN'        , 'SU'        ,
                               'SO2EMAN'        , 'SU'        ,
                               'SO2EMBB'        , 'SU'        ,
                               'SO2EMVN'        , 'SU'        ,
                               'SO2EMVE'        , 'SU'        ,
                               'SUFLUXU'        , 'SU'        ,
                               'SUFLUXV'        , 'SU'        ,
                               'CA.bcEM'        , 'CA.bc'     , 'BCEM001;BCEM002' ,
                               'CA.bcDP'        , 'CA.bc'     , 'BCDP001;BCDP002' ,
                               'CA.bcWT'        , 'CA.bc'     , 'BCWT001;BCWT002' ,
#                              'CA.bcSD'        , 'CA.bc'     , 'BCSD001;BCSD002' ,
                               'CA.bcSMASS'     , 'CA.bc'     , 'BCSMASS'     ,
                               'CA.bcCMASS'     , 'CA.bc'     , 'BCCMASS'     ,
                               'CA.bcEXTTAU'    , 'CA.bc'     , 'BCEXTTAU'    ,
                               'CA.bcSCATAU'    , 'CA.bc'     , 'BCSCATAU'    ,
                               'CA.bcSTEXTTAU'  , 'CA.bc'     , 'BCSTEXTTAU'  ,
                               'CA.bcSTSCATAU'  , 'CA.bc'     , 'BCSTSCATAU'  ,
                               'CA.bcANGSTR'    , 'CA.bc'     , 'BCANGSTR'    ,
                               'CA.bcHYPHIL'    , 'CA.bc'     , 'BCHYPHIL'    ,
                               'CA.bcEMBB'      , 'CA.bc'     , 'BCEMBB'      ,
                               'CA.bcEMBF'      , 'CA.bc'     , 'BCEMBF'      ,
                               'CA.bcEMAN'      , 'CA.bc'     , 'BCEMAN'      ,
                               'CA.bcFLUXU'     , 'CA.bc'     , 'BCFLUXU'     ,
                               'CA.bcFLUXV'     , 'CA.bc'     , 'BCFLUXV'     ,
                               'CA.ocEM'        , 'CA.oc'     , 'OCEM001;OCEM002' ,
                               'CA.ocDP'        , 'CA.oc'     , 'OCDP001;OCDP002' ,
                               'CA.ocWT'        , 'CA.oc'     , 'OCWT001;OCWT002' ,
#                              'CA.ocSD'        , 'CA.oc'     , 'OCSD001;OCSD002' ,
                               'CA.ocSMASS'     , 'CA.oc'     , 'OCSMASS'     ,
                               'CA.ocCMASS'     , 'CA.oc'     , 'OCCMASS'     ,
                               'CA.ocEXTTAU'    , 'CA.oc'     , 'OCEXTTAU'    ,
                               'CA.ocSCATAU'    , 'CA.oc'     , 'OCSCATAU'    ,
                               'CA.ocSTEXTTAU'  , 'CA.oc'     , 'OCSTEXTTAU'  ,
                               'CA.ocSTSCATAU'  , 'CA.oc'     , 'OCSTSCATAU'  ,
                               'CA.ocANGSTR'    , 'CA.oc'     , 'OCANGSTR'    ,
                               'CA.ocEMBB'      , 'CA.oc'     , 'OCEMBB'      ,
                               'CA.ocEMBF'      , 'CA.oc'     , 'OCEMBF'      ,
                               'CA.ocEMAN'      , 'CA.oc'     , 'OCEMAN'      ,
                               'CA.ocEMBG'      , 'CA.oc'     , 'OCEMBG'      ,
                               'CA.ocPSOA'      , 'CA.oc'     , 'OCPSOA'      ,
                               'CA.ocHYPHIL'    , 'CA.oc'     , 'OCHYPHIL'    ,
                               'CA.ocFLUXU'     , 'CA.oc'     , 'OCFLUXU'     ,
                               'CA.ocFLUXV'     , 'CA.oc'     , 'OCFLUXV'     ,
                               'CA.brEM'        , 'CA.br'     , 'BREM001;BREM002' ,
                               'CA.brDP'        , 'CA.br'     , 'BRDP001;BRDP002' ,
                               'CA.brWT'        , 'CA.br'     , 'BRWT001;BRWT002' ,
#                              'CA.brSD'        , 'CA.br'     , 'BRSD001;BRSD002' ,
                               'CA.brSMASS'     , 'CA.br'     , 'BRSMASS'     ,
                               'CA.brCMASS'     , 'CA.br'     , 'BRCMASS'     ,
                               'CA.brEXTTAU'    , 'CA.br'     , 'BREXTTAU'    ,
                               'CA.brSCATAU'    , 'CA.br'     , 'BRSCATAU'    ,
                               'CA.brSTEXTTAU'  , 'CA.br'     , 'BRSTEXTTAU'  ,
                               'CA.brSTSCATAU'  , 'CA.br'     , 'BRSTSCATAU'  ,
                               'CA.brANGSTR'    , 'CA.br'     , 'BRANGSTR'    ,
                               'CA.brPSOA'      , 'CA.br'     , 'BRPSOA'      ,
                               'CA.brHYPHIL'    , 'CA.br'     , 'BRHYPHIL'    ,
                               'CA.brEMBB'      , 'CA.br'     , 'BREMBB'      ,
                               'CA.brEMBF'      , 'CA.br'     , 'BREMBF'      ,
                               'CA.brEMAN'      , 'CA.br'     , 'BREMAN'      ,
                               'CA.brFLUXU'     , 'CA.br'     , 'BRFLUXU'     ,
                               'CA.brFLUXV'     , 'CA.br'     , 'BRFLUXV'     ,
                               'HNO3SMASS'      , 'NI'        ,
                               'NH3SMASS'       , 'NI'        ,
                               'NH4SMASS'       , 'NI'        ,
                               'NISMASS'        , 'NI'        ,
                               'NISMASS25'      , 'NI'        ,
                               'HNO3CMASS'      , 'NI'        ,
                               'NH3CMASS'       , 'NI'        ,
                               'NH4CMASS'       , 'NI'        ,
                               'NICMASS'        , 'NI'        ,
                               'NICMASS25'      , 'NI'        ,
                               'NIEXTTFM'       , 'NI'        ,
                               'NISCATFM'       , 'NI'        ,
                               'NIEXTTAU'       , 'NI'        ,
                               'NISCATAU'       , 'NI'        ,
                               'NIANGSTR'       , 'NI'        ,
                               'NIPNO3AQ'       , 'NI'        ,
                               'NIPNH4AQ'       , 'NI'        ,
                               'NIPNH3AQ'       , 'NI'        ,
                               'NIHT'           , 'NI'        ,
                               'NISD'           , 'NI'        ,
                               'NIDP'           , 'NI'        ,
                               'NIWT'           , 'NI'        ,
                               'NH3EM'          , 'NI'        ,
                               'NH3DP'          , 'NI'        ,
                               'NH3WT'          , 'NI'        ,
                               'NH4SD'          , 'NI'        ,
                               'NH4DP'          , 'NI'        ,
                               'NH4WT'          , 'NI'        ,
                               'NIFLUXU'        , 'NI'        ,
                               'NIFLUXV'        , 'NI'        ,
                               'DDU2gDT'        , 'MOIST'     ,  'DUSV'    ,
                               'DSS2gDT'        , 'MOIST'     ,  'SSSV'    ,
                               'DOC2gDT'        , 'MOIST'     ,  'OCSV'    ,
                               'DBC2gDT'        , 'MOIST'     ,  'BCSV'    ,
                               'DSU2gDT'        , 'MOIST'     ,  'SUSV'    ,
                               'DNI2gDT'        , 'MOIST'     ,  'NISV'    ,
                               'DBRC2gDT'       , 'MOIST'     ,  'BRSV'    ,
                               'NH3SV'          , 'NI'        ,
                               'NH4SV'          , 'NI'        ,
                                ::

  tavg3d_aer_p.template:       '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_aer_p.archive:        '%c/Y%y4',
  tavg3d_aer_p.format:         'CFIO',
  tavg3d_aer_p.deflate:         1,
  tavg3d_aer_p.grid_label:      PC360x181-DC,
  tavg3d_aer_p.mode:           'time-averaged',
  tavg3d_aer_p.monthly:         1,
# tavg3d_aer_p.frequency:       240000,
# tavg3d_aer_p.ref_time:        210000,
  tavg3d_aer_p.regrid_method:   'CONSERVE',
  tavg3d_aer_p.splitField:      1,
  tavg3d_aer_p.vscale:          100.0,
  tavg3d_aer_p.vunit:          'hPa',
  tavg3d_aer_p.vvars:          'log(PLE)'    , 'DYN'        ,
  tavg3d_aer_p.levels:          1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 30 20 10,
 tavg3d_aer_p.fields:         'PS'          , 'DYN'        , 'PS'        ,
                              'LWI'         , 'SURFACE'    , 'LWI'       ,
                              'AIRDENS'     , 'CHEMENV'    ,
                              'ZL'          , 'DYN'        , 'H'         ,
                              'DUMASS'      , 'DU'         , 'DU'        ,
                              'SSMASS'      , 'SS'         , 'SS'        ,
                              'CA.bcMASS'        , 'CA.bc'    , 'BC'         ,
                              'CA.ocMASS'        , 'CA.oc'    , 'OC'         ,
                              'CA.brMASS'        , 'CA.br'    , 'BR'         ,
                              'SO2'         , 'SU'         , 
                              'SO4'         , 'SU'         , 
                              'NH3MASS'     , 'NI'         , 'NH3'       ,
                              'NH4MASS'     , 'NI'         , 'NH4'       ,
                              'NIMASS'      , 'NI'         , 'NI'        ,
                              'HNO3CONC'    , 'NI'         ,
                              'NICONC'      , 'NI'         ,
                              'DUEXTCOEF'   , 'DU'         , 
                              'SSEXTCOEF'   , 'SS'         , 
                              'SUEXTCOEF'   , 'SU'         , 
                              'NIEXTCOEF'   , 'NI'         , 
                              'CA.bcEXTCOEF'     , 'CA.bc'    , 'BCEXTCOEF'  ,
                              'CA.brEXTCOEF'     , 'CA.br'    , 'BREXTCOEF'  ,
                              'CA.ocEXTCOEF'     , 'CA.oc'    , 'OCEXTCOEF'  ,
                              'ACHEM::VOC'      , 'ACHEM'      , 'VOC'       ,
                              'ACHEM::VOCbiob'  , 'ACHEM'      , 'VOCbiob'   ,
                              'pSOA_ANTHRO_VOC' , 'ACHEM', 'pSOA'        ,
                              'pSOA_BIOB_VOC'   , 'ACHEM', 'pSOAbiob'    ,
                              'GOCART::CO'      , 'GOCART','CO'        ,
                               ::

  geosgcm_tracer.template:       '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_tracer.archive:        '%c/Y%y4' ,
  geosgcm_tracer.format:         'CFIO' ,
  geosgcm_tracer.deflate:         1 ,
  geosgcm_tracer.grid_label:      PC360x181-DC ,
  geosgcm_tracer.regrid_method:  'BILINEAR',
  geosgcm_tracer.mode:           'time-averaged' ,
  geosgcm_tracer.monthly:         1 ,
# geosgcm_tracer.frequency:       240000 ,
# geosgcm_tracer.ref_time:        210000 ,
  geosgcm_tracer.vscale:          100.0 ,
  geosgcm_tracer.vunit:          'hPa' ,
  geosgcm_tracer.vvars:          'log(PLE)' , 'DYN' ,
  geosgcm_tracer.levels:          1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 30 20 10 7 5 3 2 1 0.7 0.5 0.3 0.2 0.1 ,
  geosgcm_tracer.fields:         'PS'                  , 'DYN'      ,
                                 'AIRDENS'             , 'CHEMENV'  ,
                                 'aoa'                 , 'TR'       ,
                                 'e90'                 , 'TR'       ,
                                 'Rn222'               , 'TR'       ,
                                 'CH3I'                , 'TR'       ,
#                                'Be7'                 , 'TR'       ,
#                                'EM_Be7'              , 'TR'       ,
#                                'STtend_Be7'          , 'TR'       ,
#                                'DDtend_Be7*(-1)'     , 'TR'       , 'DD_Be7' ,
#                                'WRtend_Be7'          , 'TR'       ,
#                                'WRtendVsum_Be7*(-1)' , 'TR'       , 'WD_Be7' ,
#                                'DKtend_Be7*(-1)'     , 'TR'       , 'DK_Be7' ,
#                                'CVtend_Be7'          , 'TR'       ,
                                  ::
