
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

CONTACT: 'http://gmao.gsfc.nasa.gov'

COLLECTIONS: 'geosgcm_eta'
             'stratchem_eta'
             ::

  geosgcm_eta.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_eta.archive:    '%c/Y%y4',
  geosgcm_eta.format:     'CFIO',
  geosgcm_eta.mode:       'instantaneous',
  geosgcm_eta.frequency:  060000,
  geosgcm_eta.ref_time:   000000,
  geosgcm_eta.resolution: @HIST_IM @HIST_JM,
  geosgcm_eta.fields:   'U'	   , 'DYN' ,
                        'V'	   , 'DYN' ,
                        'T'	   , 'DYN' ,
                        'Q'	   , 'MOIST' ,
                        'QCTOT'    , 'MOIST' ,
                        'DELP'     , 'DYN' ,
                        'PS'	   , 'DYN' ,
                   'TROPP_BLENDED' , 'AGCM' , 'TROPP' ,
                        'TS'	   , 'SURFACE' ,
                        'RADSW'    , 'RADIATION' ,
                        'RADLW'    , 'RADIATION' ,
                        'AIRDENS'  , 'CHEMENV' ,
                        'ZL'	   , 'DYN' ,
                   ::

  stratchem_eta.template:   '%y4%m2%d2_%h2%n2z.nc4',
  stratchem_eta.archive:    '%c/Y%y4',
  stratchem_eta.format:     'CFIO',
  stratchem_eta.mode:       'instantaneous',
  stratchem_eta.frequency:  060000,
  stratchem_eta.ref_time:   000000,
  stratchem_eta.resolution: @HIST_IM @HIST_JM,
  stratchem_eta.fields:   'SCTO3'       , 'STRATCHEM' ,
                          'OX    '      , 'STRATCHEM' , 'O3' ,
                          'NOX   '      , 'STRATCHEM' ,
                          'HNO3  '      , 'STRATCHEM' ,
                          'N2O5  '      , 'STRATCHEM' ,
                          'HO2NO2'      , 'STRATCHEM' ,
                          'CLONO2'      , 'STRATCHEM' ,
                          'CLX'         , 'STRATCHEM' ,
                          'HCL'         , 'STRATCHEM' ,
                          'HOCL'        , 'STRATCHEM' ,
                          'H2O2'        , 'STRATCHEM' ,
                          'BRX'         , 'STRATCHEM' ,
                          'N2O'         , 'STRATCHEM' ,
                          'CL2'         , 'STRATCHEM' ,
                          'OCLO'        , 'STRATCHEM' ,
                          'BRCL'        , 'STRATCHEM' ,
                          'HBR'         , 'STRATCHEM' ,
                          'BRONO2'      , 'STRATCHEM' ,
                          'CH4'         , 'STRATCHEM' ,
                          'HOBR'        , 'STRATCHEM' ,
                          'CH3OOH'      , 'STRATCHEM' ,
                          'CO'          , 'STRATCHEM' ,
                          'HNO3COND'    , 'STRATCHEM' ,
                          'CFC11'       , 'STRATCHEM' ,
                          'CFC12'       , 'STRATCHEM' ,
                          'CFC113'      , 'STRATCHEM' ,
                          'CFC114'      , 'STRATCHEM' ,
                          'CFC115'      , 'STRATCHEM' ,
                          'HCFC22'      , 'STRATCHEM' ,
                          'HCFC141B'    , 'STRATCHEM' ,
                          'HCFC142B'    , 'STRATCHEM' ,
                          'CCL4'        , 'STRATCHEM' ,
                          'CH3CCL3'     , 'STRATCHEM' ,
                          'CH3CL'       , 'STRATCHEM' ,
                          'CH3BR'       , 'STRATCHEM' ,
                          'H1301'       , 'STRATCHEM' ,
                          'H1211'       , 'STRATCHEM' ,
                          'H1202'       , 'STRATCHEM' ,
                          'H2402'       , 'STRATCHEM' ,
                          'CHBR3'       , 'STRATCHEM' ,
                          'CH2BR2'      , 'STRATCHEM' ,
                          'CH2BRCL'     , 'STRATCHEM' ,
                          'CHBRCL2'     , 'STRATCHEM' ,
                          'CHBR2CL'     , 'STRATCHEM' ,
                          'HFC23'       , 'STRATCHEM' ,
                          'HFC32'       , 'STRATCHEM' ,
                          'HFC125'      , 'STRATCHEM' ,
                          'HFC134A'     , 'STRATCHEM' ,
                          'HFC143A'     , 'STRATCHEM' ,
                          'HFC152A'     , 'STRATCHEM' ,
                          'CO2'         , 'STRATCHEM' ,
                          'SF6'         , 'STRATCHEM' ,
                          'AOADAYS'     , 'STRATCHEM' ,    
                          'O3P'         , 'STRATCHEM' ,
                          'O1D'         , 'STRATCHEM' ,
                          'N'           , 'STRATCHEM' ,
                          'NO'          , 'STRATCHEM' ,
                          'NO2'         , 'STRATCHEM' ,
                          'NO3'         , 'STRATCHEM' ,
                          'OH'          , 'STRATCHEM' ,
                          'HO2'         , 'STRATCHEM' ,
                          'CL'          , 'STRATCHEM' ,
                          'CLO'         , 'STRATCHEM' ,
                          'BRO'         , 'STRATCHEM' ,
                          'BR'          , 'STRATCHEM' ,
                          'CL2O2'       , 'STRATCHEM' ,
                          'CH2O'        , 'STRATCHEM' ,
                          'CH3O2'       , 'STRATCHEM' ,
                          'RO3OX'       , 'STRATCHEM' ,
                          'OX_SCTEND'   , 'STRATCHEM' ,
#   Some tendencies are only computed in the SC Development Tag
#                         'OX_AGCMTEND' , 'AGCM'      ,
#                         'OX_PHYSTEND' , 'PHYSICS'   ,
                          'MTRI%STRATCHEM::OXIM'   , 'PHYSICS'    , 'OX_MOISTTEND' ,
                           'TRI%STRATCHEM::OXIT'   , 'TURBULENCE' , 'OX_TURBTEND' ,
#                   Examples for writing increments to .nc4 file.
#                   Legend: 'Bundle_name%GridComp::Species_name_with_suffix', 'Gridded_component'
#                        'MTRI%STRATCHEM::CH4IM'   ,  'PHYSICS'      ,  'CH4_MOISTTEND',
#                         'TRI%STRATCHEM::CH4IT'   ,  'TURBULENCE'   ,  'CH4_TURBTEND',
#                      'TRADVI%STRATCHEM::CH4ID'   ,  'AGCM'         ,  'CH4_DYNTEND',
#                     'CHEMTRI%STRATCHEM::CH4IC'   ,  'CHEMISTRY'    ,  'CH4_CHEMTEND',
#                     'H2ORTRI%STRATCHEM::CH4IW'   ,  'PHYSICS'      ,  'CH4_WaterRescaleTEND',
                   ::
