VERSION: 1
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC


CONTACT: 'http://gmao.gsfc.nasa.gov'

COLLECTIONS: 'geosgcm_prog'
             'geosgcm_surf'
             'geosgcm_rad'
             'geosgcm_moist'
             'geosgcm_turb'
             'geosgcm_gwd'
             'geosgcm_tend'
             'geosgcm_int'
#             'geosgcm_budi'
#             'geosgcm_buda'
#             'geosgcm_landice'
#             'geosgcm_meltwtr'
#             'geosgcm_snowlayer'
#     'geosgcm_ocn3d'
	     'geosgcm_ocn3dT'
#     'geosgcm_ocn2d'
	     'geosgcm_ocn2dT'
#            'geosgcm_icecat'
#            'geosgcm_icesig'
    	     'geosgcm_seaice'
#     'geosgcm_iceflxn'
#     'geosgcm_iceflx'
      'geosgcm_icethm'
#     'geosgcm_aoflux'
             ::

GRID_LABELS: PC@HIST_IMx@HIST_JM-DC
::

PC@HIST_IMx@HIST_JM-DC.GRIDNAME: PC@HIST_IMx@HIST_JM-DC
PC@HIST_IMx@HIST_JM-DC.GRID_TYPE: LatLon
PC@HIST_IMx@HIST_JM-DC.IM_WORLD: @HIST_IM
PC@HIST_IMx@HIST_JM-DC.JM_WORLD: @HIST_JM
PC@HIST_IMx@HIST_JM-DC.POLE: PC
PC@HIST_IMx@HIST_JM-DC.DATELINE: DC
PC@HIST_IMx@HIST_JM-DC.LM: @AGCM_LM

  geosgcm_prog.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_prog.archive:   '%c/Y%y4',
  geosgcm_prog.format:    'CFIO',
  geosgcm_prog.frequency:  060000,
  geosgcm_prog.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_prog.vscale:     100.0,
  geosgcm_prog.vunit:     'hPa',
  geosgcm_prog.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_prog.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_prog.fields:    'PHIS'     , 'AGCM'         ,
                          'SLP'      , 'DYN'          ,
                          'U;V'      , 'DYN'          ,
                          'T'        , 'DYN'          ,
                          'PS'       , 'DYN'          ,
                          'ZLE'      , 'DYN'          , 'H'   ,
                          'OMEGA'    , 'DYN'          ,
                          'Q'        , 'MOIST'        , 'QV'  ,
                          'QITOT'    , 'AGCM'         , 'QI'  ,
                          'QLTOT'    , 'AGCM'         , 'QL'  ,
                          'RH2'      , 'MOIST'        , 'RH'  ,
                          'O3'       , 'CHEMISTRY'    ,
                          ::

  geosgcm_rad.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_rad.archive:   '%c/Y%y4',
  geosgcm_rad.format:    'CFIO',
  geosgcm_rad.monthly:   1,
  geosgcm_rad.mode:      'time-averaged',
# geosgcm_rad.frequency:  240000,
  geosgcm_rad.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_rad.fields:    'PHIS'          , 'AGCM'     ,
                          'TAUTT'    , 'SOLAR'         ,
                          'TAULO'    , 'SOLAR'         ,
                          'TAUMD'    , 'SOLAR'         ,
                          'TAUHI'    , 'SOLAR'         ,
                          'CLDTT'    , 'SOLAR'         ,
                          'CLDLO'    , 'SOLAR'         ,
                          'CLDMD'    , 'SOLAR'         ,
                          'CLDHI'    , 'SOLAR'         ,
                          'RADSRF'   , 'RADIATION'     ,
                          'FLNS'      , 'IRRAD'        ,
                          'FLNSC'     , 'IRRAD'        ,
                          'FLNSA'     , 'IRRAD'        , 'FLNSCNA'   ,
                          'OLR'       , 'IRRAD'        ,
                          'OLC'       , 'IRRAD'        , 'OLRC'      ,
                          'OLA'       , 'IRRAD'        , 'OLRCNA'    ,
                          'LWS'       , 'IRRAD'        ,
                          'LCS'       , 'IRRAD'        , 'LWSC'      ,
                          'LAS'       , 'IRRAD'        , 'LWSCNA'    ,
                          'SFCEM'     , 'IRRAD'        ,
                          'CLDTMP'    , 'SOLAR'        , 'SWCLDTMP'  ,
                          'CLDPRS'    , 'SOLAR'        , 'SWCLDPRS'  ,
                          'OSR'       , 'SOLAR'        ,
                          'OSRCLR'    , 'SOLAR'        ,
                          'RSR'       , 'SOLAR'        , 'SWTNET'    ,
                          'RSC'       , 'SOLAR'        , 'SWTNETC'   ,
                          'RSCNA'     , 'SOLAR'        , 'SWTNETCNA' ,
                          'RSRNA'     , 'SOLAR'        , 'SWTNETNA'  ,
                          'SLRTP'     , 'SOLAR'        , 'RADSWT'    ,
                          'SLRSF'     , 'SOLAR'        , 'SWGDWN'    ,
                          'SLRSFC'    , 'SOLAR'        , 'SWGDWNC'   ,
                          'RSRS'      , 'SOLAR'        , 'SWGNET'    ,
                          'RSCS'      , 'SOLAR'        , 'SWGNETC'   ,
                          'RSRSNA'    , 'SOLAR'        , 'SWGNETNA'  ,
                          'RSCSNA'    , 'SOLAR'        , 'SWGNETCNA' ,
                          'ALBEDO'    , 'SOLAR'        ,
                          'ALBVR'     , 'SOLAR'        ,
                          'ALBVF'     , 'SOLAR'        ,
                          'ALBNR'     , 'SOLAR'        ,
                          'ALBNF'     , 'SOLAR'        ,
                          'COSZ'      , 'SOLAR'        ,
                          'EMIS'      , 'SURFACE'      ,
                           ::

  geosgcm_surf.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_surf.archive:   '%c/Y%y4',
  geosgcm_surf.format:    'CFIO',
  geosgcm_surf.monthly:   1 , 
  geosgcm_surf.mode:      'time-averaged',
# geosgcm_surf.frequency:  240000,
  geosgcm_surf.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_surf.fields:    'PHIS'          , 'AGCM'     ,
                          'SGH'           , 'AGCM'     ,
                          'VARFLT'        , 'AGCM'     ,
                          'TROPP_EPV'     , 'AGCM'     ,  'TROPPV' ,
                          'TROPP_THERMAL' , 'AGCM'     ,  'TROPPT' ,
                          'TROPP_BLENDED' , 'AGCM'     ,  'TROPPB' ,
                          'TROPT'         , 'AGCM'     ,
                          'TROPQ'         , 'AGCM'     ,
                          'QVFILL'   , 'AGCM'          ,
                          'OXFILL'   , 'AGCM'          ,
                          'TA'       , 'DYN'           ,
                          'QA'       , 'DYN'           ,
                          'US;VS'    , 'DYN'           ,
                          'PS'       , 'DYN'           ,
                          'SPEED'    , 'DYN'           ,
                          'ZPBL'     , 'TURBULENCE'    ,  'PBLH'   ,
                          'TS'       , 'SURFACE'       ,
                          'QS'       , 'SURFACE'       ,
                          'THAT'     , 'SURFACE'       ,
                          'QHAT'     , 'SURFACE'       ,
                          'CN_PRCP'  , 'MOIST'         , 'CNPRCP' ,
                          'LS_PRCP'  , 'MOIST'         , 'LSPRCP' ,
                          'AN_PRCP'  , 'MOIST'         , 'ANPRCP' ,
                          'SNO'      , 'MOIST'         ,
                          'PLS'      , 'MOIST'         ,
                          'PCU'      , 'MOIST'         ,
			  'TPREC'    , 'MOIST'         ,
                          'LWP'      , 'MOIST'         ,
                          'CCWP'     , 'MOIST'         ,
                          'SPLAND'   , 'SURFACE'       ,
                          'SPWATR'   , 'SURFACE'       ,
                          'RUNSURF'  , 'SURFACE'       ,
                          'BASEFLOW' , 'SURFACE'       ,
                          'CT'       , 'SURFACE'       ,
                          'CQ'       , 'SURFACE'       ,
                          'CN'       , 'SURFACE'       ,
                          'CM'       , 'SURFACE'       ,
                          'RI'       , 'SURFACE'       , 'RISFC' ,
                          'LAI'      , 'SURFACE'       ,
                          'GRN'      , 'SURFACE'       ,
                          'SNOMAS'   , 'SURFACE'       ,
                          'ITY'      , 'SURFACE'       , 'VEGTYPE' ,
                          'WET1'     , 'SURFACE'       ,
                          'WET2'     , 'SURFACE'       ,
                          'WET3'     , 'SURFACE'       ,
                          'TSOIL1'   , 'SURFACE'       ,
                          'TSOIL2'   , 'SURFACE'       ,
                          'FRLAND'   , 'SURFACE'       ,
                          'FRLANDICE', 'SURFACE'       ,
                          'FRLAKE'   , 'SURFACE'       ,
                          'FRACI'    , 'SURFACE'       , 'FRSEAICE' ,
                          'FROCEAN'  , 'SURFACE'       ,
                          'USTAR'    , 'SURFACE'       ,
                          'Z0'       , 'SURFACE'       ,
                          'Z0H'      , 'SURFACE'       ,
                          'LHFX'     , 'SURFACE'       ,
                          'SH'       , 'SURFACE'       , 'SHFX'     ,
                          'EVAP'     , 'SURFACE'       ,
                          'TAUX;TAUY', 'SURFACE'       ,
                          'RHOS'     , 'SURFACE'       ,
                          'U2M;V2M'  , 'SURFACE'       ,
                          'T2M'      , 'SURFACE'       ,
                          'Q2M'      , 'SURFACE'       ,
                          'U10N;V10N', 'SURFACE'       ,
                          'U10M;V10M', 'SURFACE'       ,
                          'T10M'     , 'SURFACE'       ,
                          'Q10M'     , 'SURFACE'       ,
                          'U50M;V50M', 'SURFACE'       ,
                          'GUST'     , 'SURFACE'       ,
                          'VENT'     , 'SURFACE'       ,
                          'ASNOW'    , 'SURFACE'       ,
                          'EVLAND'    , 'SURFACE'      ,
                          'LHLAND'    , 'SURFACE'      ,
                          'SHLAND'    , 'SURFACE'      ,
                          'SWLAND'    , 'SURFACE'      ,
                          'LWLAND'    , 'SURFACE'      ,
                          'GHLAND'    , 'SURFACE'      ,
                          'SMLAND'    , 'SURFACE'      ,
                          'TWLAND'    , 'SURFACE'      ,
                          'TELAND'    , 'SURFACE'      ,
                          'DZ'        , 'DYN'          ,  'HLML',
                          'RUNOFF'    , 'SURFACE'       ,
                          'DISCHARGE' , 'SURFACE'       ,
# additonal exports
                           'EVAPOUT'  , 'SURFACE'  ,
                           'DCOOL'    , 'SURFACE'  ,
                           'DWARM'    , 'SURFACE'  ,
                           'TDROP'    , 'SURFACE'  , 'DELT_COOL' ,
                           'TS_FOUND' , 'SURFACE'  ,
#			   'SS_FOUND' , 'SURFACE'  ,
                           'TDEL'     , 'SURFACE'  ,
#                          'BCOOL'    , 'SURFACE'  ,
#                          'LCOOL'    , 'SURFACE'  ,
#                          'TBAR'     , 'SURFACE'  ,
                           'USTARW'   , 'SURFACE'  ,
#                          'SWCOOL'   , 'SURFACE'  ,
                           'QCOOL'    , 'SURFACE'  ,
#                          'DELTS'    , 'SURFACE'  ,
                           'QWARM'    , 'SURFACE'  ,
#                          'SWWARM'   , 'SURFACE'  ,
#                          'LANGM'    , 'SURFACE'  ,
#                          'PHIW'     , 'SURFACE'  ,
#                          'TAUTW'    , 'SURFACE'  ,
#                          'ZETA_W'   , 'SURFACE'  ,
#                          'CNLAI'    , 'SURFACE'  ,
#                          'CNTLAI'   , 'SURFACE'  ,
#                          'CNSAI'    , 'SURFACE'  ,
#                          'CNTOTC'   , 'SURFACE'  ,
#                          'CNVEGC'   , 'SURFACE'  ,
#                          'CNROOT'   , 'SURFACE'  ,
#                          'CNNPP'    , 'SURFACE'  ,
#                          'CNGPP'    , 'SURFACE'  ,
#                          'CNSR'     , 'SURFACE'  ,
#                          'CNNEE'    , 'SURFACE'  ,
#                          'CNXSMR'   , 'SURFACE'  ,
#                          'CNADD'    , 'SURFACE'  ,
#                          'PARABS'   , 'SURFACE'  ,
#                          'PARINC'   , 'SURFACE'  ,
#                          'SCSAT'    , 'SURFACE'  ,
#                          'SCUNS'    , 'SURFACE'  ,
#                          'BTRANT'   , 'SURFACE'  , 'BTRAN'     ,
#                          'SIF'      , 'SURFACE'  , 
#                          'CNLOSS'   , 'SURFACE'  , 'CLOSS'     ,
#                          'CNBURN'   , 'SURFACE'  , 'BURN'      ,
#                          'CNFSEL'   , 'SURFACE'  , 'FSEL'      ,
#                          'EVPICE'   , 'SURFACE'  ,
#                          'EVPSNO'   , 'SURFACE'  ,
#                          'EVPINT'   , 'SURFACE'  ,
#                          'EVPSOI'   , 'SURFACE'  ,
#                          'EVPVEG'   , 'SURFACE'  ,
#                          'FRSAT'    , 'SURFACE'  ,
#                          'FRUST'    , 'SURFACE'  ,
#                          'FRWLT'    , 'SURFACE'  ,
#                          'TPSAT'    , 'SURFACE'  ,
#                          'TPUNST'   , 'SURFACE'  ,
#                          'TPWLT'    , 'SURFACE'  ,
#                          'TPSURF'   , 'SURFACE'  , 'TSURF'     ,
#                          'GHTSKIN'  , 'SURFACE'  ,
#                          'WAT10CM'  , 'SURFACE'  ,
#                          'WATSOI'   , 'SURFACE'  ,
#                          'ICESOI'   , 'SURFACE'  ,
                          ::


  geosgcm_moist.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_moist.archive:   '%c/Y%y4',
  geosgcm_moist.format:    'CFIO',
  geosgcm_moist.mode:      'time-averaged',
  geosgcm_moist.monthly:   1 ,
# geosgcm_moist.frequency:  240000,
  geosgcm_moist.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_moist.vscale:     100.0,
  geosgcm_moist.vunit:     'hPa',
  geosgcm_moist.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_moist.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_moist.fields:    'PHIS'    , 'AGCM'          ,
                           'QL'      , 'MOIST'         ,
                           'QI'      , 'MOIST'         ,
                           'QR'      , 'MOIST'         ,
                           'RI'      , 'MOIST'         , 'RICE'   ,
                           'RL'      , 'MOIST'         , 'RLIQ'   ,
                           'RH1'     , 'MOIST'         ,
                           'CNV_MF0' , 'MOIST'         , 'CNVMF0' ,
                           'CNV_MFD' , 'MOIST'         , 'CNVMFD' ,
                           'CNV_MFC' , 'MOIST'         , 'CNVMFC' ,
                           'REV_CN'  , 'MOIST'         , 'REVCN'  ,
                           'REV_AN'  , 'MOIST'         , 'REVAN'  ,
                           'REV_LS'  , 'MOIST'         , 'REVLS'  ,
                           'RSU_CN'  , 'MOIST'         , 'RSUCN'  ,
                           'RSU_AN'  , 'MOIST'         , 'RSUAN'  ,
                           'RSU_LS'  , 'MOIST'         , 'RSULS'  ,
                           'THIM'    , 'PHYSICS'       ,
                           'EVAPC'   , 'MOIST'         ,
                           'SUBLC'   , 'MOIST'         ,
                           'FCLD'    , 'MOIST'         ,
                           'CLCN'    , 'MOIST'         ,
                           'CLLS'    , 'MOIST'         ,
                           'QICN'    , 'MOIST'         ,
                           'QILS'    , 'MOIST'         ,
                           'QLCN'    , 'MOIST'         ,
                           'QLLS'    , 'MOIST'         ,
                           ::

  geosgcm_turb.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_turb.archive:   '%c/Y%y4',
  geosgcm_turb.format:    'CFIO',
  geosgcm_turb.mode:      'time-averaged',
  geosgcm_turb.monthly:   1 , 
# geosgcm_turb.frequency:  240000,
  geosgcm_turb.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_turb.vscale:     100.0,
  geosgcm_turb.vunit:     'hPa',
  geosgcm_turb.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_turb.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_turb.fields:    'INTDIS'   , 'TURBULENCE'    ,
                          'TOPDIS'   , 'TURBULENCE'    ,
                          'SRFDIS'   , 'TURBULENCE'    ,
                          'DBUOY'    , 'TURBULENCE'    ,
                          'WERAD'    , 'TURBULENCE'    ,
                          'KH'       , 'TURBULENCE'    ,
                          'KM'       , 'TURBULENCE'    ,
                          'KHLS'     , 'TURBULENCE'    ,
                          'KMLS'     , 'TURBULENCE'    ,
                          'EKH'      , 'TURBULENCE'    ,
                          'EKM'      , 'TURBULENCE'    ,
                          'KHSFC'    , 'TURBULENCE'    ,
                          'KHRAD'    , 'TURBULENCE'    ,
                          'RI'       , 'TURBULENCE'    ,
                          'DU'       , 'TURBULENCE'    ,
                          ::

  geosgcm_gwd.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_gwd.archive:   '%c/Y%y4',
  geosgcm_gwd.format:    'CFIO',
  geosgcm_gwd.mode:      'time-averaged',
  geosgcm_gwd.monthly:   1 ,
# geosgcm_gwd.frequency:  240000,
  geosgcm_gwd.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_gwd.vscale:     100.0,
  geosgcm_gwd.vunit:     'hPa',
  geosgcm_gwd.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_gwd.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_gwd.fields:    'DUDT_ORO;DVDT_ORO', 'GWD', 'DUDTORO;DVDTORO' ,
                         'DUDT_BKG;DVDT_BKG', 'GWD', 'DUDTBKG;DVDTBKG' ,
                         'DUDT_RAY;DVDT_RAY', 'GWD', 'DUDTRAY;DVDTRAY' ,
                         'TAUOROX;TAUOROY'  , 'GWD',
                         'TAUBKGX;TAUBKGY'  , 'GWD',
                         'DTDT_ORO',          'GWD', 'DTDTORO' ,
                         'DTDT_BKG',          'GWD', 'DTDTBKG' ,
                         'DTDT_RAY',          'GWD', 'DTDTRAY' ,
                         ::

  geosgcm_tend.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_tend.archive:   '%c/Y%y4',
  geosgcm_tend.format:    'CFIO',
  geosgcm_tend.mode:      'time-averaged',
  geosgcm_tend.monthly:   1 ,
# geosgcm_tend.frequency:  240000,
  geosgcm_tend.grid_label: PC@HIST_IMx@HIST_JM-DC,
  geosgcm_tend.vscale:     100.0,
  geosgcm_tend.vunit:     'hPa',
  geosgcm_tend.vvars:     'log(PLE)' , 'DYN'          ,
  geosgcm_tend.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  geosgcm_tend.fields:    'DUDTDYN;DVDTDYN', 'DYN'     ,
                          'UIT;VIT'        , 'PHYSICS' ,  'DUDTTRB;DVDTTRB' ,
                          'DUDT;DVDT'      , 'MOIST'   ,  'DUDTMST;DVDTMST' ,
                          'DUDT;DVDT'      , 'GWD'     ,  'DUDTGWD;DVDTGWD' ,
                          'DTDTDYN'  , 'DYN'           ,
                          'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                          'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                          'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                          'RADLW'    , 'RADIATION'     ,  'DTDTLW'     ,
                          'RADLWC'   , 'RADIATION'     ,  'DTDTLWC'    ,
                          'RADLWCNA' , 'RADIATION'     ,  'DTDTLWCNA'  ,
                          'RADSW'    , 'RADIATION'     ,  'DTDTSW'     ,
                          'RADSWC'   , 'RADIATION'     ,  'DTDTSWC'    ,
                          'RADSWNA'  , 'RADIATION'     ,  'DTDTSWNA'   ,
                          'RADSWCNA' , 'RADIATION'     ,  'DTDTSWCNA'  ,
                          'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                          'DQVDTDYN' , 'DYN'           ,
                          'DQDT'     , 'MOIST'         ,  'DQVDTMST'   ,
                          'QVIT'     , 'PHYSICS'       ,  'DQVDTTRB'   ,
                          'H2O_TEND' , 'CHEMISTRY'     ,  'DQVDTCHM'   ,
                          'DPDTPHY'  , 'PHYSICS'       ,
                          ::

  geosgcm_int.template:      '%y4%m2%d2_%h2%n2z.nc4' ,
  geosgcm_int.archive:       '%c/Y%y4',
  geosgcm_int.format:        'CFIO' ,
  geosgcm_int.descr:         '2d, Daily, Time-Averaged,Single-Level,Assimilation,Vertically Integrated Diagnostics' ,
  geosgcm_int.mode:          'time-averaged' ,
  geosgcm_int.monthly:       1 ,
# geosgcm_int.frequency:     240000,
  geosgcm_int.conservative:  1,
  geosgcm_int.grid_label:    PC@HIST_IMx@HIST_JM-DC,
  geosgcm_int.fields:             'UCPT'          , 'DYN'         , 'UFLXCPT'      ,
                                  'VCPT'          , 'DYN'         , 'VFLXCPT'      ,
                                  'UPHI'          , 'DYN'         , 'UFLXPHI'      ,
                                  'VPHI'          , 'DYN'         , 'VFLXPHI'      ,
                                  'UKE'           , 'DYN'         , 'UFLXKE'       ,
                                  'VKE'           , 'DYN'         , 'VFLXKE'       ,
                                  'UQV'           , 'DYN'         , 'UFLXQV'       ,
                                  'VQV'           , 'DYN'         , 'VFLXQV'       ,
                                  'UQL'           , 'DYN'         , 'UFLXQL'       ,
                                  'VQL'           , 'DYN'         , 'VFLXQL'       ,
                                  'UQI'           , 'DYN'         , 'UFLXQI'       ,
                                  'VQI'           , 'DYN'         , 'VFLXQI'       ,
                                  :: 


  geosgcm_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d.archive:   '%c/Y%y4',
  geosgcm_ocn3d.mode:      'time-averaged',
  geosgcm_ocn3d.format: 'CFIO',	   	
  geosgcm_ocn3d.monthly: 1 ,
# geosgcm_ocn3d.frequency:  240000,
  geosgcm_ocn3d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn3d.levels: 'vgrid.ascii'
  geosgcm_ocn3d.fields:  'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
		     'HC', 'MOM',
                      ::

  geosgcm_ocn2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2d.archive:   '%c/Y%y4',
  geosgcm_ocn2d.mode:      'time-averaged',
  geosgcm_ocn2d.format: 'CFIO',
  geosgcm_ocn2d.monthly: 1 ,
# geosgcm_ocn2d.frequency:  240000,
  geosgcm_ocn2d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn2d.fields:    'UW'    , 'MOM', 'US'
  	           'VW'    , 'MOM', 'VS'
		   'TW'    , 'MOM', 'TS'
		   'SW'    , 'MOM', 'SS'
		   'SSH'    , 'MOM',
		   'SLV'    , 'MOM',
                   'QFLUX' , 'OCEAN',
                   'LWFLX' , 'OCEAN',
		   'SWFLX' , 'OCEAN',
                   'SHFLX' , 'OCEAN',
		   'RAIN' , 'OCEAN',
		   'SNOW' , 'OCEAN',
		   'SFLX' , 'OCEAN',
		   'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
		   'FROCEAN'   , 'OCEAN',
		   'MASKO'   , 'OCEAN',
		   'AREA'   , 'MOM',
		   'MLD'   ,    'MOM',
		   'DISCHARGE'   ,    'OCEAN',
		   'TS_FOUND'   ,    'OCEAN',
		   'SS_FOUND'   ,    'OCEAN',
		   'FRZMLT'   ,    'OCEAN',
		   'PSI'   ,    'MOM',
                      ::

  geosgcm_ocn3dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3dT.archive:   '%c/Y%y4',
  geosgcm_ocn3dT.mode:      'time-averaged',
  geosgcm_ocn3dT.format: 'CFIO',	   	
  geosgcm_ocn3dT.monthly: 1 ,
# geosgcm_ocn3dT.frequency:  240000,
  geosgcm_ocn3dT.levels: 'vgrid.ascii'
  geosgcm_ocn3dT.fields:  'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
		     'SWFRAC', 'MOM',
		     'HC', 'MOM',
                      ::

  geosgcm_ocn2dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2dT.archive:   '%c/Y%y4',
  geosgcm_ocn2dT.mode:      'time-averaged',
  geosgcm_ocn2dT.format: 'CFIO',
  geosgcm_ocn2dT.monthly: 1 ,
# geosgcm_ocn2dT.frequency:  240000,
  geosgcm_ocn2dT.fields:    'UW'    , 'MOM', 'US'
  	           'VW'    , 'MOM', 'VS'
		   'TW'    , 'MOM', 'TS'
		   'SW'    , 'MOM', 'SS'
		   'SSH'    , 'MOM',
		   'SLV'    , 'MOM',
                   'QFLUX' , 'OCEAN',
                   'LWFLX' , 'OCEAN',
		   'SWFLX' , 'OCEAN',
                   'SHFLX' , 'OCEAN',
		   'RAIN' , 'OCEAN',
		   'SNOW' , 'OCEAN',
		   'SFLX' , 'OCEAN',
		   'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
		   'FROCEAN'   , 'OCEAN',
		   'MASKO'   , 'OCEAN',
		   'AREA'   , 'MOM',
		   'MLD'   ,    'MOM',
		   'DISCHARGE'   ,    'OCEAN',
		   'TS_FOUND'   ,    'OCEAN',
		   'SS_FOUND'   ,    'OCEAN',
		   'FRZMLT'   ,    'OCEAN',
		   'PSI'   ,    'MOM',
		   ::

   geosgcm_icecat.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_icecat.archive:   '%c/Y%y4',
   geosgcm_icecat.format: 'CFIO',
   geosgcm_icecat.mode: 'time-averaged',
   geosgcm_icecat.monthly: 1 ,
#  geosgcm_icecat.frequency:  240000,
   geosgcm_icecat.fields:    'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                             'HIFLXE'         , 'SEAICE',
                             'HIFLXN'         , 'SEAICE',
                           ::

   geosgcm_icesig.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_icesig.archive:   '%c/Y%y4',
   geosgcm_icesig.format:    'CFIO',
   geosgcm_icesig.monthly:   1 ,
#  geosgcm_icesig.frequency: 120000,
#  geosgcm_icesig.duration:  240000,
   geosgcm_icesig.fields:    'SIG1'          , 'SEAICE',
                             'SIG2'          , 'SEAICE',
                             'SHEAR'         , 'SEAICE',
                             'DIVU'          , 'SEAICE',
                           ::

   geosgcm_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_seaice.archive:   '%c/Y%y4',
   geosgcm_seaice.format: 'CFIO',
   geosgcm_seaice.monthly: 1 ,
   geosgcm_seaice.mode: 'time-averaged',
#  geosgcm_seaice.frequency:  240000,
   geosgcm_seaice.fields:    'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'VEL'         , 'SEAICE',
                             'STRENGTH'    , 'SEAICE',
                             'SHEAR'       , 'SEAICE',
                             'DIVU'        , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HICE0'       , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             'HSNO0'       , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DRAFT0'      , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'DVIDTD'      , 'SEAICE', 
                             'DAIDTD'      , 'SEAICE', 
                             'DVIRDGDT'    , 'SEAICE',
                             'STRCORX'     , 'SEAICE',
                             'STRCORY'     , 'SEAICE',
                             'STRTLTX'     , 'SEAICE',
                             'STRTLTY'     , 'SEAICE',
                             'STRINTX'     , 'SEAICE',
                             'STRINTY'     , 'SEAICE',
                             'TAUXOCNB'    , 'SEAICE',
                             'TAUYOCNB'    , 'SEAICE',
                             'TAUXI'       , 'SEAICE',
                             'TAUYI'       , 'SEAICE',
                             'TAUXIB'      , 'SEAICE',
                             'TAUYIB'      , 'SEAICE',
                             'TAUXBOT'     , 'SEAICE',
                             'TAUYBOT'     , 'SEAICE',
                             'UOCN'        , 'SEAICE',
                             'VOCN'        , 'SEAICE',
                             'SSH'         , 'SEAICE',
                             'SLV'         , 'SEAICE',
                             'AREA'        , 'SEAICE',
                             'FROCEAN'     , 'SEAICE',
                             'TMASK'       , 'SEAICE',
                              ::

  geosgcm_iceflxn.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_iceflxn.archive:   '%c/Y%y4',
  geosgcm_iceflxn.format:     'CFIO',
  geosgcm_iceflxn.monthly:   1 ,
  geosgcm_iceflxn.mode:       'time-averaged',
# geosgcm_iceflxn.frequency:   240000,
  geosgcm_iceflxn.regrid_exch:'tile.bin',
  geosgcm_iceflxn.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_iceflxn.fields:     'FCONDBOTN'      , 'SEAICETHERMO', 'fcondbotn',
  			      'SHICEN'         , 'SEAICETHERMO',
                              'FSWSFCN'      , 'SEAICETHERMO',
                              'ALBIN'          , 'SEAICETHERMO',
                              'ALBSN'          , 'SEAICETHERMO', 
			      'FCONDTOPN'         , 'SEAICETHERMO',
                              'FSURFN'      , 'SEAICETHERMO',
                              'HLWUPN'          , 'SEAICETHERMO',
                              'LWNDSRFN'          , 'SEAICETHERMO',
                              'TSURFN'          , 'SEAICETHERMO', 
                           ::

  geosgcm_iceflx.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_iceflx.archive:   '%c/Y%y4',
  geosgcm_iceflx.format:     'CFIO',
  geosgcm_iceflx.mode: 'time-averaged',
  geosgcm_iceflx.monthly: 1 ,
# geosgcm_iceflx.frequency:   240000,
  geosgcm_iceflx.regrid_exch:'tile.bin',
  geosgcm_iceflx.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_iceflx.fields:   'LWDNSRF'             , 'SEAICETHERMO',
                           'SWDNSRF'             , 'SEAICETHERMO',
                           'HLWUPICE'            , 'SEAICETHERMO',
                           'HLATICE'             , 'SEAICETHERMO',
                           'SHICE'               , 'SEAICETHERMO',
                           'SWNDICE'             , 'SEAICETHERMO',
                           'FCONDTOP'            , 'SEAICETHERMO',
                           'SIALB'               , 'SEAICETHERMO',
                           'FSURFICE'            , 'SEAICETHERMO',
			   'LWNDICE'             , 'SEAICETHERMO',		 
                             ::

  geosgcm_icethm.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_icethm.archive:   '%c/Y%y4',
  geosgcm_icethm.format:     'CFIO',
  geosgcm_icethm.mode: 'time-averaged',
  geosgcm_icethm.monthly: 1 ,
# geosgcm_icethm.frequency:   240000,
  geosgcm_icethm.regrid_exch:'tile.bin',
  geosgcm_icethm.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_icethm.fields:   'DVIDTT'              , 'SEAICETHERMO',  'dvidtt',
                           'DAIDTT'              , 'SEAICETHERMO',  'daidtt',
                           'FBOT'                , 'SEAICETHERMO',  'fbot',
                           'FSWTHRU'             , 'SEAICETHERMO',  'fswthru',
                           'USTARI'              , 'SEAICETHERMO',  'ustari',
                           'GHTSKIN'             , 'SEAICETHERMO',  'ghtskin',
                           'FCONDTOP'            , 'SEAICETHERMO',  'fcondtop',
                           'FCONDBOT'            , 'SEAICETHERMO',  'fcondbot',
                           'MELTT'               , 'SEAICETHERMO',
                           'MELTB'               , 'SEAICETHERMO',
                           'MELTL'               , 'SEAICETHERMO',
                           'MELTS'               , 'SEAICETHERMO',
                           'CONGEL'              , 'SEAICETHERMO',
                           'FRAZIL'              , 'SEAICETHERMO',
                           'SNOICE'              , 'SEAICETHERMO',
                           'SUBLIM'              , 'SEAICETHERMO',
                           'SNOONICE'            , 'SEAICETHERMO',
                           'SUBLIMFLX'           , 'SEAICETHERMO',
                           ::

  geosgcm_aoflux.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_aoflux.archive:   '%c/Y%y4',
  geosgcm_aoflux.format:     'CFIO',
  geosgcm_aoflux.mode:       'time-averaged',
  geosgcm_aoflux.monthly:    1 ,
# geosgcm_aoflux.frequency:    240000,
  geosgcm_aoflux.regrid_exch:'tile.bin',
  geosgcm_aoflux.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_aoflux.fields:     'TS_FOUND'    , 'OPENWATER',
                            'SS_FOUND'    , 'OPENWATER',
                            'AO_DRNIR'    , 'OPENWATER',
                            'AO_DFNIR'    , 'OPENWATER',
                            'PENUVR'      , 'SALTWATER',
                            'PENUVF'      , 'SALTWATER',
                            'PENPAR'      , 'SALTWATER',
                            'PENPAF'      , 'SALTWATER',
                            'FSURF'       , 'SALTWATER',
                            'SHOUT'       , 'OPENWATER',
                            'AO_SHFLX'    , 'OPENWATER',
                            'EVAPOUT'     , 'OPENWATER',
                            'AO_QFLUX'    , 'OPENWATER',
                            'LWNDSRF'     , 'OPENWATER',
                            'AO_LWFLX'    , 'OPENWATER',
                            'SWNDWTR'     , 'OPENWATER',
                            'RAINOCN'     , 'OPENWATER',
                            'AO_RAIN'     , 'OPENWATER',
                            'SNOWOCN'     , 'OPENWATER',
                            'AO_SNOW'     , 'OPENWATER',
                            'FRACI'       , 'SEAICETHERMO',
                            'FRZMLT'      , 'SEAICETHERMO',
                            'FRESH'       , 'SEAICETHERMO',
                            'FHOCN'       , 'SEAICETHERMO',
                            'FSALT'       , 'SEAICETHERMO',
			    ::
