######################################################################
#                 Create History List for Output
#######################################################################

EXPID:  @EXPID
EXPDSC: @EXPDSC

COLLECTIONS: 'inst3_3d_asm_Cp'
             'tavg3_3d_cld_Cp'
             'tavg3_3d_mst_Cp'
             'tavg3_3d_rad_Cp'
             'tavg3_3d_trb_Cp'
             'tavg3_3d_tdt_Cp'
             'tavg3_3d_udt_Cp'
             'tavg3_3d_qdt_Cp'
             'tavg3_3d_odt_Cp'
             'tavg1_2d_slv_Nx'
             'tavg1_2d_flx_Nx'
             'tavg1_2d_rad_Nx'
             'tavg1_2d_lnd_Nx'
             'tavg1_2d_ocn_Nx'
             'tavg1_2d_int_Nx'
             'inst1_2d_int_Nx'
             'tavg3_3d_chm_Fv'
             'tavg3_3d_chm_Fe'
             'tavg3_2d_chm_Fx'
             'tavg3_3d_chm_Nv'
             'tavg3_3d_chm_Ne'
             'inst3_3d_chm_Ne'
             'bkg.eta'
             'bkg.sfc'
             'const_2d_asm_Nx'
             'const_2d_chm_Fx'
             'prepqc_trigger'
              ::

  inst3_3d_asm_Cp.format:    'CFIO',
  inst3_3d_asm_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3_3d_asm_Cp.mode:      'instantaneous',
  inst3_3d_asm_Cp.frequency:  030000,
  inst3_3d_asm_Cp.duration:   030000,
  inst3_3d_asm_Cp.end_date:  >>>IOEDATE<<< ,
  inst3_3d_asm_Cp.end_time:  >>>IOETIME<<< ,
  inst3_3d_asm_Cp.resolution: @HSRES1,
  inst3_3d_asm_Cp.xyoffset:   3,
  inst3_3d_asm_Cp.vscale:     100.0,
  inst3_3d_asm_Cp.vunit:      'hPa',
  inst3_3d_asm_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  inst3_3d_asm_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  inst3_3d_asm_Cp.fields:     'SLP'      , 'DYN'           ,
                              'PS'       , 'DYN'           ,
                              'PHIS'     , 'SUPERDYNAMICS' ,
                              'ZLE'      , 'DYN'           , 'H'   ,   
                              'O3'       , 'CHEMISTRY'     ,
                              'Q'        , 'MOIST'         , 'QV'  ,
                              'QLTOT'    , 'AGCM'          , 'QL'  ,
                              'QITOT'    , 'AGCM'          , 'QI'  ,
                              'RH2'      , 'MOIST'         , 'RH'  ,
                              'T'        , 'DYN'           ,
                              'U'        , 'DYN'           ,
                              'V'        , 'DYN'           ,
                              'EPV'      , 'DYN'           ,
                              'OMEGA'    , 'DYN'           ,
                               ::

  tavg3_3d_cld_Cp.format:    'CFIO',
  tavg3_3d_cld_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_cld_Cp.mode:      'time-averaged',
  tavg3_3d_cld_Cp.frequency:  030000,
  tavg3_3d_cld_Cp.duration:   030000,
  tavg3_3d_cld_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_cld_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_cld_Cp.resolution: @HSRES1,
  tavg3_3d_cld_Cp.xyoffset:   3,
  tavg3_3d_cld_Cp.vscale:     100.0,
  tavg3_3d_cld_Cp.vunit:      'hPa',
  tavg3_3d_cld_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_cld_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_cld_Cp.fields:     'RH2'      , 'MOIST'        , 'RH'     ,
                              'QLLS'     , 'MOIST'        ,
                              'QILS'     , 'MOIST'        ,
                              'QLCN'     , 'MOIST'        , 'QLAN'   ,
                              'QICN'     , 'MOIST'        , 'QIAN'   ,
                              'CNV_QC'   , 'MOIST'        , 'QCCU'   ,
                              'CLLS'     , 'MOIST'        , 'CFLS'   ,
                              'CLCN'     , 'MOIST'        , 'CFAN'   ,
                              'CNV_UPDF' , 'MOIST'        , 'CFCU'   ,
                               ::

  tavg3_3d_mst_Cp.format:    'CFIO',
  tavg3_3d_mst_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_mst_Cp.mode:      'time-averaged',
  tavg3_3d_mst_Cp.frequency:  030000,
  tavg3_3d_mst_Cp.duration:   030000,
  tavg3_3d_mst_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_mst_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_mst_Cp.resolution: @HSRES1,
  tavg3_3d_mst_Cp.xyoffset:   3,
  tavg3_3d_mst_Cp.vscale:     100.0,
  tavg3_3d_mst_Cp.vunit:      'hPa',
  tavg3_3d_mst_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_mst_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_mst_Cp.fields:     'CNV_MFC'    , 'MOIST'        , 'CMFMC'      ,
                              'DQRC'       , 'MOIST'        , 'DQRCU'      ,
                              'DQRL'       , 'MOIST'        , 'DQRLSAN'    ,
                              'PFL_CN'     , 'MOIST'        , 'PFLCU'      ,
                              'PFI_CN'     , 'MOIST'        , 'PFICU'      ,
                              'PFL_LSAN'   , 'MOIST'        , 'PFLLSAN'    ,
                              'PFI_LSAN'   , 'MOIST'        , 'PFILSAN'    ,
                              'REVSU_CN'   , 'MOIST'        , 'REEVAPCN'   ,
                              'REVSU_LSAN' , 'MOIST'        , 'REEVAPLSAN' ,
                               ::

  tavg3_3d_rad_Cp.format:    'CFIO',
  tavg3_3d_rad_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_rad_Cp.mode:      'time-averaged',
  tavg3_3d_rad_Cp.frequency:  030000,
  tavg3_3d_rad_Cp.duration:   030000,
  tavg3_3d_rad_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_rad_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_rad_Cp.resolution: @HSRES1,
  tavg3_3d_rad_Cp.xyoffset:   3,
  tavg3_3d_rad_Cp.vscale:     100.0,
  tavg3_3d_rad_Cp.vunit:      'hPa',
  tavg3_3d_rad_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_rad_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_rad_Cp.fields:     'FCLD'     , 'MOIST'        ,  'CLOUD'       ,
                              'RADLW'    , 'RADIATION'    ,  'DTDTLWR'     ,
                              'RADLWC'   , 'RADIATION'    ,  'DTDTLWRCLR'  ,
                              'RADSW'    , 'RADIATION'    ,  'DTDTSWR'     ,
                              'RADSWC'   , 'RADIATION'    ,  'DTDTSWRCLR'  ,
                               ::

  tavg3_3d_trb_Cp.format:    'CFIO',
  tavg3_3d_trb_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_trb_Cp.mode:      'time-averaged',
  tavg3_3d_trb_Cp.frequency:  030000,
  tavg3_3d_trb_Cp.duration:   030000,
  tavg3_3d_trb_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_trb_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_trb_Cp.resolution: @HSRES1,
  tavg3_3d_trb_Cp.xyoffset:   3,
  tavg3_3d_trb_Cp.vscale:     100.0,
  tavg3_3d_trb_Cp.vunit:      'hPa',
  tavg3_3d_trb_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_trb_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_trb_Cp.fields:     'KM'      , 'TURBULENCE'    ,
                              'KMLS'    , 'TURBULENCE'    ,
                              'EKM'     , 'TURBULENCE'    , 'KMLK' ,
                              'KH'      , 'TURBULENCE'    ,
                              'KHLS'    , 'TURBULENCE'    ,
                              'EKH'     , 'TURBULENCE'    , 'KHLK' ,
                              'KHRAD'   , 'TURBULENCE'    ,
                              'KHSFC'   , 'TURBULENCE'    ,
                              'RI'      , 'TURBULENCE'    ,
                               ::

  tavg3_3d_tdt_Cp.format:    'CFIO',
  tavg3_3d_tdt_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_tdt_Cp.mode:      'time-averaged',
  tavg3_3d_tdt_Cp.frequency:  030000,
  tavg3_3d_tdt_Cp.duration:   030000,
  tavg3_3d_tdt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_tdt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_tdt_Cp.resolution: @HSRES1,
  tavg3_3d_tdt_Cp.xyoffset:   3,
  tavg3_3d_tdt_Cp.vscale:     100.0,
  tavg3_3d_tdt_Cp.vunit:      'hPa',
  tavg3_3d_tdt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_tdt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_tdt_Cp.fields:     'DTDTRAD'  , 'PHYSICS'       ,
                              'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                              'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                              'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                              'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                              'DTDTTOT'  , 'PHYSICS'       ,
                              'DTDTDYN'  , 'DYN'           ,
                              'DTDT_ANA' , 'AGCM'          ,  'DTDTANA'    ,
                               ::

  tavg3_3d_udt_Cp.format:    'CFIO',
  tavg3_3d_udt_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_udt_Cp.mode:      'time-averaged',
  tavg3_3d_udt_Cp.frequency:  030000,
  tavg3_3d_udt_Cp.duration:   030000,
  tavg3_3d_udt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_udt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_udt_Cp.resolution: @HSRES1,
  tavg3_3d_udt_Cp.xyoffset:   3,
  tavg3_3d_udt_Cp.vscale:     100.0,
  tavg3_3d_udt_Cp.vunit:      'hPa',
  tavg3_3d_udt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_udt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_udt_Cp.fields:     'DUDT'     , 'MOIST'         ,  'DUDTMST'    ,
                              'UIT'      , 'PHYSICS'       ,  'DUDTTRB'    ,
                              'DUDT'     , 'GWD'           ,  'DUDTGWD'    ,
                              'DUDTDYN'  , 'DYN'           ,
                              'DUDT_ANA' , 'AGCM'          ,  'DUDTANA'    ,
                              'DVDT'     , 'MOIST'         ,  'DVDTMST'    ,
                              'VIT'      , 'PHYSICS'       ,  'DVDTTRB'    ,
                              'DVDT'     , 'GWD'           ,  'DVDTGWD'    ,
                              'DVDTDYN'  , 'DYN'           ,
                              'DVDT_ANA' , 'AGCM'          ,  'DVDTANA'    ,
                               ::

  tavg3_3d_qdt_Cp.format:    'CFIO',
  tavg3_3d_qdt_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_qdt_Cp.mode:      'time-averaged',
  tavg3_3d_qdt_Cp.frequency:  030000,
  tavg3_3d_qdt_Cp.duration:   030000,
  tavg3_3d_qdt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_qdt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_qdt_Cp.resolution: @HSRES1,
  tavg3_3d_qdt_Cp.xyoffset:   3,
  tavg3_3d_qdt_Cp.vscale:     100.0,
  tavg3_3d_qdt_Cp.vunit:      'hPa',
  tavg3_3d_qdt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_qdt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_qdt_Cp.fields:     'DQDT'      , 'MOIST'         ,  'DQVDTMST'   ,
                              'QVIT'      , 'PHYSICS'       ,  'DQVDTTRB'   ,
                              'H2O_TEND'  , 'CHEMISTRY'     ,  'DQVDTCHM'   ,
                              'DQVDTDYN'  , 'DYN'           ,
                              'DQVDT_ANA' , 'AGCM'          ,  'DQVDTANA'   ,
                              'DQIDT'     , 'MOIST'         ,  'DQIDTMST'   ,
                              'QILSIT'    , 'PHYSICS'       ,  'DQIDTTRB'   ,
                              'DQIDTDYN'  , 'DYN'           ,
                              'DQLDT'     , 'MOIST'         ,  'DQLDTMST'   ,
                              'QLLSIT'    , 'PHYSICS'       ,  'DQLDTTRB'   ,
                              'DQLDTDYN'  , 'DYN'           ,
                               ::

  tavg3_3d_odt_Cp.format:    'CFIO',
  tavg3_3d_odt_Cp.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_odt_Cp.mode:      'time-averaged',
  tavg3_3d_odt_Cp.frequency:  030000,
  tavg3_3d_odt_Cp.duration:   030000,
  tavg3_3d_odt_Cp.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_odt_Cp.end_time:  >>>IOETIME<<< ,
  tavg3_3d_odt_Cp.resolution: @HSRES1,
  tavg3_3d_odt_Cp.xyoffset:   3,
  tavg3_3d_odt_Cp.vscale:     100.0,
  tavg3_3d_odt_Cp.vunit:      'hPa',
  tavg3_3d_odt_Cp.vvars:      'log(PLE)' , 'DYN'          ,   
  tavg3_3d_odt_Cp.levels:      1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1,
  tavg3_3d_odt_Cp.fields:     'OXIM'      , 'PHYSICS'       , 'DOXDTMST'  ,
                              'OXIT'      , 'PHYSICS'       , 'DOXDTTRB'  ,
                              'OX_TEND'   , 'CHEMISTRY'     , 'DOXDTCHM'  ,
                              'DOXDTDYN'  , 'DYN'           ,
                              'DO3DT_ANA' , 'AGCM'          , 'DOXDTANA'  ,
                               ::

  tavg1_2d_slv_Nx.format:    'CFIO',
  tavg1_2d_slv_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_slv_Nx.mode:      'time-averaged',
  tavg1_2d_slv_Nx.frequency:  010000,
  tavg1_2d_slv_Nx.duration:   010000,
  tavg1_2d_slv_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_slv_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_slv_Nx.fields:     'SLP'       , 'DYN'        ,
                              'PS'        , 'DYN'        ,
                              'U850'      , 'DYN'        ,
                              'U500'      , 'DYN'        ,
                              'U250'      , 'DYN'        ,
                              'V850'      , 'DYN'        ,
                              'V500'      , 'DYN'        ,
                              'V250'      , 'DYN'        ,
                              'T850'      , 'DYN'        ,
                              'T500'      , 'DYN'        ,
                              'T250'      , 'DYN'        ,
                              'Q850'      , 'DYN'        ,
                              'Q500'      , 'DYN'        ,
                              'Q250'      , 'DYN'        ,
                              'H1000'     , 'DYN'        ,
                              'H850'      , 'DYN'        ,
                              'H500'      , 'DYN'        ,
                              'H250'      , 'DYN'        ,
                              'OMEGA500'  , 'DYN'        ,
                              'U10M'      , 'SURFACE'    ,
                              'U2M'       , 'SURFACE'    ,
                              'U50M'      , 'DYN'        ,
                              'V10M'      , 'SURFACE'    ,
                              'V2M'       , 'SURFACE'    ,
                              'V50M'      , 'DYN'        ,
                              'T10M'      , 'SURFACE'    ,
                              'T2M'       , 'SURFACE'    ,
                              'Q10M'      , 'SURFACE'    ,  'QV10M' ,
                              'Q2M'       , 'SURFACE'    ,  'QV2M'  ,
                              'TS'        , 'SURFACE'    ,
                              'D0'        , 'SURFACE'    ,  'DISPH'  ,
                              'TROPP_EPV'     , 'AGCM'   ,  'TROPPV' ,
                              'TROPP_THERMAL' , 'AGCM'   ,  'TROPPT' ,
                              'TROPP_BLENDED' , 'AGCM'   ,  'TROPPB' ,
                              'TROPT'         , 'AGCM'   ,
                              'TROPQ'         , 'AGCM'   ,
                              'CLDPRS'    , 'SOLAR'      ,
                              'CLDTMP'    , 'SOLAR'      ,
                               ::

  tavg1_2d_flx_Nx.format:    'CFIO',
  tavg1_2d_flx_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_flx_Nx.mode:      'time-averaged',
  tavg1_2d_flx_Nx.frequency:  010000,
  tavg1_2d_flx_Nx.duration:   010000,
  tavg1_2d_flx_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_flx_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_flx_Nx.fields:     'LHFX'      , 'SURFACE'    ,  'EFLUX'   ,
                              'EVAP'      , 'SURFACE'    ,
                              'SH'        , 'SURFACE'    ,  'HFLUX'   ,
                              'TAUX'      , 'SURFACE'    ,
                              'TAUY'      , 'SURFACE'    ,
                              'TAUGWX'    , 'GWD'        ,
                              'TAUGWY'    , 'GWD'        ,
                              'ZPBL'      , 'TURBULENCE' ,  'PBLH'    ,
                              'D0'        , 'SURFACE'    ,  'DISPH'   ,
                              'BSTAR'     , 'SURFACE'    ,
                              'USTAR'     , 'SURFACE'    ,
                              'TSTAR'     , 'SURFACE'    ,
                              'QSTAR'     , 'SURFACE'    ,
                              'RI'        , 'SURFACE'    ,
                              'Z0H'       , 'SURFACE'    ,
                              'Z0'        , 'SURFACE'    ,  'Z0M'     ,
                              'DZ'        , 'DYN'        ,  'HLML'    ,
                              'TA'        , 'DYN'        ,  'TLML'    ,
                              'QA'        , 'DYN'        ,  'QLML'    ,
                              'US'        , 'DYN'        ,  'ULML'    ,
                              'VS'        , 'DYN'        ,  'VLML'    ,
                              'RHOS'      , 'SURFACE'    ,  'RHOA'    ,
                              'VENT'      , 'SURFACE'    ,  'SPEED'   ,
                              'CT'        , 'SURFACE'    ,  'CDH'     ,
                              'CQ'        , 'SURFACE'    ,  'CDQ'     ,
                              'CM'        , 'SURFACE'    ,  'CDM'     ,
                              'CN'        , 'SURFACE'    ,
                              'THAT'      , 'SURFACE'    ,  'TSH'     ,
                              'QHAT'      , 'SURFACE'    ,  'QSH'     ,
                              'FRACI'     , 'SURFACE'    ,  'FRSEAICE' ,
                              'AN_PRCP'   , 'MOIST'      ,  'PRECANV' ,
                              'CN_PRCP'   , 'MOIST'      ,  'PRECCON' ,
                              'LS_PRCP'   , 'MOIST'      ,  'PRECLSC' ,
                              'SNO'       , 'MOIST'      ,  'PRECSNO' ,
                              'TPREC'     , 'MOIST'      ,  'PRECTOT' ,
                              'PGENTOT'   , 'MOIST'      ,
                              'PREVTOT'   , 'MOIST'      ,
                               ::

  tavg1_2d_rad_Nx.format:    'CFIO',
  tavg1_2d_rad_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_rad_Nx.mode:      'time-averaged',
  tavg1_2d_rad_Nx.frequency:  010000,
  tavg1_2d_rad_Nx.duration:   010000,
  tavg1_2d_rad_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_rad_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_rad_Nx.fields:     'EMIS'      , 'SURFACE'    ,
                              'TS'        , 'SURFACE'    ,
                              'ALBEDO'    , 'SOLAR'      ,
                              'ALBNF'     , 'SOLAR'      ,  'ALBNIRDF'    ,
                              'ALBNR'     , 'SOLAR'      ,  'ALBNIRDR'    ,
                              'ALBVF'     , 'SOLAR'      ,  'ALBVISDF'    ,
                              'ALBVR'     , 'SOLAR'      ,  'ALBVISDR'    ,
                              'SFCEM'     , 'IRRAD'      ,  'LWGEM'       ,
                              'LWS'       , 'IRRAD'      ,  'LWGAB'       ,
                              'LCS'       , 'IRRAD'      ,  'LWGABCLR'    ,
                              'LAS'       , 'IRRAD'      ,  'LWGABCLRCLN' ,
                              'FLNS'      , 'IRRAD'      ,  'LWGNT'       ,
                              'FLNSC'     , 'IRRAD'      ,  'LWGNTCLR'    ,
                              'FLNSA'     , 'IRRAD'      ,  'LWGNTCLRCLN' ,
                              'OLR'       , 'IRRAD'      ,  'LWTUP'       ,
                              'OLC'       , 'IRRAD'      ,  'LWTUPCLR'    ,
                              'OLA'       , 'IRRAD'      ,  'LWTUPCLRCLN' ,
                              'SLRTP'     , 'SOLAR'      ,  'SWTDN'       ,
                              'SLRSF'     , 'SOLAR'      ,  'SWGDN'       ,
                              'SLRSFC'    , 'SOLAR'      ,  'SWGDNCLR'    ,
                              'RSRS'      , 'SOLAR'      ,  'SWGNT'       ,
                              'RSCS'      , 'SOLAR'      ,  'SWGNTCLR'    ,
                              'RSRSNA'    , 'SOLAR'      ,  'SWGNTCLN'    ,
                              'RSCSNA'    , 'SOLAR'      ,  'SWGNTCLRCLN' ,
                              'RSR'       , 'SOLAR'      ,  'SWTNT'       ,
                              'RSC'       , 'SOLAR'      ,  'SWTNTCLR'    ,
                              'RSRNA'     , 'SOLAR'      ,  'SWTNTCLN'    ,
                              'RSCNA'     , 'SOLAR'      ,  'SWTNTCLRCLN' ,
                              'TAUHI'     , 'SOLAR'      ,  'TAUHGH'      ,
                              'TAULO'     , 'SOLAR'      ,  'TAULOW'      ,
                              'TAUMD'     , 'SOLAR'      ,  'TAUMID'      ,
                              'TAUTT'     , 'SOLAR'      ,  'TAUTOT'      ,
                              'CLDHI'     , 'SOLAR'      ,  'CLDHGH'      ,
                              'CLDLO'     , 'SOLAR'      ,  'CLDLOW'      ,
                              'CLDMD'     , 'SOLAR'      ,  'CLDMID'      ,
                              'CLDTT'     , 'SOLAR'      ,  'CLDTOT'      ,
                               ::

  tavg1_2d_lnd_Nx.format:    'CFIO',
  tavg1_2d_lnd_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_lnd_Nx.mode:      'time-averaged',
  tavg1_2d_lnd_Nx.frequency:  010000,
  tavg1_2d_lnd_Nx.duration:   010000,
  tavg1_2d_lnd_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_lnd_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_lnd_Nx.fields:     'GRN'       , 'SURFACE'    ,
                              'LAI'       , 'SURFACE'    ,
                              'WET2'      , 'SURFACE'    ,  'GWETROOT' ,
                              'WET1'      , 'SURFACE'    ,  'GWETTOP'  ,
                              'TPSNOW'    , 'SURFACE'    ,
                              'TPUNST'    , 'SURFACE'    ,  'TUNST'    ,
                              'TPSAT'     , 'SURFACE'    ,  'TSAT'     ,
                              'TPWLT'     , 'SURFACE'    ,  'TWLT'     ,
                              'SNO'       , 'MOIST'      ,  'PRECSNO'  ,
                              'TPREC'     , 'MOIST'      ,  'PRECTOT'  ,
                              'TSLAND'    , 'SURFACE'    ,  'SNOMAS'   ,
                              'SNOWDP'    , 'SURFACE'    ,  'SNODP'    ,
                              'EVPSOI'    , 'SURFACE'    ,  'EVPSOIL'  ,
                              'EVPVEG'    , 'SURFACE'    ,  'EVPTRNS'  ,
                              'EVPINT'    , 'SURFACE'    ,  'EVPINTR'  ,
                              'EVPICE'    , 'SURFACE'    ,  'EVPSBLN'  ,
                              'RUNSURF'   , 'SURFACE'    ,  'RUNOFF'   ,
                              'BASEFLOW'  , 'SURFACE'    ,
                              'SMLAND'    , 'SURFACE'    ,
                              'FRUST'     , 'SURFACE'    ,  'FRUNST'   , 
                              'FRSAT'     , 'SURFACE'    ,
                              'ASNOW'     , 'SURFACE'    ,  'FRSNO'    ,
                              'FRWLT'     , 'SURFACE'    ,
                              'DFPAR'     , 'SOLAR'      ,  'PARDF'    ,
                              'DRPAR'     , 'SOLAR'      ,  'PARDR'    ,
                              'SHLAND'    , 'SURFACE'    ,
                              'LHLAND'    , 'SURFACE'    ,
                              'EVLAND'    , 'SURFACE'    ,
                              'LWLAND'    , 'SURFACE'    ,
                              'SWLAND'    , 'SURFACE'    ,
                              'GHLAND'    , 'SURFACE'    ,
                              'TWLAND'    , 'SURFACE'    ,
                              'TELAND'    , 'SURFACE'    ,
                              'DWLAND'    , 'SURFACE'    ,  'WCHANGE'  ,
                              'DHLAND'    , 'SURFACE'    ,  'ECHANGE'  ,
                              'SPLAND'    , 'SURFACE'    ,
                              'SPWATR'    , 'SURFACE'    ,
                              'SPSNOW'    , 'SURFACE'    ,
                               ::

  tavg1_2d_ocn_Nx.format:    'CFIO',
  tavg1_2d_ocn_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_ocn_Nx.mode:      'time-averaged',
  tavg1_2d_ocn_Nx.frequency:  010000,
  tavg1_2d_ocn_Nx.duration:   010000,
  tavg1_2d_ocn_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_ocn_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_ocn_Nx.fields:     'U10M'     , 'SURFACE'     ,
                              'V10M'     , 'SURFACE'     , 
                              'T10M'     , 'SURFACE'     ,
                              'Q10M'     , 'SURFACE'     ,
                              'SHWTR'    , 'SURFACE'     , 
                              'SHICE'    , 'SURFACE'     , 
                              'HLATWTR'  , 'SURFACE'     , 
                              'HLATICE'  , 'SURFACE'     , 
                              'LWNDWTR'  , 'SURFACE'     ,
                              'LWNDICE'  , 'SURFACE'     ,
                              'SWNDWTR'  , 'SURFACE'     ,
                              'SWNDICE'  , 'SURFACE'     ,
                              'SNOWOCN'  , 'SURFACE'     ,
                              'RAINOCN'  , 'SURFACE'     ,
                              'TAUXW'    , 'SURFACE'     ,  'TAUXWTR'  ,
                              'TAUYW'    , 'SURFACE'     ,  'TAUYWTR'  ,
                              'TAUXI'    , 'SURFACE'     ,  'TAUXICE'  ,
                              'TAUYI'    , 'SURFACE'     ,  'TAUYICE'  ,
                              'FRACI'    , 'SURFACE'     ,  'FRSEAICE' ,
                               ::

  tavg1_2d_int_Nx.format:    'CFIO',
  tavg1_2d_int_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg1_2d_int_Nx.mode:      'time-averaged',
  tavg1_2d_int_Nx.frequency:  010000,
  tavg1_2d_int_Nx.duration:   010000,
  tavg1_2d_int_Nx.end_date:  >>>IOEDATE<<< ,
  tavg1_2d_int_Nx.end_time:  >>>IOETIME<<< ,
  tavg1_2d_int_Nx.fields:     'DMDTDYN'      , 'DYN'        , 'DMDT_DYN'  ,
                              'DMDTANA'      , 'DYN'        , 'DMDT_ANA'  ,
                              'DQVDTDYNINT'  , 'DYN'        , 'DQVDT_DYN' ,
                              'DQVDTPHYINT'  , 'PHYSICS'    , 'DQVDT_PHY' ,
                              'DQVDTANAINT'  , 'DYN'        , 'DQVDT_ANA' ,
                              'DQVDTMSTINT'  , 'PHYSICS'    , 'DQVDT_MST' ,
                              'DQVDTTRBINT'  , 'PHYSICS'    , 'DQVDT_TRB' ,
                              'DQVDTCHMINT'  , 'PHYSICS'    , 'DQVDT_CHM' ,
                              'DQLDTDYNINT'  , 'DYN'        , 'DQLDT_DYN' ,
                              'DQLDTPHYINT'  , 'PHYSICS'    , 'DQLDT_PHY' ,
                              'DQLDTANAINT'  , 'DYN'        , 'DQLDT_ANA' ,
                              'DQLDTMSTINT'  , 'PHYSICS'    , 'DQLDT_MST' ,
                              'DQIDTDYNINT'  , 'DYN'        , 'DQIDT_DYN' ,
                              'DQIDTPHYINT'  , 'PHYSICS'    , 'DQIDT_PHY' ,
                              'DQIDTANAINT'  , 'DYN'        , 'DQIDT_ANA' ,
                              'DQIDTMSTINT'  , 'PHYSICS'    , 'DQIDT_MST' ,
                              'DOXDTDYNINT'  , 'DYN'        , 'DOXDT_DYN' ,
                              'DOXDTPHYINT'  , 'PHYSICS'    , 'DOXDT_PHY' ,
                              'DOXDTANAINT'  , 'DYN'        , 'DOXDT_ANA' ,
                              'DOXDTCHMINT'  , 'PHYSICS'    , 'DOXDT_CHM' ,
                              'KEDYN'        , 'DYN'        , 'DKDT_DYN'  ,
                              'KEPHY'        , 'DYN'        , 'DKDT_PHY'  ,
                              'KEANA'        , 'DYN'        , 'DKDT_ANA'  ,
                              'KEPHY'        , 'PHYSICS'    , 'DKDT_PHYPHY'  ,
                              'PEDYN'        , 'DYN'        , 'DHDT_DYN'  ,
                              'PEPHY'        , 'DYN'        , 'DHDT_PHY'  ,
                              'PEANA'        , 'DYN'        , 'DHDT_ANA'  ,
                              'PERES'        , 'AGCM'       , 'DHDT_RES'  ,
                              'TEDYN'        , 'DYN'        , 'DPDT_DYN'  ,
                              'TEPHY'        , 'DYN'        , 'DPDT_PHY'  ,
                              'TEANA'        , 'DYN'        , 'DPDT_ANA'  ,
                              'UCPT'         , 'DYN'        , 'UFLXCPT'   ,
                              'VCPT'         , 'DYN'        , 'VFLXCPT'   ,
                              'UPHI'         , 'DYN'        , 'UFLXPHI'   ,
                              'VPHI'         , 'DYN'        , 'VFLXPHI'   ,
                              'UKE'          , 'DYN'        , 'UFLXKE'    ,
                              'VKE'          , 'DYN'        , 'VFLXKE'    ,
                              'UQV'          , 'DYN'        , 'UFLXQV'    ,
                              'VQV'          , 'DYN'        , 'VFLXQV'    ,
                              'UQL'          , 'DYN'        , 'UFLXQL'    ,
                              'VQL'          , 'DYN'        , 'VFLXQL'    ,
                              'UQI'          , 'DYN'        , 'UFLXQI'    ,
                              'VQI'          , 'DYN'        , 'VFLXQI'    ,
                              'QFIXER'       , 'DYN'        , 'TEFIXER'   ,
                              'CONVCPT'      , 'DYN'        ,
                              'CONVPHI'      , 'DYN'        ,
                              'CONVKE'       , 'DYN'        ,
                              'CONVTHV'      , 'DYN'        ,
                              'KEGEN'        , 'DYN'        , 'DKDT_GEN'    ,
                              'KEPG'         , 'DYN'        , 'DKDT_PG'     ,
                              'KEREMAP'      , 'DYN'        , 'DKDT_REMAP'  ,
                              'DKERESIN'     , 'DYN'        , 'DKDT_INRES'  ,
                              'DKERESPG'     , 'DYN'        , 'DKDT_PGRES'  ,
                              'PEREMAP'      , 'DYN'        , 'DHDT_REMAP'  ,
                              'TEREMAP'      , 'DYN'        , 'DPDT_REMAP'  ,
                              'KEGWD'        , 'GWD'        , 'DKDT_GWD'    ,
                              'KERAY'        , 'GWD'        , 'DKDT_RAY'    ,
                              'KEBKG'        , 'GWD'        , 'DKDT_BKG'    ,
                              'KEORO'        , 'GWD'        , 'DKDT_ORO'    ,
                              'KERES'        , 'GWD'        , 'DKDT_GWDRES' ,
                              'BKGERR'       , 'GWD'        ,
                              'PEGWD'        , 'GWD'        , 'DHDT_GWD'    ,
                              'PERAY'        , 'GWD'        , 'DHDT_RAY'    ,
                              'PEBKG'        , 'GWD'        , 'DHDT_BKG'    ,
                              'PEORO'        , 'GWD'        , 'DHDT_ORO'    ,
                              'KETRB'        , 'TURBULENCE' , 'DKDT_TRB'    ,
                              'KESRF'        , 'TURBULENCE' , 'DKDT_SRF'    ,
                              'KEINT'        , 'TURBULENCE' , 'DKDT_INT'    ,
                              'KETOP'        , 'TURBULENCE' , 'DKDT_TOP'    ,
                              'KEMST'        , 'MOIST'      , 'DKDT_MST'    ,
                              'PETRB'        , 'PHYSICS'    , 'DHDT_TRB'    ,
                              'PEMST'        , 'PHYSICS'    , 'DHDT_MST'    ,
                              'PEFRI'        , 'PHYSICS'    , 'DHDT_FRI'    ,
                              'PERAD'        , 'PHYSICS'    , 'DHDT_RAD'    ,
                              'PECUF'        , 'PHYSICS'    , 'DHDT_CUF'    ,
                              'QTFILL'       , 'AGCM'       ,
                              'QVFILL'       , 'AGCM'       , 'DQVDT_FIL'   ,
                              'QIFILL'       , 'AGCM'       , 'DQIDT_FIL'   ,
                              'QLFILL'       , 'AGCM'       , 'DQLDT_FIL'   ,
                              'OXFILL'       , 'AGCM'       , 'DOXDT_FIL'   ,
                              'SH'           , 'SURFACE'    , 'HFLUX'       ,
                              'EVAP'         , 'SURFACE'    ,
                              'PCU'          , 'MOIST'      , 'PRECCU'      ,
                              'PLS'          , 'MOIST'      , 'PRECLS'      ,
                              'SNO'          , 'MOIST'      , 'PRECSN'      ,
                              'DTHVDTANAINT' , 'DYN'        , 'DTHDT_ANA'   ,
                              'DTHVDTPHYINT' , 'DYN'        , 'DTHDT_PHY'   ,
                              'DTHVDTDYNINT' , 'DYN'        , 'DTHDT_DYN'   ,
                              'DTHVDTREMAP'  , 'DYN'        , 'DTHDT_REMAP' ,
                              'DTHVDTCONSV'  , 'DYN'        , 'DTHDT_CONSV' ,
                              'DTHVDTFILINT' , 'AGCM'       , 'DTHDT_FIL'   ,
                              'OLR'          , 'IRRAD'      , 'LWTNET'      ,
                              'FLNS'         , 'IRRAD'      , 'LWGNET'      ,
                              'RSR'          , 'SOLAR'      , 'SWNETTOA'    ,
                              'RSRS'         , 'SOLAR'      , 'SWNETSRF'    ,
                              'PDFLZ'        , 'MOIST'      , 'LSCNVCL'     ,
                              'PDFIZ'        , 'MOIST'      , 'LSCNVCI'     ,
                              'ER_PRCP'      , 'MOIST'      , 'LSCNVRN'     ,
                              'CNVLZ'        , 'MOIST'      , 'CUCNVCL'     ,
                              'CNVIZ'        , 'MOIST'      , 'CUCNVCI'     ,
                              'CNVRNZ'       , 'MOIST'      , 'CUCNVRN'     ,
                              'EVPCZ'        , 'MOIST'      , 'EVPCL'       ,
                              'EVPPZ'        , 'MOIST'      , 'EVPRN'       ,
                              'SUBCZ'        , 'MOIST'      , 'SUBCI'       ,
                              'SUBPZ'        , 'MOIST'      , 'SUBSN'       ,
                              'AUTZ'         , 'MOIST'      , 'AUTCNVRN'    ,
                              'SDMZ'         , 'MOIST'      , 'SDMCI'       ,
                              'COLLLZ'       , 'MOIST'      , 'COLCNVRN'    ,
                              'COLLIZ'       , 'MOIST'      , 'COLCNVSN'    ,
                              'FRZCZ'        , 'MOIST'      , 'FRZCL'       ,
                              'FRZPZ'        , 'MOIST'      , 'FRZRN'       ,
                               ::

  inst1_2d_int_Nx.format:    'CFIO',
  inst1_2d_int_Nx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst1_2d_int_Nx.mode:      'instantaneous',
  inst1_2d_int_Nx.frequency:  010000,
  inst1_2d_int_Nx.duration:   010000,
  inst1_2d_int_Nx.end_date:  >>>IOEDATE<<< ,
  inst1_2d_int_Nx.end_time:  >>>IOETIME<<< ,
  inst1_2d_int_Nx.fields:     'TQV'         , 'AGCM'       ,
                              'TQI'         , 'AGCM'       ,
                              'TQL'         , 'AGCM'       ,
                              'TOX'         , 'AGCM'       ,
                              'MASS'        , 'AGCM'       ,
                              'KE'          , 'DYN'        ,
                              'CPT'         , 'AGCM'       ,
                              'THV'         , 'AGCM'       ,
                               ::

  tavg3_3d_chm_Fv.format:    'CFIO',
  tavg3_3d_chm_Fv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_chm_Fv.mode:      'time-averaged',
  tavg3_3d_chm_Fv.frequency:  030000,
  tavg3_3d_chm_Fv.duration:   030000,
  tavg3_3d_chm_Fv.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_chm_Fv.end_time:  >>>IOETIME<<< ,
  tavg3_3d_chm_Fv.resolution: @HSRES2,
  tavg3_3d_chm_Fv.fields:    'DELP'     , 'DYN'          ,
                             'T'        , 'DYN'          ,
                             'Q'        , 'MOIST'        , 'QV'       ,
                             'QITOT'    , 'AGCM'         , 'QI'       ,
                             'QLTOT'    , 'AGCM'         , 'QL'       ,
                             'U'        , 'DYN'          ,
                             'V'        , 'DYN'          ,
                             'CLLS'     , 'MOIST'        , 'CFLS'     ,
                             'CLCN'     , 'MOIST'        , 'CFAN'     ,
                             'CNV_UPDF' , 'MOIST'        , 'CFCU'     ,
                             'CN_PRCP'  , 'MOIST'        , 'DQRCON'   ,
                             'LS_PRCP'  , 'MOIST'        , 'DQRLSC'   ,
                             'AN_PRCP'  , 'MOIST'        , 'DQRANV'   ,
                             'CNV_MFD'  , 'MOIST'        , 'DTRAIN'   ,
                             'TAUCLI'   , 'SOLAR'        ,
                             'TAUCLW'   , 'SOLAR'        ,
                              ::

  tavg3_3d_chm_Fe.format:    'CFIO',
  tavg3_3d_chm_Fe.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_chm_Fe.mode:      'time-averaged',
  tavg3_3d_chm_Fe.frequency:  030000,
  tavg3_3d_chm_Fe.duration:   030000,
  tavg3_3d_chm_Fe.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_chm_Fe.end_time:  >>>IOETIME<<< ,
  tavg3_3d_chm_Fe.resolution: @HSRES2,
  tavg3_3d_chm_Fe.fields:    'MFZ'      , 'DYN'          ,
                             'CNV_MFC'  , 'MOIST'        , 'CMFMC'    ,
                             'PFL_LSAN' , 'MOIST'        , 'PFLLSAN'  ,
                             'PFI_LSAN' , 'MOIST'        , 'PFILSAN'  ,
                             'PFL_CN'   , 'MOIST'        , 'PFLCU'    ,
                             'PFI_CN'   , 'MOIST'        , 'PFICU'    ,
                             'KH'       , 'TURBULENCE'   ,
                              ::

  tavg3_2d_chm_Fx.format:    'CFIO',
  tavg3_2d_chm_Fx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_2d_chm_Fx.mode:      'time-averaged',
  tavg3_2d_chm_Fx.frequency:  030000,
  tavg3_2d_chm_Fx.duration:   030000,
  tavg3_2d_chm_Fx.end_date:  >>>IOEDATE<<< ,
  tavg3_2d_chm_Fx.end_time:  >>>IOETIME<<< ,
  tavg3_2d_chm_Fx.resolution: @HSRES2,
  tavg3_2d_chm_Fx.fields:    'AN_PRCP'  , 'MOIST'        , 'PRECANV'  ,
                             'CN_PRCP'  , 'MOIST'        , 'PRECCON'  ,
                             'LS_PRCP'  , 'MOIST'        , 'PRECLSC'  ,
                             'LS_ARF'   , 'MOIST'        , 'FRCLS'    ,
                             'AN_ARF'   , 'MOIST'        , 'FRCAN'    ,
                             'CN_ARF'   , 'MOIST'        , 'FRCCN'    ,
                             'SNO'      , 'MOIST'        , 'PRECSNO'  ,
                             'TS'       , 'SURFACE'      ,
                             'Q2M'      , 'SURFACE'      , 'QV2M'     ,
                             'T2M'      , 'SURFACE'      ,
                             'U10M'     , 'SURFACE'      ,
                             'V10M'     , 'SURFACE'      ,
                             'DFPAR'    , 'SOLAR'        , 'PARDF'    ,
                             'DRPAR'    , 'SOLAR'        , 'PARDR'    ,
                             'DFNIR'    , 'SOLAR'        , 'NIRDF'    ,
                             'DRNIR'    , 'SOLAR'        , 'NIRDR'    ,
                             'FLNS'     , 'IRRAD'        , 'LWGNET'   ,
                             'RSRS'     , 'SOLAR'        , 'SWGNET'   ,
                             'LWS'      , 'IRRAD'        , 'LWGDWN'   ,
                             'SLRSF'    , 'SOLAR'        , 'SWGDWN'   ,
                             'EVAP'     , 'SURFACE'      ,
                             'SH'       , 'SURFACE'      , 'HFLUX'    ,
                             'WET2'     , 'SURFACE'      , 'GWETROOT' ,
                             'WET1'     , 'SURFACE'      , 'GWETTOP'  ,
                             'CLDHI'    , 'SOLAR'        , 'CLDHGH'   ,
                             'CLDLO'    , 'SOLAR'        , 'CLDLOW'   ,
                             'CLDMD'    , 'SOLAR'        , 'CLDMID'   ,
                             'CLDTT'    , 'SOLAR'        , 'CLDTOT'   ,
                             'ZPBL'     , 'TURBULENCE'   , 'PBLH'     ,
                             'PPBL'     , 'TURBULENCE'   , 'PBLTOP'   ,
                             'PS'       , 'DYN'          ,
                              ::

  tavg3_3d_chm_Nv.format:    'CFIO',
  tavg3_3d_chm_Nv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_chm_Nv.mode:      'time-averaged',
  tavg3_3d_chm_Nv.frequency:  030000,
  tavg3_3d_chm_Nv.duration:   030000,
  tavg3_3d_chm_Nv.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_chm_Nv.end_time:  >>>IOETIME<<< ,
  tavg3_3d_chm_Nv.fields:    'MFX_UR'     , 'DYN'          , 'MFXC'     ,
                             'MFY_UR'     , 'DYN'          , 'MFYC'     ,
                             'U_CGRID'    , 'DYN'          , 'UC'       ,
                             'V_CGRID'    , 'DYN'          , 'VC'       ,
                             'CNV_MFD'    , 'MOIST'        , 'DTRAIN'   ,
                              ::

  tavg3_3d_chm_Ne.format:    'CFIO',
  tavg3_3d_chm_Ne.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3_3d_chm_Ne.mode:      'time-averaged',
  tavg3_3d_chm_Ne.frequency:  030000,
  tavg3_3d_chm_Ne.duration:   030000,
  tavg3_3d_chm_Ne.end_date:  >>>IOEDATE<<< ,
  tavg3_3d_chm_Ne.end_time:  >>>IOETIME<<< ,
  tavg3_3d_chm_Ne.fields:    'MFZ'      , 'DYN'          ,
                             'CNV_MFC'  , 'MOIST'        , 'CMFMC'    ,
                             'KH'       , 'TURBULENCE'   ,
                              ::

  inst3_3d_chm_Ne.format:    'CFIO',
  inst3_3d_chm_Ne.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3_3d_chm_Ne.mode:      'instantaneous',
  inst3_3d_chm_Ne.frequency:  030000,
  inst3_3d_chm_Ne.duration:   030000,
  inst3_3d_chm_Ne.end_date:  >>>IOEDATE<<< ,
  inst3_3d_chm_Ne.end_time:  >>>IOETIME<<< ,
  inst3_3d_chm_Ne.fields:    'PLE'      , 'DYN'          ,
                              ::


#######################################################################
#                 Background Files for Analysis 
#######################################################################

  bkg.eta.format:     'CFIO' ,
  bkg.eta.template:   '%y4%m2%d2_%h2z.nc4' ,
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
  bkg.eta.end_date:  >>>IOEBKGD<<< ,
  bkg.eta.end_time:  >>>IOEBKGT<<< ,
  bkg.eta.frequency:  @ASYNFRQ ,
  bkg.eta.duration:   @ASYNFRQ ,
  bkg.eta.mode:       'instantaneous',
  bkg.eta.fields:     'PHIS'     , 'SUPERDYNAMICS' , 'phis'         ,
                      'SGH'      , 'SUPERDYNAMICS' , 'hs_stdv'      ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U_DGRID'  , 'DYN'           , 'uwnd'         ,
                      'V_DGRID'  , 'DYN'           , 'vwnd'         ,
                      'THV'      , 'DYN'           , 'theta'        ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'LWI'      , 'SURFACE'       , 'lwi'          ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                       ::

  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2z.nc4' ,
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
  bkg.sfc.end_date:  >>>IOEBKGD<<< ,
  bkg.sfc.end_time:  >>>IOEBKGT<<< ,
  bkg.sfc.frequency:  @ASYNFRQ ,
  bkg.sfc.duration:   @ASYNFRQ ,
  bkg.sfc.mode:       'instantaneous',
  bkg.sfc.fields:     'PHIS'     , 'SUPERDYNAMICS' ,
                      'US'       , 'DYN'           , 'UA'        ,  
                      'VS'       , 'DYN'           , 'VA'        ,
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M'      , 'SURFACE'       ,
                      'V2M'      , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N'     , 'SURFACE'       , 'U10M'      ,
                      'V10N'     , 'SURFACE'       , 'V10M'      ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M'     , 'DYN'           ,
                      'V50M'     , 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                       ::
 
#######################################################################
#                         Const Files
#######################################################################

  const_2d_asm_Nx.format:   'CFIO',
  const_2d_asm_Nx.template: '%y4%m2%d2_%h2%n2z.nc4',
  const_2d_asm_Nx.mode:     'instantaneous',
  const_2d_asm_Nx.frequency:  240000,
  const_2d_asm_Nx.duration:   240000,
  const_2d_asm_Nx.end_date:  >>>IOEDATE<<< ,
  const_2d_asm_Nx.end_time:  >>>IOETIME<<< ,
  const_2d_asm_Nx.fields:     'PHIS'      , 'SUPERDYNAMICS' ,
                              'SGH'       , 'SUPERDYNAMICS' ,
                              'FRLAKE'    , 'SURFACE'       ,
                              'FRLAND'    , 'SURFACE'       ,
                              'FRLANDICE' , 'SURFACE'       ,
                              'FROCEAN'   , 'SURFACE'       ,
                              'AREA'      , 'DYN'           ,
                              ::

  const_2d_chm_Fx.format:    'CFIO',
  const_2d_chm_Fx.template:  '%y4%m2%d2_%h2%n2z.nc4',
  const_2d_chm_Fx.mode:      'instantaneous',
  const_2d_chm_Fx.frequency:  240000,
  const_2d_chm_Fx.duration:   240000,
  const_2d_chm_Fx.end_date:  >>>IOEDATE<<< ,
  const_2d_chm_Fx.end_time:  >>>IOETIME<<< ,
  const_2d_chm_Fx.resolution: @HSRES2,
  const_2d_chm_Fx.fields:     'PHIS'      , 'SUPERDYNAMICS' ,
                              'SGH'       , 'SUPERDYNAMICS' ,
                              'FRLAKE'    , 'SURFACE'       ,
                              'FRLAND'    , 'SURFACE'       ,
                              'FRLANDICE' , 'SURFACE'       ,
                              'FROCEAN'   , 'SURFACE'       ,
                              'AREA'      , 'DYN'           ,
                              ::

#######################################################################
#                            Trigger Files
#######################################################################

  prepqc_trigger.format:    'CFIO' ,
  prepqc_trigger.template:  '%y4%m2%d2_%h2%n200.nc4',
  prepqc_trigger.mode:      'instantaneous',
  prepqc_trigger.ref_date:  >>>IOBQCD<<< ,
  prepqc_trigger.ref_time:  >>>IOBQCT<<< ,
  prepqc_trigger.end_date:  >>>IOEQCD<<< ,
  prepqc_trigger.end_time:  >>>IOEQCT<<< ,
  prepqc_trigger.fields:    'TS'       , 'SURFACE'       , 'TSKIN'     ,
                             ::
