#!/bin/bash

{BATCH_HEADER}

#######################################################################
#                         System Settings 
#######################################################################

umask 022 
ulimit -s unlimited

#######################################################################
#           Architecture Specific Environment Variables
#######################################################################

export ARCH=`uname`

export SITE={SITE}
export GEOSDIR={GEOSDIR}
export GEOSBIN=$GEOSDIR/bin
export GEOSETC=$GEOSDIR/etc
export GEOSUTIL=$GEOSDIR
export GCMPY=$GEOSDIR/bin/gcmpy

#######################################################################
#                     Include gcmpy in PYTHONPATH
#######################################################################
 
export PYTHONPATH=$GCMPY

#######################################################################
#    Create internal folders in the experiment directory
#######################################################################

python3 $GCMPY/gcmpy/run_tools/dir_creation_ops.py -y {CONFIG_YAML_FILE}
